<div class="breadcrumbs">
	<a href="/">Главная</a>
	<span>></span>
	<p>О нас</p>
</div>
<div class="page">
	<br>
	<br>
	<h1 style="font-size: 22px">О компании</h1>
	<br>
	<p>Наша компания – это сеть розничных мебельных магазинов по продаже  корпусной мебели Парра  в Москве. Купить мебель для спальни или купить мебель в гостиную можно  в магазинах, расположенных во всех крупных мебельных и торговых центрах Москвы и Московской области. <a href="/stores">Где купить?</a></p>
	<br>
	<p>Для удобства покупателей создан интернет-магазин  модульной мебели PARRA-SHOP . Здесь представлен полный ассортимент мебели PARRA™, чтобы покупатель мог выбрать и купить корпусную мебель,  не выходя из дома.</p>
	<br>
	<p>Наша миссия – предоставить покупателям современную качественную европейскую мебель из натурального шпона по лучшим ценам.</p>
	<br>
	<p>Наша компания осуществляет полный спектр услуг по доставке, сборке, гарантийному и постгарантийному обслуживанию купленной у нас мебели.</p>
	<br>
	<br>
	<h2 style="font-size: 20px">Мебель Парра</h2>
	<br>
	<p>Торговая марка PARRA™ - европейский бренд мебели для дома, разработанный литовским концерном «SBA» в 2009 году.</p><br>
	<p>Новые коллекции для бренда создаются силами европейских дизайнеров с учетом последних тенденций мебельной моды и инноваций в области технологии производства мебели.</p><br>
	<p>Корпусная модульная мебель Парра производиться на нескольких предприятиях, расположенных в Европе и России. Фабрики оснащены самым современным оборудованием для всех технологических этапов производства. Однако, для того, чтобы гарантировать идеальный подбор рисунка и фактуры дерева на фасадах мебели, набор рубашек шпона производиться только вручную.</p><br>
	<p>Система управления качеством соответствует требованиям стандарта ISO 9001.Каждая выпускаемая партия мебели проходит контрольную сборку изделий.</p><br>
	<p>Продукция PARRA в настоящее время продается в Германии, России, странах Балтии, Скандинавии, Польше, Франции, Великобритании и других странах.</p>
	<br>
	<br>
	<br>
</div>