<script type="text/javascript">
$(document).ready(function(){

	$(".accordion h3").eq(0).addClass("active");
	$(".accordion .panel").hide();
$(".accordion .panel").eq(0).show();
	$(".accordion h3").click(function(){
		$(this).next(".panel").slideToggle("slow")
		.siblings(".panel:visible").slideUp("slow");

		$(this).toggleClass("active");
		$(this).siblings("h3").removeClass("active");
	});

});
</script>

<style type="text/css">
body {
	margin: 10px auto;
	width:auto;
	font: 75%/120% Arial, Helvetica, sans-serif;
}
.accordion {
	width: auto;
	border-bottom: solid 1px #4c3b4c;
}
.accordion h3 {
	background: White url(/assets/arrow-square.gif) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #4c3b4c;
	border-bottom: none;
	cursor: pointer;
	color: #4D3B4B;
}
.accordion h3:hover {
	background-color: #e3e2e2;
}
.accordion a {
	text-decoration: underline;
}
.accordion a:hover {
	color: #FFFFFF;	
}
.accordion h3.active {
	background-position: right 5px;
}
.panel {
	background: White;
	text-align:justify;
	margin: 0;
	padding:  10px 15px 20px;
	border-left: solid 1px #4c3b4c;
	border-right: solid 1px #4c3b4c;
}
</style>
<div style="margin-top:30px">
<p align="center" style="margin-bottom:20px;"><strong>Уважаемые Покупатели!</strong></p>
<p>Благодарим Вас за покупку и искренне надеемся, что  приобретенная мебель долгое время будет доставлять Вам только удовольствие.  Однако, во избежание проблем, способных омрачить радость покупки, просим Вас  принять к сведению настоящие <strong>Правила  эксплуатации и рекомендации по уходу за мебелью и следовать им.</strong><br />
  Каждый предмет мебели предназначен для  определенной цели использования, поэтому пользоваться любым предметом мебели  (мебельным изделием) следует только в соответствии с его функциональным  назначением.<br />
  Совершая выбор товара, проявляйте  осмотрительность в отношении размеров, формы, материала и иных подобных качеств  мебели, поскольку право на обмен товара надлежащего качества, предусматривает  ст.25 Закона РФ «О защите прав потребителей» от 07.02.92 2300-1, в соответствии  с Постановлением Правительства РФ ОТ 19.01.98 №55 на мебель не  распространяется.</p>

<div class="accordion">
 <h3 ><strong>Доставка мебели</strong></h3>
 <div class="panel">
<p>         Представляет собой перемещение  (погрузка, перевозка, разгрузка-подъем, транспортное экспедирование мебели с  места ее приобретения к указанному Покупателем   месту на дом и т.п.).<br />
  Мебель транспортируется всеми видами  транспорта в крытых транспортных средствах. Транспортирование мебели  осуществляется в соответствии с правилами перевозки грузов, действующих на  каждом виде транспорта. Транспортирование изделий мебели должно осуществляться  в соответствии с нанесенной на упаковку транспортной маркировкой и  манипуляционными знаками типа: «Осторожно! «Хрупкое», «Верх не кантовать»,  «Боится сырости « по ГОСТ 14192-77.<br />
  Рекомендуется пользоваться услугой по  доставке специализированных (имеющих пригодные для этих целей оборудование,  транспортные средства и персонал), лицензированных и сертифицированных в  установленном порядке организаций, поскольку в этом случае ответственность за  качество оказанной услуги и сохранность груза отвечает организация-перевозчик.<br />
  Не рекомендуется производить  самостоятельную доставку мебельных изделий <br />
  (за   исключением мало габаритных).</p>
<p>         Помните: недостатки мебели, ставшие  следствием самостоятельной доставки, не подлежат устранению в порядке гарантии.<br />
  При возврате на предприятие изделий  мебели от Покупателя (потребителя, магазинов и т.д.) должны быть обеспечены  меры ее сохранности:</p>
<ul>
  <li>вся возвращаемая  на предприятие мебель должна транспортироваться в приспособленном для перевозки  мебели транспорте;</li>
  <li>вся возвращаемая  на предприятие мебель должна поставляться в фабричной  упаковке;</li>
  <li>при отсутствии у  Покупателя фабричной упаковки допускается использование упаковки, аналогичной  фабричной;</li>
  <li>важно сохранять  маркировку (этикетки) на обратной стороне мебельных изделий.</li>
</ul>
</div>
<h3><strong>Сборка мебели</strong></h3>
<div class="panel">
<p>       Рекомендуется  пользоваться услугой по сборке квалифицированных (имеющих пригодные для этих  целей оборудование, инструменты, технологии и персонал) организаций, поскольку  в этом случае за качество услуги отвечает такая организация.<br />
  Не  рекомендуется производить самостоятельную сборку, приобретенной в разборном  виде, или ее «ремонт», «усовершенствование», а также прибегать к услугам  специалистов сомнительной квалификации. Очевидная на первый взгляд простота  сборки - кажущаяся: для правильной сборки необходим профессионализм (наличие  необходимых знаний и навыков; знание технологических особенностей изготовления  мебельных изделий различными предприятиями мебельной отрасли; знание свойств  материалов и конструкций; приемы обработки, последовательность монтажа и  подключения; совместимость и доступность применения дополнительного  оборудования и т.п.).</p>
<ul>
  <li>В случае самостоятельной сборки (производимой силами  Покупателя или третьих лиц);</li>
  <li>Необходимо руководствоваться схемой сборки  Изготовителя. В случае отклонения от схемы сборки и невыполнения  соответствующих требований и рекомендаций в ней отраженных, в процессе  эксплуатации могут появиться дефекты, за которые Изготовитель не отвечает;</li>
  <li>Не рекомендуется продолжать сборку при обнаружении в  процессе сборки дефекта, который не мог быть установлен при обычном способе  приемки. Устранение (замена) дефекта производится только в том случае, если не  нарушены технологические отверстия (подтверждающие, что дефект не прошел во  время неквалифицированной сборки) и при наличии упаковки на данный товар.</li>
</ul>
<p>&nbsp;</p>
<p><strong><em>Внимание!  В случае самостоятельной или неквалифицированной сборки возможно не только  возникновение недостатков в изделиях (их элементах) и, как следствие утрата  права на гарантийное обслуживание, но и возникновение опасности для жизни,  здоровья и/или сохранности имущества.</em></strong></p>
</div>
<h3><strong>Общие условия по эксплуатации  (хранению) и уходу</strong></h3>
<div class="panel">
<p><strong>         </strong>Срок,  в течение которого мебель сохраняет красоту и исправность, значительно зависит  от условий ее эксплуатации.<br />
  Придерживаясь некоторых простых  практических советов, Вы сможете поддержать всегда в наилучшем состоянии все  элементы Вашей мебели.</p>
<p align="left"><em><u>Климатические характеристики и  условия окружающей среды</u></em><br />
  Климатические характеристики и условия окружающей  среды оказывают большое влияние на внешний вид и качественные характеристики  мебели. Мебельные изделия чувствительны к свету, влажности, сухости, теплу и  холоду, поэтому рекомендуется избегать продолжительного воздействия одного или  нескольких этих условий, так как это вызывает ускоренное старение  лакокрасочного покрытия, коробление и деформацию деревянных элементов мебели,  старение материала обивки.</p>
<ul>
  <li><strong>Свет</strong></li>
</ul>
<p>Не  допускайте прямого воздействия солнечных лучей на мебельные изделия. <br />
  Продолжительное прямое воздействие света на некоторые  участки может вызвать понижение их цветовых характеристик по сравнению с  другими участками, которые меньше подвергались излучению. В случае замены и/или  добавления компонентов в различные моменты времени может возникнуть  цветовое различие элементов, составляющих  мебель.</p>
<ul>
  <li><strong>Температура</strong></li>
</ul>
<p>Высокое  значение тепла или холода, а также внезапные перепады могут серьезно повредить  мебельное изделие или его части. Мебельные изделия не должны быть расположены  менее 1м от источников тепла. Рекомендуемая температура воздуха при хранении  и/или эксплуатации от+10 до +25 градусов С. <br />
  Не допускайте попадания на мебельные изделия горячих  предметов (утюги, посуда с кипятком и т.п.) или продолжительного воздействия  вызывающих воздействие нагревание излучений (свет мощных ламп, неэкранированные  микроволновые излучения и т.п.).</p>
<ul>
  <li><strong>Влажность</strong></li>
</ul>
<p>Рекомендуемая  влажность местонахождения мебельного изделия 60%-70%.<br />
  Не следует поддерживать в течение продолжительного  времени условия крайней влажности или сухости в помещении, а тем более - их  периодической смены. С течением времени такие условия могут повлиять на  целостность мебельных изделий или элементов. Тем не менее, если вы создали  такие условия, то рекомендуется часто проветривать помещения и, по возможности,  - пользоваться сушителями или увлажнителями воздуха для нормализации влажности.  Поверхности мебели всегда должны быть сухими.</p>
<ul>
  <li><strong>Уход</strong></li>
</ul>
<p>Поверхности  деталей мебели следует протирать мягкой тканью (фланель, сукно, плюш, миткаль).  Уход за рабочими поверхностями (крышки, фасады   и т.п.), как правило, должен осуществляться мягкой влажной тканью,  поролоновой губкой или специальными щетками, возможно с применением  соответствующих моющих средств. Рекомендуется очистить любую часть мебели как  можно скорее после того, как она испачкалась. Если Вы оставляете загрязнение на  некоторое время, то заметно повышается опасность образования разводов, пятен и  повреждений мебельных изделий и их частей. В случае стойких загрязнений  рекомендуется использовать специальные очистители, которые в настоящее время  представлены в достаточно широком ассортименте и, помимо надлежащих очищающих  качеств, обладают полирующими, защитными, консервирующими, ароматизирующими и  иными полезными свойствами. В этом случае необходимо следовать инструкциям  производителей очистителей о порядке и области (для каких поверхностей и  материалов предназначены) их применения. При отсутствии специальных средств  допускается также уход  (чистка) с  применением небольшого количества водного раствора моющего средства (например,  2%-моющее средство, 98%-вода). По завершении любой чистки необходимо высушить  (насухо протереть) все части, которые подвергались влажной чистке.  Рекомендуется обратить особое внимание на внутренние и мало вентилируемые  части, на оконечности и на точки соединения.<br />
  <br />
  <strong>Помните</strong>, что нельзя использовать для чистки ткани, губки или  перчатки, пропитанные продуктами, которые не должны вступать в контакт с  очищаемыми материалами.</p>
<ul>
  <li><em>Агрессивные средства и абразивные материала</em></li>
</ul>
<p>Не  допускайте воздействия на мебельные изделия агрессивных жидкостей (кислот,  щелочей, масел, растворителей и т.п.), содержащих такие жидкости продуктов или  их паров. Подобные вещества и соединения являются химически активными - реакция  с ними повлечет негативные последствия для вашего имущества или даже здоровья.  Также стоит помнить, что некоторые специфические моющие (чистящие) составы  могут содержать высокую концентрацию агрессивных химических веществ и (или)  абразивные составы. Применение подобных моющих средств недопустимо! Уход за  мебелью следует осуществлять с применением только качественных, специально  предназначенных для этих целей чистящих и полирующих средств, в соответствии с  прилагаемыми к ним инструкциями.</p>
<ul>
  <li>Проветривание</li>
</ul>
<p>Рекомендуется  не заслонять решетки и воздухозаборные отверстия, необходимые для вентилирования  электробытовых приборов.</p></div>
<h3><strong>Особенности эксплуатации и ухода за  мебелью для сидения и лежания</strong></h3>
<div class="panel">
  <p align="left">  Мебель для сидения и лежания  (стулья, кровати, пуфы, скамейки)  функциональна, предназначена  только для  сидения и лежания соответственно. </p>
<p>Не рекомендуется вставать ногами на изделия. Во  избежание несчастных случаев и повреждения купленной Вами мебели не разрешайте  детям прыгать на кровати, диване, а также кататься на стульях и пуфах. <br />
  При эксплуатации  мебели для сидения  (стулья, пуфы,  диваны,   и т.п.) допускается  нагрузка:  в вертикальном&nbsp;  направлении – до 100&nbsp; кг; .В направлении, не совпадающем с вертикальной  осью – до 30 кг. <br />
  Во  избежание поломок указанной мебели при эксплуатации рекомендуется головную  спинку кровати (кроме детских и металлических) прислонять к стене или иной  плоской вертикальной опоре. <br />
  Не  проводите по поверхностям мебели и не ударяйте острыми (режущими) или тяжелыми  твердыми предметами.<br />
</p>
<p>                 <strong><u>Особенности ухода за мебелью для сидения и лежания</u></strong><br />
  Если  Ваша мебель имеет съемные покрытия, (матрас) для удаления загрязнений  пользуйтесь услугами специальных химчисток.<br />
  Помните: нет ни  одного вида обивочной ткани (съемного покрытия), которое можно было стирать.  Следовательно, в этой мебели использование воды для устранения загрязнений должно  быть ограничено.<br />
  Для  удаления пыли и поддержания Вашей мебели в надлежащем состоянии ткань можно  обрабатывать пылесосом.<br />
  Пыль  может быть также успешно удалена при помощи ткани, губки или мягкой щетки.</p>
</div>
<h3><strong>Особенности эксплуатации и ухода за корпусной мебелью </strong></h3>
<div class="panel">
<p><strong><u>Особенности  ухода за корпусной мебелью</u></strong><strong> </strong><br />
  При  уходе за декоративными и рабочими покрытиями должны применяться средства,  соответствующие характеру материала покрытия.&nbsp; Предлагаем Вашему вниманию  некоторые примеры:</p>
<ul>
  <li>Поверхности из  «ЛДСП (ламината)».  </li>
</ul>
<p>Помимо  общих условий ухода (см. выше) возможно применение полиролей для пластиков. <br />
  Избегайте  применения твердых приспособлений (скребки, губки с рабочим покрытием из  пластикового или металлического волокнообразного материала) при чистке.</p>
<ul>
  <li>Деревянные  поверхности (в том числе покрытые натуральным шпоном)</li>
</ul>
<p>Следует  помнить, что все деревянные поверхности со временем могут менять внешний вид не  только в зависимости от климатических характеристик и условий окружающей среды,  но и от того, как за ними ухаживал владелец.<br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Помимо общих условий ухода (см. выше) рекомендуется для чистки пользоваться  преимущественно мягкой тканью или замшей, смоченной и хорошо отжатой перед  использованием. Всегда тщательно высушивайте (протирайте сухой тканью)  смоченные участки по окончании чистки. Хорошей альтернативой является  систематическая сухая чистка с помощью пылесоса, оборудованного насадкой типа «мягкая  щетка».<br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Рекомендуется применение полиролей для дерева – внимательно познакомьтесь с  инструкцией! <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Категорически не допустимо применение твердых приспособлений (скребки, губки  с рабочим покрытием из пластикового или металлического волокнообразного  материала) при чистке.</em></p>
<ul>
  <li>Лакированные и  эмалевые поверхности</li>
</ul>
<p>Лакированные  поверхности со временем могут изменить цвет не только в зависимости от  климатических характеристик и условий окружающей среды, характера ухода, но,  самое главное - в зависимости от воздействия на них света. Рекомендуется для  чистки пользоваться преимущественно сухой мягкой тканью или замшей с  использованием специально предназначенных для этого очистителей, которые  зачастую имеют полирующие качества. Возможно применение полиролей для  лакированных поверхностей мебели, обладающие, как правило, и чистящими  свойствами.  Внимательно познакомьтесь с  инструкцией!<br />
    <em>Категорически недопустимо применение твердых приспособлений (скребки,  губки с рабочим покрытием из пластикового или металлического волокнообразного  материала) при чистке .Всегда тщательно высушивайте смоченные участки по  окончании чистки.</em> </p>
<ul>
  <li>Стеклянные и  зеркальные поверхности</li>
</ul>
<p>Прежде  всего, следует помнить, что стеклянные поверхности являются хрупкими и поэтому  могут разбиться в случае удара. Не проводите по поверхностям и не ударяйте их  тяжелыми твердыми предметами.<br />
  Для чистки используйте специальные  средства для стекол и зеркал. <br />
  Не  следует использовать средства, обладающие абразивными свойствами, а также губки  с покрытием из металлического волокнообразного или стружечного материала при  чистке.</p>
<ul>
  <li>Поверхности из  кожи</li>
</ul>
<p>В  случае, если Вы приобрели мебель с обивкой из искусственных, натуральных  материалов: кожа, замша и другие подобные материалы, то указанные материалы  могут изначально иметь неровности в окраске или структуре материалов.  Неравномерность рисунка является естественной характеристикой натуральной кожи,  подчеркивающей ее неповторимость, и не является дефектом. Хотя кожа является  прочным и удивительно легким в обращении материалом, однако вред ей могут  причинить высокая температура, обычные чистящие средства и воздействие прямого  солнечного света. В случае загрязнения указанной обивки можно пользоваться  специальными средствами для ухода, четко следуя инструкциям применения данных  средств. Пыль можно удалить пылесосом, специальной щеткой или мягкой тканью,  при этом не стоит сильно тереть поверхность, так как внешние волокна обивки  могут быть повреждены, и материал утратит свои качества и внешний вид.<strong></strong></p>
</div>
<h3><strong>Эксплуатация электробытовых приборов </strong></h3>
<div class="panel">
<p>  Для  эксплуатации, ухода и чистки электробытовых приборов и принадлежностей,  входящих в состав мебельного изделия (лампы и т.п.), Вам надлежит прочесть и  выполнять инструкции, содержащиеся в соответствующих руководствах по эксплуатации,  предлагаемых фирмами-изготовителями.</p></div>
<h3><strong>Полезная информация </strong> </h3>
<div class="panel">
<p>  После  определенного периода эксплуатации может случиться, что некоторые механические  части (петли, роликовые направляющие, выдвижной   механизм) утрачивают оптимальную регулировку и смазку, выполненные во  время сборки мебельного изделия. Подобные явления могут выражаться в скрипе,  затруднении открывания дверей или выдвижения ящиков и других подвижных частей,  механизмов  и т.п. Поэтому, при  эксплуатации мебели не следует прилагать чрезмерные усилия для открывания  дверей, выдвижных ящиков и других подвижных частей.&nbsp; Их надлежащая работа  обеспечивается путем своевременной регулировки петель, либо смазки направляющих  реек парафином или аналогичным по своим качествам средством. При ослаблении  узлов резьбовых соединений необходимо их периодически подтягивать. Потеря даже  одной гайки может привести к поломке раскладывающегося механизма либо  деревянного каркаса. Периодически, аккуратно производите смазку трущихся узлов  и механизмов специальными смазочными составами.<br />
  &nbsp;<strong>Уважаемые господа</strong>, сообщаем Вам, что  наши товары сертифицированы на соответствие российским требованиям безопасности  по системе ГОСТ-Р.<br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Надеемся, что выполнение вышеизложенных правил и рекомендаций не составит для  Вас большого труда, и Ваша мебель будет приносить Вам радость в течение многих  лет.<br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Помните,</strong> что несоблюдение  вышеизложенных правил и рекомендаций, повлекшее возникновение недостатков  мебельного изделия, является основанием утраты права на гарантийное  обслуживание.</p>
</div>

<h3><strong>Мебель от фабрики</strong> <strong>ЗАО «НОВО МЕБЕЛЬ»</strong></h3>
<div class="panel">
<p><strong><em>               Надеемся, что данная информация  будет чрезвычайно полезна и интересна всему персоналу компании, занятому в  торговом процессе.</em></strong></p>
<p>      Основное направление мебельной фабрики ЗАО  «Ново Мебель» -производство мебели, облицованной натуральным шпоном, который  является одним из самых распространенных материалов, используемых в мебельном  производстве. <br />
    <em>          </em><strong>Шпон</strong> - тонкий  слой древесины с текстурным рисунком, произведенный лущением, строганием, или  распиливанием бревен. Слово &quot;шпон&quot; происходит от немецкого &quot;spon&quot;, что означает &quot;щепка,  подкладка&quot;. В Германии для обозначения шпона сейчас используют другое  слово - &quot;furnier&quot;, похожее па русское  &quot;фанера&quot;, имеющее немецкие и французские корни.<br />
  Натуральный шпон в зависимости от способа производства может  быть колотым, пиленым, лущеным и строганым.<br />
  Технология производства шпона известна уже более 4000 лет.  Не случайно, что идея распиливать дерево на тонкие листы возникла в  высокоразвитой культуре Древнего Египта - стране, в которой кроме живительной  воды Нила, была только пустыня. Дерево в Древнем Египте было редкостью и  ценилось так же, как драгоценные камни, которые применялись для украшения мебели.  Итак, производство шпона возникло не там, где густые леса покрывают ландшафт, а  там, где древесина была дефицитным сырьём и существовала необходимость его  оптимального использования, люди того времени уже знали, как показать  естественную внутреннюю красоту древесины. <br />
  В зависимости от того, в каком направлении относительно  годичных колец древесины было произведено строгание, различают следующие виды  шпона: радиальный (Р), полурадиальный (ПР), тангентальный (Т). <br />
  Применение тонких слоев <strong>строганого шпона</strong> дало новый импульс  развитию мебельной промышленности. <em>А  технология<strong> </strong><strong>облицовывания</strong> позволила производить готовую продукцию из материалов, не подверженных  деформации и трещинам, характерным для массива дерева.</em> <br />
  Процесс<strong><em> облицовывания</em></strong> проходит в  несколько этапов: <em>подготовка поверхности  изделия</em> – <em>основы</em> и <em>подготовки строганого шпона</em>.</p>
<p><strong><em>        Подготовка строганого шпона. </em></strong> Профессиональное  мастерство и опыт здесь играют решающую роль. Высокий профессиональный уровень  требуется уже при определении и оценке качества шпона, при решении вопросов о  возможностях переработки с целью получения наилучшего рисунка, и, разумеется,  необходим, для правильной оценки готовой продукции. Сначала шпон нужно  раскроить.  Затем прифуговать (то есть  подогнать) кромки раскроенного листа шпона. Далее шпон подбирают в листы с  учетом их цвета, текстуры и ширины. По окончании подбора производят стяжку  (сшивание) полос шпона в листы. Процесс  сшивания облицовки («рубашки») осуществляется на современном ребросклеивающем  станке для склеивания шпона с помощью клеевой нити методом зигзаг фирмы KUPER  (Германия). Обеспечивается плотный шов, высокая прочность. <br />
  Далее процесс облицовывания, т.е. наклеивание шпона на  основу (ДСП, МДФ и т.д.)<br />
  На нашем производстве используется  шпон пород деревьев:<strong>  </strong><em>ясеня, дуба, ореха</em>, <em>вишни.</em></p>
<p><strong><em> ЯСЕНЬ-</em></strong>Древесина его светлая, слегка желтоватая, с хорошо выраженным характерным  рисунком текстуры на срезе. Годичные слои хорошо видны. Ясень хорошо поддается  механической обработке, а по твердости превосходит дуб, но при этом очень  эластичен. Сердцевинные лучи не заметны. Древесина ясеня по свойствам близка к  древесине дуба, поэтому их область применения примерно одинакова. Ясень обладает  высокой ударной вязкостью, хорошо гнется, не дает отщепов, используется в  мебельном производстве (<em>ценится наравне с красным деревом)</em>.</p>
<p><br />
    <strong><em>Дуб</em></strong><strong></strong>- одно  из наиболее часто встречающихся деревьев в лесах Северного Кавказа. В России  дуб - одно из самых долгоживущих деревьев. Древесина дуба - светло-коричневая.  Эта порода тяжелая, твердая и прочная. Очень стойкая к внешним воздействиям.  Несмотря на свою твердость, дуб хорошо обрабатывается любыми инструментами,  поддается отделке лаками и красителями. Обработанная поверхность очень гладкая.  Используется для изготовления шпона для облицовки, производства различной  мебели.</p>
<p><strong><em>ОРЕХ -</em></strong> отличаются  твердостью и прочностью, устойчив к внешним воздействиям.  Цвет натурального шпона  ореха   разнообразен и зависит от подвида дерева, из которого он изготовлен.</p>
<p><strong><em>ВИШНЯ  - </em></strong>произрастает во всей Европе, в Малой  Азии, США и некоторых зонах Центральной Америки, а также на юге и в средней  полосе нашей страны. Заболонь вишни узкая, желтоватая. Зрелая древесина  розово-коричневатая, иногда розово-сероватая. Структура древесины  ровноволокнистая с относительно равномерной текстурой. Древесина вишни очень  декоративная, имеет <em>теплый</em> <em>оттенок</em>. <strong><em>Шпон вишни</em></strong> высоко ценится в мебельном производстве, благодаря  красивому цвету древесины.</p>
<p><strong>Недостатки шпона:</strong></p>
<p><strong><em>  1.В силу природного происхождения материала очень сложно  иметь постоянство цвета и текстуры. </em></strong><br />
    <strong><em>  2.Применение больших человеческих и материальных ресурсов  при производстве шпона, которые отражаются на цене конечного продукта ...</em></strong><br />
  Как показывает современный рынок мебели, а  точнее разброс цен, можно заключить, что существует большое разнообразие  мебели. Всё дело в том, мебель какого класса вы приобретаете. Казалось бы,  какие могут быть различия? Полки, раздвижные двери, зеркала, стенки…. Но весь  секрет в том, из какого материала изготовлена мебель. Это почти как с одеждой  для людей: мы всегда можем определить «на глаз», где одевается наш собеседник,  на рынке или в хорошем магазине. Итак, во что же может быть «одета» мебель?  Самой «дешевой» одеждой являются меламин и ламинат. Всё дело в том, что это  искусственные материалы, а это так или иначе отражается на их внешнем виде и  экологической безопасности. Далее в ценовом ряду стоит натуральный шпон.  Кстати, мебель, полностью выполненная   из дерева, относится к третьей, последней, самой дорогой ценовой группе.  Без сомнения, такая мебель хороша, если выполнена из ценных пород деревьев, с  точным выполнением всех технологических предписаний. Однако в последнем вы сможете  убедиться спустя лишь год-два, когда станет понятно, начала ли рассыхаться ваша  мебель. Так что прежде чем сделать столь важную покупку, стоит подумать, а есть  ли смысл рисковать, если разница между мебелью, полностью сделанной из дерева,  и мебелью, облицованной натуральным шпоном, совершенно незаметна.</p></div>
<h3>Краткий словарь продавца-консультанта мебели.</h3>
<div class="panel">
<p>Знание терминов и определений - основа профессионализма. Их  незнание - основа неминуемых провалов в самом ближайшем будущем. <br />
  Будет более дальновидным предположить, что  продавец, не знающий даже, как правильно называется его товар, никогда не  сможет дать надежную консультацию относительно его наиболее целесообразного  применения. Он будет просто твердить то, что хотел бы услышать его  потенциальный покупатель, дезинформируя его и нанося ему тем самым существенные  убытки. <br />
  <br />
  <strong>ДСП </strong>- сокращенное наименование  древесностружечной плиты, которая изготавливается из прессованных древесных  опилок и стружек, пропитанных связывающим веществом.<br />
  <strong>ДВП</strong> - древесноволокнистые  плиты - листовой материал, который изготавливается в процессе горячего  прессования массы из древесных волокон, сформированных в виде ковра. Эти  волокна получают путем пропарки и размола древесного сырья. Из ДВП  изготавливают задние стенки шкафов и тумб, донышки выдвижных ящиков.<br />
  <strong>БУМАГА</strong> - Для  краткости, иногда с оттенком презрения, так именуют все виды облицовочных  пленок на основе бумаг, пропитанных смолами. Иногда на пленках вырабатывается  структура пор древесины, и качество имитации бывает столь высоким, что разницу  не сразу отличит и специалист. <br />
  <strong>ЕВРОВИНТ,  ЕВРОШУРУП</strong> - Модное, но неправильное  словечко. На самом деле - разновидность стяжки винтовой. Действительно, она  похожа на шуруп, но с тупым концом. <br />
  <strong>КРАШЕНИЕ</strong> - Нанесение на  поверхность, облицованную натуральным шпоном, красителя, придающего поверхности  разнообразный цвет. Крашение - только одна операция из всего комплекса отделки,  а потому называть крашением и тем более «покраской» всю отделку нельзя! <br />
  <strong>КРОМКА</strong> - Узкая боковая часть мебельной детали и  разговорное название полосового облицовочного материала для нее. Приклеивается  на так называемом клее-расплаве. <br />
  <strong>Ламинированная ДСП</strong> - плита с защитным покрытием  из особой декоративной бумаги.   Ламинированная плита обладает высокой влаго  и термостойкостью, а также очень устойчива к истиранию и другим  повреждениям.  <br />
  <strong>МДФ</strong> (английская  аббревиатура: MDF) - Древесноволокнистая плита средней плотности. Почти то же,  что и ДВП, но изготовленная сухим методом производства и имеющая большую  толщину. <br />
  <strong>ОБЛИЦОВКА</strong> - Тот  материал, чем покрыта любая поверхность (шпон, пленка и т.д.). <br />
  <strong>ОТДЕЛКА</strong> - Общее  название процесса нанесения на поверхность деталей мебели красителя, грунта,  лака, эмали, их отверждения, промежуточного шлифования и т.п., а также внешний  вид поверхности мебели. <br />
  <strong>ПЕТЛЯ  ЧЕТЫРЕХШАРНИРНАЯ</strong> - Правильное  название петли, наиболее часто используемой в современной мебели. Называется  еще «петля чашечная». Позволяет открывать двери, расположенные в закрытом  положении вплотную, так, чтобы они не коснулись друг друга. Петля позволяет  регулировать положение двери во всех направлениях (по высоте, по горизонтали и  по глубине). Та часть петли, что крепится к двери, называется чашка, а та, что  устанавливается на стенке, - ответная планка. <br />
  <strong>ПЛАСТЬ</strong> - Обе самые широкие  стороны щитовой детали, или бруска.<br />
  <strong>ПЛЕНКА</strong> - Общее название  синтетических заменителей натурального шпона для облицовывания невидимых  (внутренних) поверхностей деталей мебели. К ним относятся пленки на основе  бумаг, пропитанных смолами.<br />
  <strong>ПЛИТА</strong> - Общее разговорное название плитных материалов, из которых  теперь, в основном, изготавливается мебель. К ним относятся плиты  древесностружечные (ДСП) и древесноволокнистые (ДВП, МДФ и т.д.) <br />
  <strong>РУЧКА</strong> - Деталь, за  которую открывают дверцы. Разделяются на ручки-кнопки, ручки-скобы. <br />
  <strong>СТЯЖКА</strong> - Элемент соединительной фурнитуры, соединяющий и стягивающий  между собой отдельные детали мебели. Бывают эксцентриковые, винтовые и т.д. <br />
  <strong>ТЕКСТУРА</strong> - индивидуальный неповторимый рисунок, присущий натуральной  древесине, обусловленный ее внутренним строением. Характер текстуры  зависит от породы древесины и направления ее разреза (строгания шпона)  относительно годовых слоев. <br />
  <strong>ШКАНТ</strong> - Вставной круглый шип из древесины. Должен изготавливаться из  древесины твердых пород. <br />
  <strong>Филенка</strong> - тонкая отделанная  деталь  или декоративное стекло,  вставленные в  раму. </p>
  </div>
<h3>Описание коллекций мебели от фабрики ЗАО  «Ново Мебель»</h3>
<div class="panel">
<p align="left"><strong>Коллекция мебели</strong> для <a href="http://novomeb.ru/rino.aspx">спальни RINO</a> выполнена из ДСП,  облицованной <strong>шпоном ореха</strong> натурального цвета в сочетании с фасадом: <strong>шпоном  ясеня </strong>с отделкой <strong>черная эмаль</strong> (тумба прикроватная и комоды) и <strong>черным  глянцевым стеклом</strong> (филенки дверей шкафа с раздвижными широкими дверьми), а  также <strong>мягким изголовьем кровати</strong> с черным кожезаменителем. <br />
  В  комодах, прикроватных тумбах и зеркале просматривается своеобразная  ассиметрия из-за <strong>утолщенных стенок:</strong> боковых - в комодах и прикроватных тумбах; в зеркале - горизонтальный и  вертикальный брус. </p>
<p align="left"><strong>Вариант </strong>исполнения фасада коллекции<strong>  RINO</strong> : детали из МДФ,  облицованные PVC – пленкой (<strong>белый или  черный глянец). <br />
  Ручки металлические </strong>с покрытием &quot;сатин светлый  матовый&quot;.  Шкаф  с раздвижными дверями способствует существенной экономии места. Плавность хода  дверей обеспечивается  благодаря  немецкой фурнитуре <strong><em>Top Line 22 компании «Hettich». </em>Все ящики</strong> на металлических  шарикоподшипниковых направляющих <strong><em>Quadro компании «Hettich»</em></strong>. <br />
  <br />
  Теплый тонированный цвет  натурального<strong> шпона вишни</strong> в сочетании с <strong>черным глянцевым стеклом</strong> придадут изящность и создадут неповторимый комфорт Вашей спальне, если Вы  приобретете изделия из <a href="http://novomeb.ru/west.aspx">коллекции WEST</a>.<br />
  <br />
  Отличительной чертой <strong>коллекции для </strong><a href="http://novomeb.ru/miro.aspx">спальни MIRO</a> является шпон ясеня,  крашенный в <strong>цвет choco</strong> - цвет сдержанной элегантности, придающий  утонченность дизайну Вашего дома. <br />
  С изделиями набора: комодами, прикроватными тумбами, зеркалом и 4-х  дверным шкафом гармонично сочетаются кровати <em>MIRO PRIMA</em> (кож.зам.черн.),  <em>MIRO SEMPRE</em> (кож.зам.  беж.).<br />
  <strong>Ручки металлические </strong>с  покрытием &quot;сатин светлый матовый&quot;.<br />
  <strong>Все  ящики</strong> на металлических шарикоподшипниковых направляющих <strong><em>Quadro  компании «Hettich»</em></strong>. <br />
  <br />
  <strong>Коллекция  мебели </strong> <strong>для </strong><a href="http://novomeb.ru/vito.aspx">спальни  VITO</a> выполнена из   ДСП, облицованной  <strong>шпоном  ореха </strong>натурального цвета. <br />
  Отличительной  чертой коллекции являются <strong>декоративные стенки ящиков</strong>, <strong>двери, вставка спинки кровати,</strong> облицованные <strong>черной глянцевой пленкой</strong>. <strong>Фурнитура</strong>,  а это крепеж и петли, системы выдвижения ящиков, самой высокой надежности.<strong></strong><br />
  <br />
  <strong>Коллекция мебели для </strong><a href="http://novomeb.ru/dona.aspx">спальни ДОНА</a> выполнена из ДСП, облицованной  <strong>шпоном ясеня</strong>, крашенного в цвет <strong>choco.<br />
  </strong>Отличительной  чертой этой коллекции является наличие <strong>утолщенных деталей</strong> - фасады  комодов и прикроватных тумб, долевой брус зеркала. Благодаря <strong>особенной конструкции</strong> изделий,  ящики комодов и прикроватных тумб открываются <strong>без ручек.  Мягкое  изголовье</strong> кровати - кожезаменитель белый, бежевый или красный.<br />
  <strong>Все  ящики</strong> на металлических шарикоподшипниковых направляющих <strong><em>Quadro  компании «Hettich».</em></strong></p>
<p align="left">Основные  модули <a href="http://novomeb.ru/dona2.aspx">гостиной ДОНА</a> выполнены  из ДСП, облицованной <strong>шпоном ореха</strong> натурального цвета или <strong>шпоном ясеня</strong>,  крашенного в цвет <strong>choco</strong>. <strong>Фасады:</strong> двери - шпон ореха, эмаль красного, бордо, черного цвета или  в алюминиевой раме с филенкой - стекло белое  матовое.<br />
    <strong>Ручки  металлические</strong> с покрытием &quot;сатин светлый матовый&quot;. <br />
    <strong>Все ящики</strong> на металлических шарикоподшипниковых направляющих <strong><em>Quadro  компании «Hettich»</em></strong>. <br />
  Изделия (модули) гостиной <strong><em>ДОНА</em></strong> можно комбинировать в  различных вариантах в соответствии с Вашими потребностями. Вы можете поставить  одну секцию на другую или закрепить модули на стене,  создавая нужную Вам композицию. Кроме основных предлагаемых  модулей, дополнить гостиную можно разнообразием столов и столиков.<br />
  <br />
  Осуществление контроля качества.<br />
  На предприятии создана служба  качества, которая контролирует все производственные участки. Руководители  цехов, подразделений и служб компании регулярно участвуют в контрольных  сборках, имеют возможность увидеть все существующие недостатки и принять  оперативные меры для их устранения. Все претензии от покупателей проходят  тщательный анализ, выявляются общие замечания и по ним принимаются решения. <br />
  Наша мебель сертифицирована на соответствие российским  требованиям безопасности по системе ГОСТ-Р, а экологичность мебели  подтверждается Гигиеническими сертификатами.</p>
  </div>
<h3>Гарантийное обслуживание</h3>
<div class="panel">
<p>          Срок, в  течение которого потребитель имеет право на бесплатную замену деталей и узлов,  имеющих дефекты производственного характера.  <br />
  Покупатель не может рассчитывать на  замену по гарантийному обслуживанию при возникновении механических повреждений  (бой, сколы, царапины), которые возникли в процессе самостоятельной сборки или  при самостоятельной транспортировке. Замена бракованных деталей в таких случаях  производится за дополнительную плату.                                              Качественные характеристики нашей  мебели позволяют устанавливать достаточно длительный гарантийный срок на  продукцию. Гарантийный срок исчисляется со дня передачи товара потребителю  (дата, указанная в товарном чеке). На все изделия корпусной мебели установлен  гарантийный срок <strong>24 месяца (2 года)</strong>.<br />
  При обращении  с выявленным  браком составляется письменное заявление, и к нему прикладывается:</p>
<ul>
  <li>гарантийный  талон</li>
  <li>товарный и  кассовый чек</li>
  <li>бракованная  деталь</li>
</ul>
<p>Замена брака производится силами продавца  в течение 20 дней со дня поставки мебели. </p>
<p><strong></strong><strong><em>Покупатель может вносить  изменения в конструкцию изделий, но в этом случае на это изделие не будет  распространяться гарантийное обслуживание. </em></strong></p>
<p>              Все необходимые документы к изделию вложены в одну из  упаковок. Посмотрите внимательно, и вы их найдете. Сохраняйте товарные и  кассовые чеки в течение срока службы изделия.<br />
    <strong><em>ВНИМАНИЕ!</em></strong> Мебель относится к  категории товаров, которые не подлежат возврату или обмену на аналогичный товар  других размеров, форм, габаритов, расцветки или комплектации при надлежащем  качестве. </p>
	</div>
<h3>Основные  правила ухода за мебелью</h3>
<div class="panel">
<ul>
  <li>Температура  в помещении должна быть не ниже 10 и не выше 40 градусов тепла и относительной  влажностью 45-70%.</li>
  <li>Категорически  запрещено ставить  горячие предметы.</li>
  <li>Берегите  мебель от ударов твердыми предметами во избежание появления царапин, вмятин, трещин.</li>
  <li>Пыль с  поверхности удаляйте мягкой сухой тканью (фланель, плюш).</li>
  <li>Для  освежения поверхностей, снятия с них различных загрязнений, пятен от рук,  применяйте специальные составы для чистки мебели. </li>
  <li>Нагрузка на  стеклянные полки не должна превышать 7 кг.</li>
</ul>
<p align="center"><strong><em>Подробная памятка с рекомендациями по уходу за  мебелью находится в одном из пакетов.</em></strong></p></div>
<h3><strong>Примечания:</strong></h3>
<div class="panel">
<p><strong>1.</strong>   В последнее время  держится стойкая мода на изделия, которые покрываются шпоном <strong><em>венге. </em></strong>Само дерево растет в Африке. Цвет шпона<strong><em> венге</em></strong> может варировать  от кофейного до практически черного. Широкое применение и высокая популярность шпона<strong><em> венге</em></strong> привело даже к  появлению таких понятий, как <strong><em>«цвет венге</em></strong><em>»</em> и <strong><em>«под венге». </em></strong>Эта порода наиболее пригодна для покрытия  полов, хотя она и темная.</p>
<p><strong> 2.    </strong>Плёнка PVC<strong>.</strong><br />
  Всё натуральное (шпон, массив дерева)- непредсказуемо.  Естественные, неповторимые рисунки, разная степень смолистости могут привести к  тому, что деталь для изготовления мебели, не будет на 100% соответствовать  образцу. Если Вы не любите сюрпризы, то детали, покрытые плёнкой <strong><em>PVC</em></strong>,-  это для Вас.<br />
  Плёнка <strong><em>PVC</em></strong> (черный или белый глянец)- поливинилхлоридная, синтетическая - признана экологически безопасной, обладает высокой прочностью, универсальна  в применении.<br />
  Пленкой PVC облицованы фасадные  детали из МДФ в вакуумном прессе.</p>
<p><strong>3.</strong>    Шпон ясеня, отделка – <strong><em>эмаль</em></strong>: непрозрачное покрытие с  высоким уровнем блеска с полузакрытыми порами.</p>
</div>
</div>

</div>