<script src="/assets/lightbox.min.js"></script>
<link href="/assets/lightbox.min.css" rel="stylesheet" />
<div class="page">
	<h2 class="cart">Корзина</h2>

	<div id="cart"></div>
	<br>
	<a style="cursor:pointer" onclick="order()" class="cart squareButton">Оформить заказ</a>
	<br><br><br><br><br>
	<div class="payment">
		<p><b>Мы принимаем к оплате:</b></p>
		<img src="/assets/payment.jpg" style="margin-top: 5px">
		<p>*Держатели банковских карт перечисленных систем могут расплатиться ими в наших фирменных салонах-магазинах.</p>
	</div>
</div>