<div class="cartPage">
	<h1>Корзина</h1>

	<div id="cart"></div>
	<a onclick="order()" class="order">Оформить заказ</a>
	<span class="payment">
		<div>Мы принимаем к оплате:</div>
		<img src="/assets/payment1.png">
		<img src="/assets/payment2.png">
		<img src="/assets/payment3.png">
		<img src="/assets/payment4.png">
	</span>
</div>