<div class="breadcrumbs">
	<a href="/">Главная</a>
	<span>></span>
	<p>Контакты</p>
</div>
<br>
<div class="page">
<h1 style="font-size: 22px">Контакты</h1>
	<br>
	<div style="text-align: left;" itemscope itemtype="http://schema.org/Organization">
	<p><b>Организация:</b> <span itemprop="name">ООО «Галс Трейд»</span></p>
	<p style="font-size: 16px" itemprop="address"><b>Юридический адрес:</b> г. Москва, Проезд  Стратонавтов  д.9</p>
	<p><b>ИНН/КПП:</b> <span itemprop='vatID'>7733172451</span>/773301001</p>
	<p><b>ОГРН:</b> 1037733029410</p>
	</div>
	<br>
	<div style="margin: 0 auto 100px; border: 1px solid #666">
		<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=XBTRo9lONKD6qZx0eIgmJ9nGaqZg_uvn&height=400&lang=ru_UA&sourceType=constructor"></script>
	</div>
	<br>
</div>