<div class="breadcrumbs" style="padding: 0 5%">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Мягкая мебель</h1>
</div>
<div class="menuCategoryPage rightShadow">
	<a href="/catalog/divany-puffs"><img src="/assets/Puffs.jpg">
		<div class='description'><p class='name'>Пуфики Puffs</p><%= raw Category.find_by_scode('Puffs').description %></div>
	</a>
	<a href="/catalog/divany-enjoy"><img src="/assets/Enjoy.jpg">
		<div class='description'><p class='name'>Диваны Enjoy</p><%= raw Category.find_by_scode('Enjoy').description %></div>
	</a>
	<a href="/catalog/divany-nova"><img src="/assets/Nova.jpg">
		<div class='description'><p class='name'>Диваны Nova</p><%= raw Category.find_by_scode('Nova').description %></div>
	</a>
</div>