<div class="menuCategoryPage">
	<a href="/catalog/index?category_scode=Trevi"><img src="/assets/Trevi.jpg"></a>
	<a href="/catalog/index?category_scode=Opera"><img src="/assets/Opera.jpg"></a>
	<a href="/catalog/index?category_scode=Lucca"><img src="/assets/Lucca.jpg"></a>
	<a href="/catalog/index?category_scode=Ritmo"><img src="/assets/Ritmo.jpg"></a>
	<a href="/catalog/index?category_scode=Nuvola"><img src="/assets/Nuvola.jpg"></a>
	<a href="/catalog/index?category_scode=Кресла"><img src="/assets/SoftAgioArteCircle.jpg"></a>
</div>