<div class="menuCategoryPage">
	<a href="/catalog/index?category_scode=Norte"><img src="/assets/NorteNew.jpg"></a>
	<a href="/catalog/index?category_scode=P3"><img src="/assets/P3.jpg"></a>
	<a href="/catalog/index?category_scode=BellaGost"><img src="/assets/BellaGost.jpg"></a>
	<a href="/catalog/index?category_scode=Verro"><img src="/assets/Verro.jpg"></a>
	<a href="/catalog/index?category_scode=Style"><img src="/assets/Style.jpg"></a>
	<a href="/catalog/index?category_scode=Joy"><img src="/assets/Joy.jpg"></a>
	<a href="/catalog/index?category_scode=Azzon"><img src="/assets/Azzon.jpg"></a>
	<a href="/catalog/index?category_scode=Forma"><img src="/assets/Forma.jpg"></a>
</div>