<div id="home">
	<div id="slider">
		<div class="left" onclick="sliderLeft(this)"></div>
		<div class="wrap">
			<div>
				<% for banner in @banners %>
					<a href="<%= banner.url %>" class="slide" style="background-image: url('<%= banner.image %>')"></a>
				<% end %>
			</div>
		</div>
		<div class="right" onclick="sliderRight(this)"></div>
	</div>
	<img src="/assets/home.png">
</div>