<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Гарантии</h1>
</div>
<div class="page">
  <h3>Гарантии<img style="margin:1px 25px" src="/assets/garantii.png"></h3>
  <p>На предприятии создана служба качества, которая контролирует все производственные участки. Руководители цехов, подразделений и служб компании регулярно участвуют в контрольных сборках, имеют возможность увидеть все существующие недостатки и принять оперативные меры для их устранения.</p>
  <p>Все претензии от покупателей проходят тщательный анализ, выявляются замечания и принимаются соответствующие решения.</p>
  <p>Мебель сертифицирована на соответствие российским требованиям безопасности по системе ГОСТ-Р, а экологичность мебели подтверждается Гигиеническими сертификатами.</p>
  <br>
  <h4>Гарантийное обслуживание</h4>
  <p>Качественные характеристики мебели позволяют устанавливать достаточно длительный гарантийный срок на продукцию. Гарантийный срок исчисляется со дня передачи товара потребителю (дата, указанная в товарном чеке). На все изделия корпусной мебели установлен гарантийный срок <b>24 месяца (2 года)</b>.</p>
  <br>
  <p>При обращении  с выявленным браком составляется письменное заявление, и к нему прикладывается:</p>
  <ul>
      <li>гарантийный талон</li>
      <li>товарный и кассовый чек</li>
      <li>бракованная деталь</li>
  </ul>
  <p>Все необходимые документы к изделию вложены в одну из упаковок. Сохраняйте товарные и кассовые чеки в течение срока службы изделия.</p>
  <br>
  <p><b>Покупатель может вносить изменения в конструкцию изделий, но в этом случае на это изделие не будет распространяться гарантийное обслуживание.</b></p>
  <br>
  <p>Покупатель не может рассчитывать на замену по гарантийному обслуживанию при возникновении механических повреждений (бой, сколы, царапины), которые возникли в процессе самостоятельной сборки или при самостоятельной транспортировке. Замена бракованных деталей в таких случаях производится за дополнительную плату.</p>
  <br>
  <p><b>ВНИМАНИЕ!</b> Мебель относится к категории товаров, которые не подлежат возврату или обмену на аналогичный товар других размеров, форм, габаритов, расцветки или комплектации при надлежащем качестве.</p>
  <br>
  <h4>Информация Покупателю.</h4>
  <p>Совершая выбор мебели, проявляйте осмотрительность в отношении размеров, формы, материала и иных подобных качеств мебели, поскольку право на обмен товара надлежащего качества, предусматривает ст.25 Закона РФ «О защите прав потребителей» от 07.02.92 2300-1 в соответствии с Постановлением Правительства РФ от 19.01.98 № 55 на мебель не распространяется.</p>
</div>