<div class="menuCategoryPage matras rightShadow">
	<a href="/catalog/index?category_scode=SonberryOrganic"><img src="/assets/SonberryOrganic.jpg">
		<div class='description'><p class='name'>Матрасы Sonberry Organic</p><%= raw Category.find_by_scode('SonberryOrganic').description %></div>
	</a>
	<a href="/catalog/index?category_scode=SonberryAero"><img src="/assets/SonberryAero.jpg">
		<div class='description'><p class='name'>Матрасы Sonberry Aero</p><%= raw Category.find_by_scode('SonberryAero').description %></div>
	</a>
	<a href="/catalog/index?category_scode=SonberryActive"><img src="/assets/SonberryActive.jpg">
		<div class='description'><p class='name'>Матрасы Sonberry Active</p><%= raw Category.find_by_scode('SonberryActive').description %></div>
	</a>
</div>