<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Новости</h1>
</div>
<div class="page">
	<h2>Акция "Лед тает!" проводится с 23 по 26 февраля 2017г.</h2>
	<br/>
	<img alt="" style="" src="/assets/news/Led-taet-1.png" />
	<br><br>
	<p>В рамках акции предоставляются скидки до 15% на весь ассортимент PARRA.<br>Расчет скидки:</p>

	<p>при сумме заказа от 70 000 р. - скидка 6%;<br>
	   при сумме заказа от 100 000 р. - скидка 8%;<br>
	   при сумме заказа от 150 000 р. - скидка 10%;<br>
	   при сумме заказа от 300 000 р. - скидка 13%;<br>
	   при сумме заказа от 500 000 р. - скидка 15%.<br>
	</p>
	<br>
	<p>
		* Скидки с другими акциям не суммируются.<br>
		* В акции не участвуют: светильники, основания, диваны, ручки, брючницы, корзины, матрасы.
	</p>
	<br>
	
	
	<h2>Акция Big Sale во всех фирменных салонах Parra!</h2>
	<br/>
	<img alt="" style="" src="/assets/news/Big-sale-1.png" />
	<br><br>
	<p>В рамках акции действуют специальные предложения:</p>
	<br>
	<h2>На гостиные</h2>
	<br>
	<p>При единовременной покупке товаров из коллекции гостиной <a style="color: #005aff" href="http://www.parra-shop.ru/catalog/gostinnye-stella">Stella</a> эмаль белая/3D или из коллекции гостиной <a style="color: #005aff" href="http://www.parra-shop.ru/catalog/gostinye-nocce">Nocce</a> орех/эмаль антрацит на сумму свыше 140 000 рублей вы получаете скидку 20%!
Пожалуйста, обратите внимание на то, что Вы не можете комбинировать изделия из разных коллекций в одном заказе.
</p>
<br>
	<h2>На прихожую и обеденные группы</h2>
	<br>
	<p>Скидка 20% предоставляется на прихожую <a style="color: #005aff" href="http://www.parra-shop.ru/catalog/prihozhie-style">Style</a> ясень choco, обеденные <a style="color: #005aff" href="http://www.parra-shop.ru/catalog/obedennye-stoly">столы</a> и <a style="color: #005aff" href="http://www.parra-shop.ru/catalog/stulja">стулья</a>.</p>
	<br>
	<h2>На ассортимент прошлогодних коллекций</h2>
	<br>
	<p>Успейте воспользоваться грандиозными скидками до 80% на товары в разделе <a style="color: #005aff" href="http://www.parra-shop.ru/catalog/Big-Sale-Outlet">Big Sale Outlet</a></p>
	<p>* Акционное предложение ограничено. Заказы на выводимый ассортимент принимаются до полной распродажи остатков со склада.</p>
	<br><br>
	<img alt="" style="" src="/assets/news/Big-sale-2.png" />
	<br><br>
	<h2>Открыт новый салон «Parra» в ТЦ «Красный Кит»</h2>
	<br/>
	<p>
		Рады сообщить Вам об открытии нового салона мебели «PARRA» в ТЦ «Красный Кит», расположенном по адресу: Московская область, г. Красногорск, ул. Ленина, д.2.<br>На 2-ом этаже торгового центра выставлены новейшие и самые популярные коллекции.<br>Опытные консультанты помогут разобраться в разнообразии отделок и подберут наиболее подходящий Вам комплект мебели.<br>Ждем Вас в нашем новом салоне!
	</p>
	<br/>
	<img alt="" style="" src="/assets/news/krasnogorsk-red-whale.png" />
	<br><br>
	<hr/>
	<h2>Открытие нового салона в ТЦ «Красный Кит»</h2>
	<br/>
	<p>
		Рады сообщить вам об открытии нового салона мебели «PARRA» в <strong>ТЦ «Красный Кит»</strong>, состоявшемся 15.01.2017 г. </br>
		Будем рады видеть вас по адресу: г. Красногорск, ул. Ленина, дом 2, этаж 2</br>
	</p>
	<br/>
	<img alt="" style="" src="/assets/Schemas/Out/Kit.png" />
	<br><br>
	<hr/>
	<br>
	<img alt="" style="" src="/assets/Schemas/In/Kit.png" />
	<br><br><br><br><br><br>
	<h2>Новый имидж компании PARRA.</h2>
	<br>
	<p>05.04.2016 после ремонта, состоялось открытие обновленного салона-магазина в МЦ «Мебель PARK», расположенного по адресу: г. Москва, Киевское шоссе, строение 1, корпус А, 3 этаж</p>
	<p>Тел: <a style="color: #005aff" href="tel:74999401229">+7 (499) 940-12-29</a></p>
	<p>Посетители фирменного салона смогут оценить обновленный стиль компании Parra и ознакомиться со всеми последними новинками 2016 года.</p>
	<img src="/assets/new.jpg" />
	<br><br><br><br><br><br>
	<h2>Открытие нового салона в ТРК «Красный Кит»</h2>
	<br/>
	<p>
		Рады сообщить вам об открытии нового салона мебели «PARRA» в <strong>ТРК «Красный Кит»</strong>, состоявшемся 01.07.2015 г. </br>
		Будем рады видеть вас по адресу: г. Мытищи, Шараповский проезд, вл. 2, 1 этаж.</br>
		Подробная информация по телефону: <strong>8(499)347-09-09</strong>
	</p>
	<br/>
	<br/>
	<img alt="" style="" src="/assets/Schemas/Out/KrasniKit.jpg" />
	<hr/>
	<img alt="" style="" src="/assets/Schemas/In/KrasniKit.jpg" />
<br/>

</div>

