<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Новости</h1>
</div>
<div class="page">
	<h2>Открытие нового салона в ТЦ «Красный Кит»</h2>
	<br/>
	<p>
		Рады сообщить вам об открытии нового салона мебели «PARRA» в <strong>ТЦ «Красный Кит»</strong>, состоявшемся 16.01.2017 г. </br>
		Будем рады видеть вас по адресу: Московская область, Красногорск, ул. Ленина, 2, этаж 2</br>
	</p>
	<br/>
	<img alt="" style="" src="/assets/Schemas/Out/Kit.png" />
	<br><br>
	<hr/>
	<br>
	<img alt="" style="" src="/assets/Schemas/In/Kit.png" />
	<br><br><br><br><br><br>
	<h2>Новый имидж компании PARRA.</h2>
	<br>
	<p>05.04.2016 после ремонта, состоялось открытие обновленного салона-магазина в МЦ «Мебель PARK», расположенного по адресу: г. Москва, Киевское шоссе, строение 1, корпус А, 3 этаж</p>
	<p>Тел: <a style="color: #005aff" href="tel:74999401229">+7 (499) 940-12-29</a></p>
	<p>Посетители фирменного салона смогут оценить обновленный стиль компании Parra и ознакомиться со всеми последними новинками 2016 года.</p>
	<img src="/assets/new.jpg" />
	<br><br><br><br><br><br>
	<h2>Открытие нового салона в ТРК «Красный Кит»</h2>
	<br/>
	<p>
		Рады сообщить вам об открытии нового салона мебели «PARRA» в <strong>ТРК «Красный Кит»</strong>, состоявшемся 01.07.2015 г. </br>
		Будем рады видеть вас по адресу: г. Мытищи, Шараповский проезд, вл. 2, 1 этаж.</br>
		Подробная информация по телефону: <strong>8(499)347-09-09</strong>
	</p>
	<br/>
	<br/>
	<img alt="" style="" src="/assets/Schemas/Out/KrasniKit.jpg" />
	<hr/>
	<img alt="" style="" src="/assets/Schemas/In/KrasniKit.jpg" />
<br/>

</div>

