<div style="margin-top:30px">
	<strong>ТРК «Красный Кит»</strong><br/><br/>
	<strong>Открытие:</strong> 15.06.2015<br/>
<strong>Адрес:</strong> г. Мытищи, Шараповский проезд вл.2, 1 этаж<br/>
<strong>Телефон:</strong> 8(499)347-09-09<br/>
<br/>

</div>

