<div style="margin-top:30px">
	<strong>ТЦ «Империя»</strong><br/><br/>
	<strong>Открытие:</strong> 15.11.2014<br/>
<strong>Адрес:</strong> г.Москва Дмитровское шоссе 159 , 3 этаж.
<br/>
<br/>
<br/>
<br/>
<img alt="" style="" src="/assets/Schemas/In/Empire.jpg" />
<hr/>
<img alt="" style="" src="/assets/Schemas/Out/Empire.jpg" />
</div>