<div class="breadcrumbs" style="padding: 0 5%">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Обеденные группы</h1>
</div>
<div class="menuCategoryPage rightShadow">
	<a href="/catalog/obedennye-stoly"><img src="/assets/categories/tables.jpg">
		<div class='description'><p class='name'>Столы</p><%= raw Category.find_by_scode('obedennye-stoly').description %></div>
	</a>
	<a href="/catalog/stulja"><img src="/assets/categories/chairs.jpg">
		<div class='description'><p class='name'>Стулья</p><%= raw Category.find_by_scode('stulja').description %></div>
	</a>
</div>