<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <p>Отзывы</p>
</div>
<h1 style="text-align: center; margin-top: 30px; color: #4FB859">Отзывы покупателей о мебели Parra.</h1>
<br>
<div class="tar" style="margin: 30px 0 20px">
	<div class="btn green"><p>Оставить отзыв</p></div>
</div>
<br>
<div class='otzyv'>
	<div class='header'>Кровать Орли</div>
	<div class='body'>Купил кровать с ящиками для белья Орли со скидкой на образец из салона. Очень удобная и приятная модель. И цена получилась тоже приятной. </div>
	<div class='bottom'>
		<div class='name'>Олег Чалов, Москва</div>
		<div class='date'>2015-07-27</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Цвет</div>
	<div class='body'>Докупила в комплект журнальный столик из ореха с массивными ножками. Довольна, но пока цвет немного отличается от «старой» мебели Joy – надеюсь, потом сравняется.</div>
	<div class='bottom'>
		<div class='name'>Смирнова Татьяна, Москва</div>
		<div class='date'>2015-07-24</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Кровать Миро</div>
	<div class='body'>Купили кровать Миро Сонора с подъемным механизмом. Очень качественное исполнение и красивый бежевый цвет – выглядит как настоящая кожа. Ящик открывается хорошо и плотно закрывается. Удобно очень для хранения одеял и подушек.</div>
	<div class='bottom'>
		<div class='name'>Татьяна Лукашевич, Подольск</div>
		<div class='date'>2015-06-17</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Спальня Leggero</div>
	<div class='body'>Заказали Спальню Leggero – темное дерево, называется Ясень Chok. Заказ выполнили в срок, доставили и собрали тоже без проблем. Похож цвет на венге, я хотела темную спальню. Качество и внешний вид соответствуют цене.</div>
	<div class='bottom'>
		<div class='name'>Екатерина Малченко, Москва</div>
		<div class='date'>2015-06-03</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Гостиная Orly</div>
	<div class='body'>Не хотели с мужем стекла в спальне совсем. Это только кажется, что купить мебель в Москве просто – много где смотрели мебель, а купили в результате Orly дуб. Орех показался слишком ярким, что ли. Очень удобный вместительный комод. Спасибо менеджеру, что подсказала про матрас к кровати – купили здесь же.</div>
	<div class='bottom'>
		<div class='name'>Зоя Зверькова, Москва</div>
		<div class='date'>2015-05-21</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Праздники</div>
	<div class='body'>Очень долго ждем уже свою мебель – праздники повлияли. Так что получилось не 21 день.</div>
	<div class='bottom'>
		<div class='name'>Лариса Беручева, Люберцы, Московская область</div>
		<div class='date'>2015-05-11</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Мебель в гостиную</div>
	<div class='body'>Долго не могла мебель в гостиную купить – остановилась на STYLE. Очень достойный вариант, и мягкую мебель не пришлось менять – все неплохо сочетается и выглядит вполне современно.</div>
	<div class='bottom'>
		<div class='name'>Татьяна Быковская, Москва</div>
		<div class='date'>2015-04-17</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Спальня Bella </div>
	<div class='body'>Купили спальню Bella вариант с зебрано и черное стекло. Хорошо смотриться в комнате, несмотря на то, что достаточно темная. Жаль, что большой комод уже некуда было поставить. Ящики открываются хорошо, ничего не скрипит и не болтается. Покупкой довольна. </div>
	<div class='bottom'>
		<div class='name'>Анастасия Кузьмина, Королев</div>
		<div class='date'>2015-04-07</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Лучшее соотношение цена-качество</div>
	<div class='body'>По рекомендации друзей совсем недавно купили Матрас Sonberry AERO MODUS. Нас больше интересовала не красота, а именно комфорт. У мужа сидячая работа, он по 8 часов проводит за рулем, ну а к вечеру просто адские боли в спине. Скажу сразу, первое время было немного жестковато, но через пару дней спали как младенцы. По такой доступной цене купили отличную вещь! Оказывается, там есть специальная система поддержки, матрас принимает форму тела, абсолютно нигде не давит и отлично расслабляет. И нет такого эффекта, как у других аналогов – проседания по бокам. Специальное кокосовое полотно обеспечивает отличную жесткость. Пользуемся им с удовольствие, никаких ям, выпирающих пружин, муж просто в восторге! Теперь он полноценно отдыхает и не мучается от боли. Как хозяйка хочу отметить, что матрас не электризуется, так что для него подходит любое постельное белье. Никогда не доверяла мнению других, но вот отзывы о мебели parra помогли мне сделать правильный выбор! Рекомендую всем, кто предпочитает отличное соотношение цены и качества!</div>
	<div class='bottom'>
		<div class='name'>Елена</div>
		<div class='date'>2015-02-03</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Идеальная детская</div>
	<div class='body'>Недавно сделали ремонт в детской и подыскивали диван своему ребенку-подростку. Как понимаете, требования высокие: надежный, комфортный и чтобы ухаживать было легко. Почитала отзывы о мебели parra, понравилось, что люди хвалят качество. Даже после нескольких лет не ломается раскладной механизм, обивку можно чистить обычным средством, да и наличие ящика для белья порадовало. Купили по отличной цене угловой диванчик RITMO. Отмечу, что доставили обновку очень оперативно, ответили на все интересующие меня вопросы. Ребенку очень понравился подарок, теперь это любимое место в комнате. Хочу сказать, что ткань обивки очень практичная, не накапливает пыль, мы его даже пылесосим. Отличная система поддержки, он не проваливается, мягкий, очень приятный на ощупь. Теперь ребенок там и спит, и ест, и учится! Вот так решили сразу несколько проблем, да еще и сэкономили на приобретении кровати. Для родителей отличный вариант, к тому же диванчик большой и будет полезен, даже когда чадо подрастет.</div>
	<div class='bottom'>
		<div class='name'>Дина</div>
		<div class='date'>2015-01-29</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Белоснежная кровать</div>
	<div class='body'>Заказывали себе в спальню кровать MIRO BRACCIATA PLUS. Подыскивали что-то необычное и элегантное для себя. Отличная модель, кардинально отличается от всего, что мы раньше оценивали. Очень удобная, нравится высота - невысокая, но вставать и ложиться удобно. Отличная конструкция, да еще и отделана кожей (правда, искусственной), но отличить невозможно. На сайте на нее смотрели, казалась небольшой. Но когда привезли, мы поняли она просто восхитительно огромная, так отлично вписалась в интерьер! Мы выбрали белоснежную модель – теперь это наша гордость! Кстати, очень здорово сделаны ножки: у нас линолеум дорогой, но совсем не продавливается! Кровать оснащена специальным ящиком, очень вместительным, так что потребность в тумбочке для белья отпала. Поднимать конструкцию легко даже женщине (там есть специальный механизм). Хочу сказать, что отзывы о мебели parra полностью соответствуют заявленному качеству! Отличная мебель по нормальной цене!</div>
	<div class='bottom'>
		<div class='name'>Инга</div>
		<div class='date'>2014-12-12</div>
	</div>
</div>
<div class='otzyv'>
	<div class='header'>Обеденный стол VISION</div>
	<div class='body'>Заказывали обеденный стол VISION на сайте Парра. Очень понравился дизайн: белоснежная эмаль, элегантная форма и очень красивая мебель! Доставили нашу покупку оперативно, хорошо работают ребята. Столик оказался очень практичным, большим, много людей за ним помещаются, и никто никому не мешает! У нас часто в доме большие компании, поэтому то, что наша мебель еще и раздвигается – стало приятным бонусом. Отмечу, несмотря на то, что стол вроде бы должен быть «марким», за ним очень легко ухаживать. Достаточно протереть влажной тряпкой – и он просто сияет! Поверхность не царапается, не остается разводов. Ножки надежные, не «разъезжаются» да и покрытие напольное не портят. А вот наши восхищенные отзывы о мебели parra заставили наших родителей обзавестись таким же полезным приспособлением. У них кухня небольшая, но он там отлично вписался. Так что, смело могу порекомендовать стол всем, кто предпочитает отличное качество по нормальной цене!</div>
	<div class='bottom'>
		<div class='name'>Света</div>
		<div class='date'>2014-12-04</div>
	</div>
</div>
<br>
<div class="tar" style="margin: 15px 0 20px">
	<div class="btn green"><p>Оставить отзыв</p></div>
</div>
<br>