<div style="margin-top:30px">
        <h3>Для партнёров</h3>
        <p>Сотрудничество с нашей компанией по реализации мебели является доступной для каждого потенциального корпоративного клиента. Предлагаемые виды сотрудничества позволяют каждому партнеру выбрать самую удобную форму работы, являясь дилерами, дистрибьюторами или агентами по продаже нашей мебели. Наши преимущества:</p>
        <ul>
            <li>хорошее соотношение цены и качества</li>
            <li>современный дизайн и функциональность мебели</li>
            <li>ограниченная конкуренция в сегменте шпонированной мебели</li>
            <li>широкий ассортимент включая продукцию компании “SBA”</li>
            <li>гибкая система сотрудничества</li>
            <li>поддержка партнеров при вхождении в бизнес</li>
        </ul>
        <h3>Для дилеров</h3>
        <p>На основе дилерского сотрудничества мы обеспечиваем наших клиентов лучшими условиями вхождения в бизнес и активную поддержку его ведения. Мы предлагаем:</p>
        <ul>
            <li>бесплатный дизайн - проект интерьера торговой площади</li>
            <li>подбор оптимального ассортимента</li>
            <li>торговые скидки на основе гибкой скидочной системы</li>
            <li>рекламная продукция</li>
       </ul>
       <h3>Для агентов</h3>
       <p>Агенты относятся к категории партнеров, которые занимаются реализацией продукции, выступая посредниками между нашей компанией и оптовыми покупателями в определенных регионах страны. Нашим агентам мы предоставляем полноценные права для репрезентации нашей компании и производимой нами продукции. При данной форме сотрудничества предлагаются интересные условия и полная поддержка в освоении рынка.</p>
    </div>