<div class="page delivery">
  <h3>Условия доставки и сборки<img src="/assets/delivery.png"></h3>
	<p>Доставка изделий по г. Москве и в пределах 5 км МКАД осуществляется по следующим расценкам:</p>
	<ul class="table tborder">
		<li>
			<div>Общая стоимость в руб.</div>
			<div>Стоимость доставки (руб)</div>
			<div>Стоимость сборки (руб)</div>
		</li>
		<li>
				<div>До 100 000</div>
				<div>1 000</div>
				<div>6%</div>
		</li>
		<li>
			<div>Свыше 100 000</div>
			<div>бесплатно</div>
			<div>6%</div>
		</li>
		<li>
			<div>«Сезонная распродажа» независимо от стоимости заказа</div>
			<div>1000</div>
			<div>6%</div>
		</li>
	</ul>
	<p>При доставке мебели за пределы г. Москвы и 5 км в пределах МКАД дополнительно к стоимости услуг по доставке взимается плата за километраж (расчет ведется от МКАД)</p>
	<ul class="table tborder">
		<li>
			<div>Километраж</div>
			<div>Стоимость за 1 км (руб)</div>
			<div>Сборка (руб)</div>
		</li>
		<li>
			<div>До 50 км</div>
			<div>30 руб</div>
			<div>7%</div>
		</li>
		<li>
			<div>От 50 км</div>
			<div>бесплатно</div>
			<div>7%</div>
		</li>
		<li>
			<div>Свыше 100 км в пределах Московской области</div>
			<div>цена договорная</div>
			<div>7%</div>
		</li>
	</ul>
	<p>Подъем на этаж - платный. Стоимость подъема считается с первого этажа включительно.</p>
</div>