<div style="margin-top:30px">
        <h3>Условия доставки и сборки</h3>
        <p>Доставка изделий по г. Москве и в пределах 5 км МКАД осуществляется по следующим расценкам:</p>
                    <table cellspacing="0">
			                <tr>
				                <th id="price">Общая стоимость в руб.</th>
				                <th id="delprice">Стоимость доставки (руб)</th>
				                <th id="buildprice">Стоимость сборки (руб)</th>
			                </tr>
			                <tr>
				                <td headers="price">До 100 000</td>
				                <td headers="delprice">1 000</td>
				                <td headers="buildprice">6%</td>
			                </tr>
			                <tr >
				                <td headers="price">Свыше 100 000</td>
				                <td headers="delprice">бесплатно</td>
				                <td headers="buildprice">6%</td>
			                </tr>
			                <tr>
				                <td headers="price">«Сезонная распродажа» независимо от стоимости заказа</td>
				                <td headers="delprice">1000</td>
				                <td headers="buildprice">6%</td>
			                </tr>
		               </table> 
		 <p>При доставке мебели за пределы г. Москвы и 5 км в пределах МКАД дополнительно к стоимости услуг по доставке взимается плата за километраж (расчет ведется от МКАД)</p>
                    <table cellspacing="0">
			                <tr>
				                <th id="kil">километраж</th>
				                <th id="price1km">Стоимость за 1 км (руб)</th>
				                <th id="build">Сборка (руб)</th>
			                </tr>
			                <tr>
				                <td headers="kil">До 50 км</td>
				                <td headers="price1km">30 руб</td>
				                <td headers="build">7%</td>
			                </tr>
			                <tr >
				                <td headers="kil">От 50 км</td>
				                <td headers="price1km">30 руб</td>
				                <td headers="build">7%</td>
			                </tr>
			                <tr>
				                <td headers="kil">Свыше 100 км в пределах Московской области</td>
				                <td headers="price1km">цена договорная</td>
				                <td headers="build">7%</td>
			                </tr>
		               </table> 
		 <p>Подъем на этаж - платный. Стоимость подъема считается с первого этажа включительно.</p>
    </div>