<div class="page delivery">
  <h3>Условия доставки и сборки<img src="/assets/delivery.png"></h3>
    <p>Доставка и сборка мебели, купленной в нашем магазине, не входит в стоимость товара. Это наша принципиальная позиция – мы осознанно не включаем в стоимость мебели эти дополнительные опции. Покупатель всегда может выбрать – воспользоваться ли услугами профессионалов или «сэкономить» и сделать это самостоятельно.</p>
	<p>Важно помнить, что замена деталей, которые были повреждены в результате самостоятельной сборки или транспортировки, осуществляется за дополнительную плату, так как не подпадает под действие гарантийных обязательств.</p>
	<p>Доставка изделий по г. Москве и в пределах 5 км МКАД осуществляется по следующим расценкам:</p>
	<table class="greenTable">
		<tr>
			<th>Общая стоимость в руб.</th>
			<th>Стоимость доставки (руб)</th>
			<th>Стоимость сборки (руб)</th>
		</tr>
		<tr>
			<td>До 100 000</td>
			<td>1 000</td>
			<td>6%</td>
		</tr>
		<tr>
			<td>Свыше 100 000</td>
			<td>бесплатно</td>
			<td>6%</td>
		</tr>
		<tr>
			<td>«Сезонная распродажа» независимо от стоимости заказа</td>
			<td>1000</td>
			<td>6%</td>
		</tr>
	</table>
	<p>При доставке мебели за пределы г. Москвы и 5 км в пределах МКАД дополнительно к стоимости услуг по доставке взимается плата за километраж (расчет ведется от МКАД)</p>
	<table class="greenTable">
		<tr>
			<th>Километраж</th>
			<th>Стоимость за 1 км (руб)</th>
			<th>Сборка (руб)</th>
		</tr>
		<tr>
			<td>До 50 км</td>
			<td>30 руб</td>
			<td>6%</td>
		</tr>
		<tr>
			<td>От 50 км</td>
			<td>бесплатно</td>
			<td>6%</td>
		</tr>
		<tr>
			<td>Свыше 100 км в пределах Московской области</td>
			<td>цена договорная</td>
			<td>6%</td>
		</tr>
	</table>
	<p>Подъем на этаж - платный. Стоимость подъема считается с первого этажа включительно.</p>
	<p>Возможна доставка мебели в любые регионы РФ транспортной компанией по выбору заказчика.
В этом случае сборка осуществляется силами покупателя.</p>
</div>