<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <p>Карта сайта</p>
</div>
<style type="text/css">
	.sitemap a {
		color: #444;
	}
	.sitemap a:hover {
		color: green;
	}
	.sitemap h3 {
		margin: 18px 0 5px
	}
</style>
<div class="sitemap" style="font-size: 16px; padding: 0 0 50px 50px; line-height: 26px">
<br>
<h1>Карта сайта</h1>
<br>
<p><a href="/">Главная</a></p>
<p><%= link_to 'Доставка и сборка', service_path %></p>
<p><%= link_to 'Партнерам', partners_path %></p>
<p><%= link_to 'Новости', news_path %></p>
<p><%= link_to 'Статьи', articles_path %></p>
<p><%= link_to 'Гарантии', insurance_path %></p>
<p><%= link_to 'Отзывы', otzyvy_path %></p>
<p><%= link_to 'О нас', about_path %></p>
<h3>Магазины</h3>
<p><a href="<%= store1_path %>">МЦ "Мебель PARK"</a></p>
<p><a href="<%= store2_path %>">МЦ "Family Room"</a></p>
<p><a href="<%= store3_path %>">МЦ "Армада"</a></p>
<p><a href="<%= store5_path %>">МЦ "ROOMER"</a></p>
<p><a href="<%= store6_path %>">ТЦ «Твой Дом - Крокус»</a></p>
<p><a href="<%= store7_path %>">ТРК «Красный Кит»</a></p>
<p><a href="<%= store8_path %>">МЦ "Вагант"</a></p>
<p><a href="<%= store9_path %>">МЦ "Империя"</a></p>
<p><a href="/stores">Все</a></p>
<h3>Спальни</h3>
<p><%= link_to('Gamma', { controller: :catalog, action: :index, url: 'spalni-gamma'} )%></p>
<p><%= link_to('Lyona', { controller: :catalog, action: :index, url: 'spalni-liona'} )%></p>
<p><%= link_to('Bella', { controller: :catalog, action: :index, url: 'spalni-bella'} )%></p>
<p><%= link_to('Plisset', { controller: :catalog, action: :index, url: 'spalni-plisset'} )%></p>
<p><%= link_to('Orly', { controller: :catalog, action: :index, url: 'spalni-orly'} )%></p>
<p><%= link_to('Ritmika', { controller: :catalog, action: :index, url: 'spalni-ritmika'} )%></p>
<p><%= link_to('Ritmika2', { controller: :catalog, action: :index, url: 'spalni-ritmika2'} )%></p>
<p><%= link_to('Lorra', { controller: :catalog, action: :index, url: 'spalni-lorra'} )%></p>
<p><%= link_to('Leggero Орех', { controller: :catalog, action: :index, url: 'spalni-leggero-oreh'} )%></p>
<p><%= link_to('Leggero choco', { controller: :catalog, action: :index, url: 'spalni-leggero-choco1'} )%></p>
<p><%= link_to('Miro', { controller: :catalog, action: :index, url: 'spalni-miro'} )%></p>
<p><%= link_to('Mild', { controller: :catalog, action: :index, url: 'spalni-mild'} )%></p>
<h3>Гостиные</h3>
<p><%= link_to('Norte', { controller: :catalog, action: :index, url: 'gostinye-norte'} )%></p>
<p><%= link_to('P3', { controller: :catalog, action: :index, url: 'gostinnye-pz'} )%></p>
<p><%= link_to('Bella', { controller: :catalog, action: :index, url: 'gostinnye-bella'} )%></p>
<p><%= link_to('Verro', { controller: :catalog, action: :index, url: 'gostinnye-verro'} )%></p>
<p><%= link_to('Style choco', { controller: :catalog, action: :index, url: 'gostinnye-style-choco'} )%></p>
<p><%= link_to('Style орех', { controller: :catalog, action: :index, url: 'gostinnye-style-oreh'} )%></p>
<p><%= link_to('Joy', { controller: :catalog, action: :index, url: 'gostinnye-joy'} )%></p>
<p><%= link_to('Azzon', { controller: :catalog, action: :index, url: 'gostinye-azzon'} )%></p>
<h3>Диваны</h3>
<p><%= link_to('Trevi', { controller: :catalog, action: :index, url: 'divany-trevi'} )%></p>
<p><%= link_to('Opera', { controller: :catalog, action: :index, url: 'divany-opera'} )%></p>
<p><%= link_to('Lucca', { controller: :catalog, action: :index, url: 'divany-lucca'} )%></p>
<p><%= link_to('Ritmo', { controller: :catalog, action: :index, url: 'divany-ritmo'} )%></p>
<p><%= link_to('Nuvola', { controller: :catalog, action: :index, url: 'divany-nuvola'} )%></p>
<p><%= link_to('Кресла', { controller: :catalog, action: :index, url: 'kresla'} )%></p>
<h3>Матрасы</h3>
<p><%= link_to('Organic', { controller: :catalog, action: :index, url: 'matrasy-organic'} )%></p>
<p><%= link_to('Aero', { controller: :catalog, action: :index, url: 'matrasy-aero'} )%></p>
<p><%= link_to('Active', { controller: :catalog, action: :index, url: 'matrasy-active'} )%></p>
<p><%= link_to('Italia', { controller: :catalog, action: :index, url: 'matrasy-italia'} )%></p>
<h3>Все товары</h3>
<p><%= link_to('Кровати', { controller: :catalog, action: :index, url: 'krovati-dlja-spalni'} )%></p>
<p><%= link_to('Шкафы', { controller: :catalog, action: :index, url: 'shkafy'} )%></p>
<p><%= link_to('Комоды', { controller: :catalog, action: :index, url: 'komody'} )%></p>
<p><%= link_to('Тумбочки', { controller: :catalog, action: :index, url: 'tumby-dlja-spalni'} )%></p>
<p><%= link_to('Тумбы TV', { controller: :catalog, action: :index, url: 'tumby-pod-tv'} )%></p>
<p><%= link_to('Зеркала', { controller: :catalog, action: :index, url: 'zerkala'} )%></p>
<p><%= link_to('Полки', { controller: :catalog, action: :index, url: 'polki'} )%></p>
<p><%= link_to('Столы', { controller: :catalog, action: :index, url: 'stoly'} )%></p>
<p><%= link_to('Основания', { controller: :catalog, action: :index, url: 'osnovanija'} )%></p>
<p><%= link_to('Буфеты', { controller: :catalog, action: :index, url: 'bufety'} )%></p>
</div>
