<div class="menuCategoryPage">
	<a href="/catalog/index?category_scode=Lyona"><img src="/assets/LyonaNew.jpg"></a>
	<a href="/catalog/index?category_scode=Bella"><img src="/assets/Bella.jpg"></a>
	<a href="/catalog/index?category_scode=Plisset"><img src="/assets/Plisset.jpg"></a>
	<a href="/catalog/index?category_scode=Orly"><img src="/assets/Orly.jpg"></a>
	<a href="/catalog/index?category_scode=Ritmika"><img src="/assets/RitmikaSale.jpg"></a>
	<a href="/catalog/index?category_scode=Lorra"><img src="/assets/Lorra.jpg"></a>
	<a href="/catalog/index?category_scode=Leggero"><img src="/assets/LeggeroSale.jpg"></a>
	<a href="/catalog/index?category_scode=Miro"><img src="/assets/Miro.jpg"></a>
	<a href="/catalog/index?category_scode=Mild"><img src="/assets/Mild.jpg"></a>
</div>