<div style="margin:30px 0 50px">
	 <strong>ТК "Армада"  </strong>	 <br/>
	 <br/>
     <img src="/assets/seosucks/storeteladdr3.png"><br><br>
Время работы с 10:00 до 22:00 без обеда и выходных.
<br/>
<br/>
<img alt="" style="" src="/assets/Schemas/Out/Armada.png" />
<hr/>
<img alt="" style="" src="/assets/Schemas/In/Armada.png" />
<br><br>
<img alt="" style="" src="/assets/panaramas/armada.png" />
 </div>