<div style="margin-top:30px">
	 <strong>ТК "ТВОЙ ДОМ" на 66 км МКАД</strong>	 <br/>
	 <br/>
      <strong>Телефон:</strong> (499) 340-09-08  <br/>
<strong>Адрес:</strong>	66 км МКАД (пересечение Волоколамского ш. и МКАД)
<br/><br/>    
Время работы: круглосуточно.
<br/>
<p>
	Как добраться общественным транспортом:<br/>
	м. Мякинино - бесплатный автобус от метро «Мякинино» до ТК «ТВОЙ ДОМ».<br/>
	м. Тушинская - автобус № 631, 640, маршрутное такси № 450, 631 до остановки «ул. Исаковского».<br/>
	м. Щукинская - автобус № 687 до остановки «Департамент труда и занятости»; автобус № 631 до остановки «ул. Исаковского».<br/>
	м. Строгино - автобус № 631, 736 до остановки «Ул. Исаковского», автобус № 652 до остановки «Департамент труда и занятости».
</p>
<br/>
<img alt="" style="" src="/assets/Schemas/Out/TD.png" />
<hr/>
<img alt="" style="" src="/assets/Schemas/In/TD.png" />

</div>