<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <a href="/stores">Где купить</a>
  <span>></span>
  <h1>Мебельный гипермаркет Family Room</h1>
</div>
<div style="margin-top:30px">
	 <strong>Мебельный гипермаркет Family Room</strong>
	 <br/>
	 <br/>
    <p><b>Телефон:</b> (499) 940-12-29</p>
	<p><b>Адрес:</b> Киевское шоссе, строение 1, 5 вход, 2 этаж</p><br/>
	Время работы с 10:00 до 21:00 без обеда и выходных. 
	<br/>
	<br/>
	<img alt="" style="" src="/assets/Schemas/Out/Rum.png" />
	<hr/>
	<img alt="" style="" src="/assets/Schemas/In/Rum.png" />
</div>