<div style="margin-top:30px">
	 <strong>ТЦ "Вагант" Подольск - </strong>	<strong style="Color:Red">Открытие 28.06.2014 10:00!!!</strong><br/>
	 <br/>
      <strong>Телефон:</strong><br/>
<strong>Адрес:</strong>Московская обл., г. Подольск, ул. Станционная, д. 11, этаж 2
<br/><br/>    
Время работы с 10:00 до 20:00 без обеда и выходных.
<br/>
<br/>
<img alt="" style="" src="/assets/Schemas/Out/Vagant.png" />
<hr/>
<img alt="" style="" src="/assets/Schemas/In/Vagant.png" />
</div>