<div style="margin:30px 0 50px">
	 <strong>ТК "Армада"  </strong>	 <br/>
	 <br/>
     <img src="/assets/seosucks/storeteladdr3.png"><br><br>
Время работы с 10:00 до 22:00 без обеда и выходных.
<br/>
<br/>
<img alt="" style="" src="/assets/Schemas/Out/Armada.png" />
<hr/>
<img alt="" style="" src="/assets/Schemas/In/Armada.png" />
 </div>
 
 <div style="background-color: black; padding: 20px 0">
 	<a href="https://www.google.com/maps/place/Parra/@55.614468,37.607452,3a,75y,282h,90t/data=!3m5!1e1!3m3!1swdZ3GbFmV5wAAAQZI2QMbQ!2e0!3e2!4m2!3m1!1s0x414ab28abbc37b99:0xfd7da162d2b67cad?hl=ru">
 		<img src="/assets/panaramas/armada.png">
 	</a>
 </div>
 <br>
 <br>