<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <a href="/stores">Где купить</a>
  <span>></span>
  <h1>ТЦ "Черемушки"</h1>
</div>
<div style="margin-top:30px">
	 <strong>ТЦ "Черемушки"  </strong>	 <br/>
	 <br/>
     <img src="/assets/seosucks/storeteladdr4.png"><br><br>
Время работы с 10:00 до 21:00 без обеда и выходных.
<br/>
<br/>
<img alt="" style="" src="/assets/Schemas/Out/Cher.png" />
<hr/>
<img alt="" style="" src="/assets/Schemas/In/Cher.png" />
</div>