<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <a href="/stores">Где купить</a>
  <span>></span>
  <h1>ТЦ "Красный кит"</h1>
</div>
<div class="page">
	<strong>ТЦ "Красный кит"</strong><br/>
	<br/>
	<b>Адрес:</b> Московская область, Красногорск, улица Ленина, 2, этаж 2<br>
	<b>Время работы:</b> 10:00 - 22:00<br>
	<b>Как добраться:</b><br>
	От метро Тушинская: <b>#542</b>, <b>#549</b>, <b>#566</b><br>
	От метро Сходненская: <b>#67</b>, <b>#492</b>.<br>
	Автобусом до остановки "Горсовет": <b>#35</b>, <b>#845</b>, <b>#372</b>, <b>#542</b>, <b>#542п</b>, <b>#26</b><br>
	Маршруткой до остановки "Горсовет": <b>#1</b>, <b>#15</b>, <b>#845</b>, <b>#3</b>, <b>#4</b>, <b>#44</b>, <b>#498</b>, <b>#120</b><br>
	Изумрудные Холмы - Вэйпарк: <b>#878</b>, <b>#492</b><br>
	<br><br>
	<img alt="" style="" src="/assets/Schemas/Out/Kit.png" />
	<br>
	<br>
	<hr/>
	<br>
	<img alt="" style="" src="/assets/Schemas/In/Kit.png" />
</div>