<div style="margin-top:30px">
	 <strong>МЦ "Вагант" Подольск </strong><br/>
	 <br/>
     <img src="/assets/seosucks/storeteladdr8.png"><br><br>
Время работы с 10:00 до 20:00 без обеда и выходных.
<br/>
<br/>
<img alt="" style="" src="/assets/Schemas/Out/Vagant.png" />
<hr/>
<img alt="" style="" src="/assets/Schemas/In/Vagant.png" />
</div>