<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <a href="/stores">Где купить</a>
  <span>></span>
  <h1>МЦ "Мебель PARK"</h1>
</div>
<div style="margin-top:30px">
	<strong>МЦ "Мебель PARK"</strong><br/>
	<br/>
    <img src="/assets/seosucks/storeteladdr1.png"><br><br>

	Время работы с 10:00 до 21:00 без обеда и выходных. 
	<br/>
	<br/>
	<img alt="" style="" src="/assets/Schemas/Out/Rum.png" />
	<hr/>
	<img alt="" style="" src="/assets/Schemas/In/Rum.png" />
</div>