<div style="margin-top:30px">
	 <strong>ТРЦ "РИО" Реутов  </strong>	 <br/>
	 <br/>
     <img src="/assets/seosucks/storeteladdr7.png"><br><br>
Время работы с 10:00 до 22:00 без обеда и выходных.
<br/>
<br/>
<img alt="" style="" src="/assets/Schemas/Out/Rio.png" />
<hr/>
<img alt="" style="" src="/assets/Schemas/In/Rio.png" />
</div>