<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <a href="/stores">Где купить</a>
  <span>></span>
  <h1>ТРК «Красный Кит»</h1>
</div>
<div class="page">
	<strong>ТРК «Красный Кит»</strong>
	<br/>
	<br/>
	<img src="/assets/seosucks/store7.png"><br><br>
	<img alt="" style="" src="/assets/Schemas/Out/KrasniKit.jpg" />
	<hr/>
	<img alt="" style="" src="/assets/Schemas/In/KrasniKit.jpg" />
</div>