<div style="margin-top:30px">
	<strong>МЦ «Империя»</strong><br/><br/>
	<strong>Телефон:</strong> (499) 899-07-09<br/>
<strong>Адрес:</strong> г.Москва Дмитровское шоссе 159 , 3 этаж.
<br/>
<br/>
Время работы с 10:00 до 20:00 без обеда и выходных.
<br/>
<br/>
<img alt="" style="" src="/assets/Schemas/In/Empire.jpg" />
<hr/>
<img alt="" style="" src="/assets/Schemas/Out/Empire.jpg" />
</div>