<div style="margin-top:30px">
	<strong>МЦ «Империя»</strong><br/><br/>
	<img src="/assets/seosucks/storeteladdr9.png"><br><br>
Время работы с 10:00 до 21:00 без обеда и выходных.
<br/>
<br/>
<img alt="" style="" src="/assets/Schemas/In/Empire.jpg" />
<hr/>
<img alt="" style="" src="/assets/Schemas/Out/Empire.jpg" />
</div>