<div style="margin-top:30px">
	 <strong>ТРЦ "РИО" Реутов  </strong>	 <br/>
	 <br/>
      <strong>Телефон:</strong>	(499) 347-09-09<br/>
<strong>Адрес:</strong>г. Реутов, 2-ой км МКАД, д. 2, этаж 3
<br/><br/>    
Время работы с 10:00 до 22:00 без обеда и выходных.
<br/>
<br/>
<img alt="" style="" src="/assets/Schemas/Out/Rio.png" />
<hr/>
<img alt="" style="" src="/assets/Schemas/In/Rio.png" />
</div>