<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <a href="/stores">Где купить</a>
  <span>></span>
  <h1>ТЦ Roomer</h1>
</div>
<div class="page">
  <strong>ТЦ Roomer  </strong>	 <br/>
  <br/>
  <img src="/assets/seosucks/store5.png"><br><br>
  <img alt="" style="" src="/assets/Schemas/Out/Roomer.png" />
  <hr/>
  <img alt="" style="" src="/assets/Schemas/In/Roomer.png" />
  <div style="background-color: black; padding: 20px 0; text-align: center">
    <a rel='nofollow' href="https://www.google.com/maps/place/Parra/@55.710535,37.6550916,3a,90y,282.72h,90.63t/data=!3m5!1e1!3m3!1szud-diYXZ8YAAAQYb7NOrQ!2e0!3e2!4m2!3m1!1s0x46b54b33ee2a1ca5:0x14841791332296f8!6m1!1e1?hl=ru">
      <img src="/assets/panorama.png">
    </a>
  </div>
  <br>
  <br>
</div>