<div style="margin-top:30px">
	 <strong>ТРК «Красный Кит»</strong>
	 <br/>
	 <br/>
	 <p><b>Телефон:</b> 8(499)347-09-09</p>
	 <p><b>Адрес:</b> г. Мытищи, Шараповский проезд, вл. 2, 1 этаж.</p>
	 <br/>
	Время работы с 10:00 до 22:00 без обеда и выходных.
	<br/>
	<br/>
	<img alt="" style="" src="/assets/Schemas/Out/KrasniKit.jpg" />
	<hr/>
	<img alt="" style="" src="/assets/Schemas/In/KrasniKit.jpg" />
</div>