<div class="breadcrumbs" style="margin: 10px">
  <a href="/">Главная</a>
  <span>></span>
  <a href="/stores">Где купить</a>
  <span>></span>
  <h1>МЦ "Мебель PARK"</h1>
</div>
<div style="margin-top:30px">
	<strong>МЦ "Мебель PARK"</strong><br/>
	<br/>
	<p><b>Телефон:</b>  (499) 940-12-29</p>
	<p><b>Адрес:</b> Киевское шоссе, строение 1, 3 вход, 3 этаж, блок А, сектр С - 8</p><br/> 
	Время работы с 10:00 до 21:00 без обеда и выходных. 
	<br/>
	<br/>
	<img alt="" style="" src="/assets/Schemas/Out/Rum.png" />
	<hr/>
	<img alt="" style="" src="/assets/Schemas/In/Rum.png" />
</div>