<li>
	<div><%= proption.name %></div>
	<div><%= number_to_currency(proption.price) %></div>
	<div>
		<%= link_to 'Удалить', proption, :confirm => 'Вы уверены?', :method => :delete %> | 
		<%= link_to 'Редактировать', edit_proption_path(proption) %>
	</div>
</li>