# XCode noise


# old school
.svn

# osx noise
.DS_store
.DS_Store

db/schema.rb

public/assets/
public/assets
public/uploads/
public/uploads
tmp/
config/database.yml
log/
test/
tmp/
log/
.ruby-version

log/production.log
log/development.log
log/test.log
log/unicorn.stderr.log
log/unicorn.stdout.log
Gemfile
Gemfile.lock
