<h2>Административная панель</h2>

Вы находитесь в административной части сервиса. Если вы тут - значит имеете на это право. Значит, вы и так все знаете.

<ul>
	<li><%= link_to "Категории", categories_path %></li>
</ul>