<li>
	<div><%= prcolor.name %></div>
	<div><%= number_to_currency(prcolor.price) %></div>
	<div>
		<%= link_to 'Удалить', prcolor, :confirm => 'Вы уверены?', :method => :delete %> | 
		<%= link_to 'Редактировать', edit_prcolor_path(prcolor) %>
	</div>
</li>