<div class="catalog">
	<div class="header">
		<div class="heading" style="background: url(<%= textures.images %>)"></div>
		<div class="fancyButton" onclick="texturesWatch(this)">Посмотреть</div>
	</div>
	<div class="textures" style="display:none">
		<% textures.textures.each do |t| %>
		<label>
			<p><%= t.scode %> <%= t.name %></p>
			<img src="<%= t.image %>">
			<input type="radio" name="prcolors" value="<% t.id %>">
		</label>
		<% end %>
	</div>
</div>