<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<%= form_for(@order) do |f| %>
	<div class="row">
		<h4 class="col-md-2 text-right"><%= f.label :created_at, "Дата заказа", {class: 'control-label wrath-content-box'} %></h4>
		<div class="col-md-2">
	      <div class="wrath-content-box" style="padding:0 15px">
	        <%= f.text_field :created_at, :class => 'datepicker form-control col-md-2', size: 10, value: @order.created_at.strftime("%d %m %Y") %>
	      </div>
	    </div>
	</div>
<% end %>
<script>
    $( ".datepicker" ).datepicker({dateFormat: 'dd mm yy'});
</script>