<div class="breadcrumbs" style="padding: 0 5%">
  <a href="/">Главная</a>
  <span>></span>
  <h1>Все товары</h1>
</div>

<% arr = %W(krovati-dlja-spalni shkafy komody tumby-dlja-spalni tumby-pod-tv zerkala polki stoly osnovanija bufety kozhanye-krovati krovati-s-mjagkim-izgolovem krovati-s-jashhikami krovati-s-vysokim-izgolovem zhurnalnye-stoliki svetilniki) %>
<% images = %W(Krovati Shkafi Komodi Tumbochki Tumbi-TV Zerkala Polki Stoli Osnovaniya Bufeti Krovati-kozhanie Krovati-s-myagkim-izgoloviem Krovati-s-yashikami Krovati-s-visokim-izgoloviem jurnalnie-stoliki svetilniki) %>

<% cats = Category.select(:name, :url, :description).where(url: arr) %>
<div class="menuCategoryPage">
	<% for url in arr %>
		<% i = cats.index { |c| c.url == url } %>
		<% c = cats[i] %>
		<a href="/catalog/<%= url %>"><img src="/assets/menu/<%= images[i] %>.jpg">
			<div class='description'><p class='name'><%= c.name %></p><%= raw c.description %></div>
		</a>
	<% end %>
</div>