<style type="text/css">
  .page {
    color: #464646
  }
  .page h1 {
    margin: 22px 0 20px;
    font-size: 30px;
    text-align: center
  }
  .page h2 {
    margin: 35px 0 30px;
    font-size: 30px;
    text-align: center
  }
  .page > img {
    display: block;
    width: 100%;
  }
  .breadcrumbs {
    margin-bottom: 0;
  }
</style>

<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <div>Доставка и оплата</div>
</div>
<div class="page">
  <img src="/images/Ysloviya-dostavki-image.jpg">
  <h1>Условия доставки корпусной мебели.</h1>
  <p>1.1  При заказе до 150 000 стоимость доставки в пределах административных границ  Москвы составляет 1200р. В пределах Московской области 1400 р., плюс 30р. Х 1 км от границы МКАД до подъезда, крыльца дома.</p>
  <p>1.2 При заказе на сумму свыше 150 000 р.  доставка в пределах административных границ Москвы бесплатно. В пределах Московской области оплачивается только 30 р. Х 1 км от границ МКАД до подъезда, либо крыльца дома. Бесплатная доставка предоставляется, только, если товар приобретен без скидки.</p>
  <p>1.3  Доставка производиться ежедневно с 10.00 до 20.00. Клиент может выбрать дату доставки. Временной интервал оговаривается с клиентом за один день до даты доставки.</p>
  <p>1.4 В день доставки, за 1-2 часа до предполагаемого времени прибытия, водитель сообщает по телефону, что машина направляется к клиенту.</p>
  <p>1.5  Доставка товара в другие регионы Российской Федерации , а также в ближайшее зарубежье осуществляется по средством Транспортной компании.  Клиент в праве выбрать сам транспортную компанию в пределах Москвы , Московской области, либо мы подбираем транспортную компанию самостоятельно. Оплата доставки до транспортной компании согласно установленным расценкам.</p>
  <p>1.6  Максимальное время ожидания клиента представителями службы доставки составляет 30 минут с момента прибытия.</p>
  <p>1.7 В случае, если покупателя не оказалось дома в согласованный день доставки, либо отсутствовали документы или доверенность, мебель передана не будет. Повторно доставка по вине Покупателя будет осуществляться платно. Стоимость повторной доставки составляет 1500 руб. в пределах административных границ г. Москвы. При повторной доставке мебели в пределах Московской области , дополнительно взимается плата за километраж от МКАД согласно установленным расценкам.</p>
  <h2>Условия доставки дивана.</h2>
  <p>2.1. Доставка дивана  в пределах административных границ г. Москвы составляет 2000 руб. В пределах Московской области 2000 руб. плюс 30 руб. х 1 км.</p>
  <h2>Подъем.</h2>
  <p>3.1 Погрузка в лифт с не открывающимися полностью дверями не осуществляется.</p>
  <p>3.2 Подъем, занос крупногабаритной мебели через узкие проходы (коридоры, дверные проемы, лестничные пролеты), которые могут причинить механические повреждения доставляемой мебели осуществляется с согласия и под ответственность покупателя/представителя покупателя.</p>
  <p>3.4 Подъем, занос мебели осуществляется платно, согласно расценкам предоставленным в таблице. Подъем (занос) считается с учетом 1-го этажа, многоэтажного, либо частного дома.</p>
  <h2>Сборка.</h2>
  <p>4.1  Сборка производится в день доставки. Возможно произвести сборку в другой удобный для клиента день, в этом случае выезд сборщиков будет платным, согласно установленным расценкам по доставке.</p>
  <p>4.2 Стоимость сборки 6 % от стоимости товара без учета скидки. Минимальная сумма сборки 1000 руб.</p>
  <p>4.3. Монтаж (подвес) одного элемента 500 руб.</p>
  <p>4.4 Установка освещения (1 лампа) – 100 руб.</p>
  <p>4.5 Услуги по демонтажу плинтусов, снятие дверей, перемещение домашней мебели покупателя производится за отдельную плату (по договоренности)</p>
  <h2>Действия клиента во время доставки.</h2>
  <p>- Укажите, пожалуйста, грузчикам место в квартире, где будет проводиться сборка мебели. Чтобы сборка прошла быстро и качественно, обязательно освободите место для ее проведения.</p>
  <p>- Сверьте фактическое количество пакетов с перечнем, указанным в спецификации.</p>
  <p>- При самостоятельной сборке мебели клиентом. Сотрудники, доставившие мебель вскрывают пакеты с зеркалами и стеклами, чтобы удостовериться в их целостности.</p>
  <p>- В случае повреждения мебели или ее деталей при самостоятельной сборке, замена всех необходимых элементов производиться за дополнительную плату.</p>
  <p>- После окончания сборки требуется осмотреть мебель по качеству и подписать акт приемки. После подписания акта приема-сдачи, претензии по внешнему виду (в том числе механическим и другим повреждениям) не принимаются.</p>
  <p>- Услуги по выносу упаковочного материала не осуществляются.</p>
</div>