<style type="text/css">
  .page > img {
    display: block;
    width: 100%;
  }
  .page {
    color: #464646
  }
  .page p {
    margin-bottom: 16px
  }
  .page h1 {
    text-align: center;
    margin: 33px 0 24px;
    color: #464646
  }
  .page h2 {
    margin: 33px 0 16px;
    text-align: center;
    font-size: 22px
  }
  .page > ul {
    padding-left: 0
  }
  .page > ul > li {
    list-style-type: disc;
    padding-left: 30px;
    margin-left: 20px
  }
  .breadcrumbs {
    margin-bottom: 0;
  }
</style>

<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <div>Гарантии</div>
</div>
<div class="page">
  <img src="/images/Garantiya-image.jpg">
  <h1>Гарантия качества</h1>
  <p>Срок эксплуатации мебели PARRA более 10 лет.<br>Для производства продукции PARRA используются экологически чистые материалы, такие как НАТУРАЛЬНЫЙ ШПОН, также сертифицированные материалы ведущих производителей.</p>
  <h2>Гарантия на мебель:</h2>
  <ul>
    <li>Наша компания предоставляет расширенную гарантию на весь ассортимент 2 года.</li>
    <li>На дополнительное оборудование 1 год.</li>
  </ul>
  <h2>Гарантия не распространяется:</h2>
  <ul>
    <li>В случае если дефекты, возникли в результате несоблюдения общих правил по использованию и уходу за изделием, изложенных в инструкции по эксплуатации.</li>
    <li>В случае нарушения правил хранения</li>
    <li>В случае нарушения правил эксплуатации</li>
    <li>В случае когда брак образовался при самостоятельной сборке</li>
    <li>Брак образовавшийся при самовывозе</li>
    <li>Использования мебели не по назначению.</li>
    <li>В случае когда брак образовался в процессе самостоятельной разборки, перестановки или перевозки мебели.</li>
    <li>Естественный износ мебели.</li>
  </ul>
  <h2>В соответствии с Постановлением Правительства РФ от 19 января 1998 г. №55:</h2>
  <ul>
    <li>Матрас, надлежащего качества, не подлежит возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации.</li>
    <li>Совершая выбор товара, проявляйте осмотрительность в отношении размеров, формы, материала и иных подобных качеств мебели, поскольку право на обмен товара надлежащего качества, предусматривает ст.25 Закона РФ «О защите прав потребителей» от 07.02.92 2300-1, в соответствии с Постановлением Правительства РФ ОТ 19.01.98 №55 на мебель не распространяется, в частности если товар не подошедший по размеру и цвету.</li>
  </ul>
  <h2>Что делать при возникновении гарантийного случая:</h2>
  <p>В случае возникновения гарантийного случая Вы можете обратиться в магазин, где была совершена покупка или по телефону <b>+7 (926) 154-50-60</b> <u>parrarekl@gmail.com</u>. Наши специалисты помогут правильно и оперативно решить возникшую проблемы. На основании вашего заявления оформляется рекламация. В течении 10-ти рабочих дней происходит рассмотрение фабрикой. Далее Вам предлагается вариант решения проблемы.</p>
  <p><b>* Устранения выявленных недостатков осуществляется Службой сервиса Фабрики в течение 45 дней с момента подачи письменного заявления покупателя (ст. 20 Закона РФ «О защите прав потребителя», ред. 17.12.1999 г.).</b></p>
  <h2>Правила и условия эффективного и безопасного использования мебели:</h2>
  <ul>
    <li>Каждый предмет мебели рекомендуется использовать согласно его функциональным назначениям.</li>
    <li>В случае самостоятельной сборки, необходимо руководствоваться схемой сборки Изготовителя.</li>
    <li>Рекомендуемая температура воздуха при хранении и эксплуатации от+10 до +25 градусов С.</li>
    <li>Рекомендуемая влажность в помещении 45-70%</li>
    <li>Защищать от прямого попадания солнечных лучей, размещать вдали от отопительных приборов</li>
    <li>Беречь мебель от механических повреждений</li>
    <li>Поверхность мебели следует протирать мягкой тканью.</li>
    <li>Не допускается воздействие на мебельные изделия агрессивных жидкостей.</li>
    <li>Во избежание поломок рекомендуется головную спинку кровати прислонять к стене или иной плоской вертикальной поверхности</li>
    <li>При перемещении мебели с одного места на другое нужно держать мебель только за нижнюю часть каркаса.</li>
  </ul>
  <br>
  <h2>Постгарантийное обслуживание:</h2>
  <ul>
    <li>По истечению срока гарантии на приобретенный товар, мы всегда будем рады  дать консультацию или помочь в решении возникших вопросов.</li>
  </ul>
</div>