<style type="text/css">
  .page > img {
    display: block;
    width: 100%;
    margin-bottom: 67px;
  }
  .page .left, .page .right {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
  .page .right {
    padding-left: 2%;
  }
  .page .left {
    padding-right: 2%;
  }
  .page .left img {
    max-width: 100%;
  }
  .page h1 {
    line-height: 32px;
  }

  @media (max-width: 700px) {
    .page > img {
      margin-bottom: 20px;
    }
    .page .left, .page .right {
      display: block;
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }
    .page .left {
      margin-bottom: 20px;
    }
  }
</style>

<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <b>Карта лояльности</b>
</div>
<div class="page">
  <img src="/images/loyalty-card-image.png">
  <div class="left">
    <img src="/images/loyalty-card.png">
  </div><div class="right">
    <h1>Преимущества Карты лояльности Parra.</h1>
    <br>
    <p>Вы можете бесплатно вступить в программу лояльности Parra® и получить карту, совершив покупку и заполнив анкету в любом салоне PARRA, участвующем в программе.</p>
    <br>
    <p>Карта лояльности предоставляет 7% скидку на все последующие покупки.</p>
  </div>
</div>