<style type="text/css">
  .page > img {
    display: block;
    width: 100%;
    margin-bottom: 67px;
  }
  .page .left, .page .right {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
  .page .right {
    padding-left: 2%;
    font-size: 14px;
  }
  .page .left {
    padding-right: 2%;
  }
  .page .left img {
    max-width: 100%;
  }
  .page h1 {
    line-height: 32px;
  }
  .breadcrumbs {
    margin-bottom: 0;
  }
  .page table {
    width: 100%;
    border-collapse: collapse;
    line-height: 35px;
    font-size: 18px;
  }
  .page th {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
  }
  .page tr:nth-child(odd) * {
    background: #dcdcdc;
  }
  .page tr > * {
    border: 1px solid #bbbbbb;
    padding: 0 30px;
  }
  .page table b {
    text-align: center;
    display: block;
  }

  @media (max-width: 700px) {
    .page > img {
      margin-bottom: 20px;
    }
    .page .left, .page .right {
      display: block;
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }
    .page .left {
      margin-bottom: 20px;
    }
  }
</style>

<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <div>Карта лояльности</div>
</div>
<div class="page">
  <img src="/images/loyalty-card-image.jpg">
  <div class="left">
    <img src="/images/loyalty-card.png">
  </div><div class="right">
    <h1>Преимущества Карты лояльности Parra.</h1>
    <br>
    <p>Вы можете бесплатно вступить в программу лояльности Parra® и получить карту, совершив покупку и заполнив анкету в любом салоне PARRA, участвующем в программе.</p>
    <br>
    <p>Карта лояльности предоставляет 7% скидку на все последующие покупки.</p>
    <br>
    <table>
      <tr>
        <th colspan="2">Интервалы накопления скидок</th>
      </tr>
      <tr>
        <td>100 - 100 000 RUB</td>
        <td><b>3%</b></td>
      </tr>
      <tr>
        <td>100 001 - 300 000 RUB</td>
        <td><b>5%</b></td>
      </tr>
      <tr>
        <td>> 300 001 RUB</td>
        <td><b>8%</b></td>
      </tr>
    </table>
    <br>
    <p>
      • Скидки не распространяются на акционные, уцененные изделия по спец. ценам.<br>
      • Скидки не суммируются, если у клиента имеются другие скидочные карты.<br>
      • Скидки не распространяются на транспортные услуги, услуги по монтажу и другие услуги.<br>
      • В случае возврата товаров сумма, соответствующая стоимости возвращенных товаров, вычитается из карты PARRA.
    </p>
  </div>
</div>