<style>
  div.dialog {
    width: 35em;
    margin: 4em auto;
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    border-top: #B00100 solid 4px;
    border-radius: 9px;
    background-color: white;
    padding: 7px 0 7px 4em;
    font-size: 14px;
  }

  div.dialog h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
    margin-bottom: 10px;
  }

  div.dialog a {
    text-decoration: underline;
  }
</style>
<div class="dialog">
  <h1>Страница не найдена (404 Not Found)</h1>
  <p>Страница, которую вы ищете, не существует.</p>
  <p>Вы ошиблись при наборе адреса или страницу переместили.</p><br>
  <p>Мы приносим свои извинения за доставленные неудобства и предлагаем следующие пути:</p><br>
  <p>» перейти на <a href="/">главную страницу</a> или <a href="/sitemap">карту сайта</a>;</p>
  <p>» связаться с нами по телефону 8 800 707-67-57;</p>
  <p>» написать письмо (mail@parra-shop.ru) нашим сотрудникам.</p>
</div>