<style type="text/css">
  .page > img {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .page-content {
    color: #464646
  }
  .page-content p {
    margin-bottom: 16px
  }
  .page h1 {
    text-align: center;
    margin: 33px 0 24px;
    color: #464646;
    font-size: 29px
  }
  .page-content h2 {
    margin: 33px 0 16px;
    text-align: center;
    font-size: 22px
  }
  .page-content ul {
    padding-left: 20px
  }
  .page-content li {
    list-style-type: disc;
    padding-left: 30px;
  }
  .page-content li ul {
    margin-top: 16px;
    padding-left: 0
  }
  .page-content li li {
    padding-left: 0;
    list-style-type: none
  }
  .page-content li li:before {
    content: '- ';
    display: inline;
  }
  .breadcrumbs {
    margin-bottom: 0;
  }
</style>

<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <div>Покупка в кредит</div>
</div>
<div class="page">
  <img src="/images/pokupka-v-kredit-image.jpg">
  <div style="text-align: center">
    <h1 style="margin-bottom: 0">Мебель Parra в кредит - это легко!</h1>
    <p style="margin: 40px 0; font-size: 18px"><i>Не откладывайте, позвольте себе больше прямо сейчас!</i></p>
    <a style="display: inline-block; background: #293339; border-radius: 4px; padding: 0 56px; height: 35px; line-height: 35px; color: white; font-size: 15px; cursor: pointer">Оформить кредит</a>
    <p style="margin: 40px 0 30px"><b>Мы сотрудничаем с надежными банками партнерами:</b></p>
  </div>
  <div style="font-size: 0">
    <div style="font-size: 14px; display: inline-block; vertical-align: top; width: 47%; margin-right: 6%">
      <img style="display: block; margin: 0 auto 27px" src="/assets/pokupka-v-kredit/1.png">
      <div style="background: #ddd; line-height: 35px; text-align: center; border: 1px solid #b7b7b7">Условия предоставления кредита банком ООО «Хоум Кредит энд Финанс Банк»</div>
      <div style="padding: 20px; border: 1px solid #b7b7b7; border-top: 0">
        • Срок кредита: 6, 7, 8, 9, 10, 11, 12, 18, 20, 24, 30, 36 месяцев<br>
        • Сумма кредита: от 10 000 до 500 000 рублей<br>
        • Первоначальный взнос: 0%, 10%, 20%, 30%, 40%, 50%<br>
        • Процентная ставка (годовая): 29,9%<br>
        • Возраст с 18 до 68 лет 
      </div>
    </div>
    <div style="font-size: 14px; display: inline-block; vertical-align: top; width: 47%">
      <img style="display: block; margin: 18px auto 27px" src="/assets/pokupka-v-kredit/2.png">
      <div style="background: #ddd; line-height: 35px; text-align: center; border: 1px solid #b7b7b7">Условия предоставления кредита банком АО «Кредит Европа Банк»</div>
      <div style="padding: 20px; border: 1px solid #b7b7b7; border-top: 0">
        • Срок кредита: 6, 7, 8, 9, 10, 11, 12, 18, 20, 24 месяца<br>
        • Сумма кредита: от 20 000 до 500 000 рублей<br>
        • Первоначальный взнос: 0%, 10%, 20%, 30%, 40%, 50%<br>
        • Процентная ставка (годовая): 28%<br>
        • Возраст с 18 до 68 лет 
      </div>
    </div>
  </div>
  <br>
  <div class="page-content">
    <h2>Как оформить кредит:</h2>
    <ul>
      <li>Оставьте заявку на сайте, и наши специалисты свяжутся с Вами с кратчайшие сроки для уточнения всех деталей</li>
      <li>Связаться с нашими специалистами по многоканальному бесплатному телефону</li>
      <li>После одобрения выбранного вами продукта банка, вам останется только подъехать в ближайший фирменный салон PARRA для подписания документов и оформить покупку.</li>
      <li>Также вы можете оформить кредит (или рассрочку) в фирменном салоне PARRA </li>
    </ul>
    <h2>Документы для оформления кредита:</h2>
    <ul>
      <li>Паспорт гражданина РФ</li>
      <li>Один из следующих документов:
        <ul>
          <li>водительское удостоверение</li>
          <li>свидетельство ИНН</li>
          <li>заграничный паспорт</li>
          <li>пенсионное свидетельство</li>
        </ul>
      </li>
    </ul>
  </div>
</div>