<style type="text/css">
  .page > img {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .page-content {
    color: #464646
  }
  .page-content p {
    margin-bottom: 16px
  }
  .page-content h2 {
    margin: 0 0 16px;
    text-align: center;
    font-size: 22px
  }
  .page-content blockquote {
    border-left: 6px solid #c4c4c4;
    padding: 0 21px;
    margin-top: 36px
  }
  .breadcrumbs {
    margin-bottom: 0;
  }
</style>

<div class="breadcrumbs">
  <a href="/">Главная</a>
  <span>></span>
  <div>Покупка в кредит</div>
</div>
<div class="page">
  <img src="/images/sposoby-oplaty.png">
  <h1 style="text-align: center">Оплата</h1>
  <br><br>
  <div class="page-content">
    <p>Приобретая товар в интернет-магазине parra-shop.ru, Вы можете выбрать один из возможных способов оплаты.</p>
    <h2>Оплата наличными</h2>
    <p>Оплату наличными можно произвести в одном из наших салонов:</p>
    <p>
      <b>МЦ «Мебель PARK»</b><br>
      г. Москва, Киевское шоссе, Строение 1, 3 вход, 3 этаж +7-499-940-12-29
      <br>
      <b>МЦ «Family Room»</b><br>
      г. Москва, Киевское шоссе, Строение 1, 5 вход, 2 этаж +7-499-940-12-29
      <br>
      <b>МЦ «Армада»</b><br>
      г. Москва, ул. Кировоградская, д. 11/1, 2 этаж +7-495-665-11-52
      <br>
      <b>МЦ «Roomer»</b><br>
      г. Москва, ул. Ленинская Слобода, д. 26, 2 этаж +7-499-426-46-06
      <br>
      <b>ТЦ «Твой Дом - Крокус»</b><br>
      г. Москва, 65-66 км МКАД, 2 этаж +7-499-340-09-08
      <br>
      <b>МЦ «Империя»</b><br>
      г. Москва, Дмитровское шоссе д. 159, 3 этаж +7-499-899-07-09
      <br>
      <b>ТРК «Красный Кит»</b><br>
      г. Мытищи, Шараповский проезд, вл. 2, 1 этаж +7-499-347-09-09
      <br>
      <b>МЦ «Вагант»</b><br>
      г. Подольск, ул. Стационарная, д.11, 1 этаж +7-499-400-58-18
      <br>
      <b>ТРК «Красный Кит»</b><br>
      г, Красногорск, ул. Ленина, дом 2, этаж 2 +7-499-341-40-50
    </p>
    <h2>Оплата по банковской карте</h2>
    <p>Оплату покупки банковской картой можно осуществить в одном из наших салонов:</p>
    <p>
      <b>МЦ «Мебель PARK»</b><br>
      г. Москва, Киевское шоссе, Строение 1, 3 вход, 3 этаж +7-499-940-12-29
      <br>
      <b>МЦ «Family Room»</b><br>
      г. Москва, Киевское шоссе, Строение 1, 5 вход, 2 этаж +7-499-940-12-29
      <br>
      <b>МЦ «Армада»</b><br>
      г. Москва, ул. Кировоградская, д. 11/1, 2 этаж +7-495-665-11-52
      <br>
      <b>МЦ «Roomer»</b><br>
      г. Москва, ул. Ленинская Слобода, д. 26, 2 этаж +7-499-426-46-06
      <br>
      <b>ТЦ «Твой Дом - Крокус»</b><br>
      г. Москва, 65-66 км МКАД, 2 этаж +7-499-340-09-08
      <br>
      <b>МЦ «Империя»</b><br>
      г. Москва, Дмитровское шоссе д. 159, 3 этаж +7-499-899-07-09
      <br>
      <b>ТРК «Красный Кит»</b><br>
      г. Мытищи, Шараповский проезд, вл. 2, 1 этаж +7-499-347-09-09
      <br>
      <b>МЦ «Вагант»</b><br>
      г. Подольск, ул. Стационарная, д.11, 1 этаж +7-499-400-58-18
      <br>
      <b>ТРК «Красный Кит»</b><br>
      г, Красногорск, ул. Ленина, дом 2, этаж 2 +7-499-341-40-50
    </p>
    <h2>Оплата в банке по выставленному счёту</h2>
    <p>Оплату в любом банке можно осуществить через выставленный счет. Для этого необходимо связаться с нашим менеджером по телефону: <b style="color: #64b822">8-800-707-67-57</b>
    <br>Если у Вас есть доступ к личному кабинету в Вашем on-line банке, Вы можете оплатить покупку через личный кабинет.</p>
    <h2>Оплата в рассрочку или кредит</h2>
    <p>Для удобства клиентов мы предусмотрели возможность оплаты покупки частями.
    <br>Для этого вы можете оформить рассрочку или кредит на товар, выбранный на сайте parra-shop.ru. Подробности об условиях оформления рассрочки и кредита можно узнать в разделе «Рассрочка и кредит» или уточнить, связавшись с нашими менеджерами.</p>
    <h2>Оплата по безналичному расчету для юридических лиц</h2>
    <p>Для юридических лиц предлагается оплата по безналичному расчету. Для получения счета, необходимо связаться с нашими менеджерами по любому из указанных телефонов. Для юридических лиц предоставляется вся необходимая закрывающая документация: договор, счет, счет-фактура, товарная накладная.</p>
    <blockquote>
      <p>На сайте parra-shop указаны актуальные цены. Дополнительные услуги не включены в стоимость товаров. Доставка и сборка оплачиваются отдельно.</p>
      <p>Ваш заказ может быть оплачен различными способами (например, часть стоимости вносится наличными, а часть оплачивается банковской картой). Оплата заказа по частям различными способами согласовывается с менеджером.</p>
      <p>При заказе мебели в Интернет-магазине parra-shop возможна оплата в размере 30% стоимости товара при оформлении покупки и 70% после сообщения о готовности товара к доставке. Подробности уточняйте у наших менеджеров.</p>
      <p>При оплате наличными в наших салонах покупатель получает на руки договор купли-продажи и документы, подтверждающие оплату (кассовый чек, приходно-кассовый ордер банка-оператора).</p>
      <p>При дистанционной оплате вместе с товаром покупателю передается договор купли-продажи, и акт приемки. Для юридических лиц договор, счет, счет-фактура, товарная накладная.</p>
    </blockquote>
  </div>
</div>