<style type="text/css">
	.vacancy {
		font-size: 14px;
		line-height: 20px;
		margin: 50px 100px;
	}
	.vacancy b {
		display: block;
		border-bottom: 1px dotted #000;
	}
	.vacancy p {
		margin-bottom: 10px;
	}
</style>
<h1 style="margin-top: 20px; text-align: center">Вакансии</h1>
<div class="vacancy">
	<b>Наименование вакансии:</b>
	<p>Продавец-консультант</p>
	<b>Требования:</b>
	<p>Возраст - от 20 до 50 лет.<br>Опыт работы в розничной торговле от 1 года.<br>Навыки общения, грамотная речь.</p>
	<b>Функциональные обязанности:</b>
	<p>Консультация посетителей, помощь в выборе моделей мягкой мебели, подборе тканей.</p>
	<b>График работы:</b>
	<p>2/2 и 4/2 в зависимости от магазина.</p>
	<b>Заработная плата:</b>
	<p>оклад + проценты.</p>
	<b>Телефон для связи:</b>
	<p>8-800-707-67-57</p>
</div>