//= require_tree .
//= require_self

@import "mixins"

@import url('http://fonts.googleapis.com/css?family=Droid+Sans')

@keyframes animation-notify {
  0% {
  	opacity: 0;
  	transform: scale3d(.3, .3, .3);
  }
  30% {
  	opacity: 1;
  	top: 30px;
  	transform: scale3d(1, 1, 1);
  }
  90% {
  	opacity: 1;
  	top: 30px;
  	transform: scale3d(1, 1, 1);
  }
  100% {
  	opacity: 0;
  	top: -30px;
  	transform: scale3d(.3, .3, .3);
  }
}

@keyframes spin {
  0% {
  	transform(rotate(0deg))
  }
  50% {
  	transform(rotate(180deg))
  }
  100% {
  	transform(rotate(360deg))
  }
}

html
	height 100%
a
	text-decoration none
	color inherit
*
	margin 0
	padding 0
	font-family 'Droid Sans', sans-serif
body
	height 100%
	font-size 0
	background-color #3f3f3f
.hide
	display none
.hidden
	display none !important
.text-center
	text-align center
#menu, #main
	min-height 100%
#menu
	width 250px
	left 0
	top 0
	bottom 0
	position fixed
	overflow auto
	div
		border-bottom 1px solid rgba(0, 0, 0, 0.3)
	div, ul > li
		position relative
		color #eee
		> a, > p
			color #eee
			padding 13px 0 14px 10px
			display block
			border-left 3px solid transparent
			overflow hidden
			cursor pointer
			transition(.3s)
			> *
				display inline-block
				vertical-align top
			> span
				font-size 14px
			> i
				font-size 16px
				opacity 0.8
				margin-right 10px
				filter unquote('alpha(Opacity=80)')
	div:first-child
		border-top 1px solid rgba(0, 0, 0, 0.3)
	ul > li
		border-style solid
		border-color rgba(0, 0, 0, 0.3)
		border-width 0
		> a, > p
			height 0
			padding 0 0 0 10px
	a:hover, a.active, p:hover, p.active
		color white
		border-left 3px solid #D64535
		background-image -webkit-gradient(linear,left top,right top,color-stop(0, #D64535),color-stop(1, #333333))
		background-image -o-linear-gradient(right, #D64535 0%, #333333 100%)
		background-image -moz-linear-gradient(right, #D64535 0%, #333333 100%)
		background-image -webkit-linear-gradient(right, #D64535 0%, #333333 100%)
		background-image -ms-linear-gradient(right, #D64535 0%, #333333 100%)
		background-image linear-gradient(to right, #D64535 0%, #333333 100%)
		> i
			opacity 1
			filter unquote('alpha(Opacity=100)')
	a.active, p.active
		background #D64535
	a.active + .icon-arrow-right11:before, p.active + .icon-arrow-right11:before
		content "\e362"
	a.active + .icon-arrow-right11:hover, p.active + .icon-arrow-right11:hover
		background-color #D83E2D
	> div
		> .active + .icon-arrow-right11 + ul, > .active + .icon-arrow-right11 + ul > li > .active + .icon-arrow-right11 + ul
			> li
				border-width 0 0 1px 0
				> a, > p
					height 16px
					padding 13px 0 14px 10px
				> .current
					position relative
					z-index 1
					overflow visible !important
					background #D64535
					box-shadow(0 0 15px #D64535)
				> .current:after
					border-width 22px 0 22px 23px
					border-color transparent #D64535
					right -22px
			> li:last-child
				border-bottom 0
			> li:first-child
				border-width 1px 0
	a.current:after, p.current:after
		content ''
		display block
		border-style solid
		border-color transparent transparent
		border-width 0 0 0 0
		position absolute
		right 0
		top 1px
		z-index 1
		transition(.3s)
	ul
		background-color rgba(0, 0, 0, 0.2)
	div > ul > li
		a, p
			padding-left 30px
	.icon-arrow-right11
		position absolute
		margin 0
		top 0
		right 0
		width 43px
		height 43px
		text-align center
		line-height 43px
		cursor pointer
		z-index 1
		transition(.3s)
	.icon-arrow-right11:hover
		background-color rgba(0, 0, 0, 0.15)
		box-shadow(unquote('inset 0 0 10px #E02F1B, 0 0 5px #000'))
#main
	font-size 14px
	background-color #E5E9EC
	margin-left 250px
	padding 0 50px
	box-shadow(0 0 0 10px rgba(0, 0, 0, .1))
#yield
	padding-top 50px
	max-width 1200px
	margin 0 auto
	text-align center
#notify
	position fixed
	color white
	font-size 0
	top -30px
	right 50px
	opacity 0
	z-index 10000
	transition(.8s)
	> *
		vertical-align middle
		display inline-block
		background-color #5cb85c
		border 1px solid #398439
	i
		font-size 40px
		height 40px
		width 40px
		line-height 40px
		padding 8px 10px 10px
		text-align center
		position relative
		z-index 1
		border-radius(30px)
		box-shadow(inset 0 0 20px #398439)
	p
		font-size 22px
		padding 10px 30px
		margin-left -11px
		border-radius(0 10px 10px 0)
		box-shadow(unquote('inset 0 0 20px #398439, 0 0 50px #5cb85c'))
#notify.show
	animation(animation-notify 3s)
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, button:focus
	outline 0
button
	cursor pointer
h1
	display inline-block
	font-size 20px
	color #333
	padding 10px 30px
	background-color white
	border 1px solid #ddd
	border-bottom 0
	margin-bottom -1px
	border-radius(3px 3px 0 0)
	b
		text-transform capitalize
		color black
h2
	font-size 18px
	color #333
	margin 0 0 10px
	text-align left
	border-bottom 1px solid #333
	padding 6px 24px
.content
	background-color white
	padding 0 20px
	border 1px solid #ddd
	border-radius(4px)
	box-shadow(0 3px 5px #aaa)
.btn
	display inline-block
	padding 6px 12px
	font-size 14px
	line-height 1.42857143
	text-align center
	white-space nowrap
	vertical-align middle
	-ms-touch-action manipulation
	touch-action manipulation
	cursor pointer
	color #fff
	text-decoration none
	border 1px solid transparent
	user-select(none)
	border-radius(4px)
	transition(.3s)
	i
		position relative
		top -3px
	i:first-child
		margin-right 5px
	i:last-child
		margin-left 5px
.btn.square
	border-radius(0)
.btn.dashed
	padding 7px 15px
	position relative
	margin 20px 0
.btn.dashed:before
	content ''
	display block
	position absolute
	top 4px
	left 4px
	right 4px
	bottom 4px
	border 1px dashed rgba(0, 0, 0, 0.2)
.btn.green
	background-color #54BD48
	border-color #3FA932
.btn.green:hover
	background-color #3FA932
	border-color #1E8910
.btn.yellow
	color #333
	background-color #FFFF7C
	border-color #D3D300
.btn.yellow:hover
	color black
	background-color #FFFF44
	border-color #A8A800
.btn.white
	border-color #aaa
	color #333
.btn.white:hover
	border-color #666
	color black
.blue
	background-color #66afe9
.blue:hover
	background-color #419EE8
.btn.purple
	border-color #9D4BDB
	background-color #AC70DA
.btn.purple:hover
	border-color #7F28C0
	background-color #9D4BDB
.btn.deepblue
	background-color #435CDB
	border-color #2243EC
.btn.deepblue:hover
	background-color #2243EC
	border-color #00f
.btn.red
	background-color #DB4343
	border-color #EC2222
.btn.red:hover
	background-color #EC2222
	border-color #f00
.btn.loading:before
	content "\e0a3"
	font-family 'icomoon'
	display block
	float left
	margin-right 10px
	animation(spin linear infinite 1s)
.row
	display table
	border-spacing 0
	border-collapse collapse
	background-color #eee
	margin-bottom 10px
	> *
		white-space nowrap
		display table-cell
		width 1%
		border 1px solid #aaa
		border-right 0
		line-height 32px
		z-index 1
		box-sizing(border-box)
	> *:last-child
		border-right 1px solid #aaa
	> input[type=text], input[type=email], input[type=password]
		border 1px solid #bbb
		width 100%
		z-index 0
	> input[type=text] + *, input[type=email] + *, input[type=password] + *
		border-left 0
	.min
		width 1%
		text-align right
	.max
		width 90%
	> p
		padding 0 12px
	> i
		text-align center
		width 32px
		color #555
		cursor pointer
		transition(.3s)
	> i:hover
		background-color #DB4343
		color white
table
	width 100%
	border-spacing 0
	line-height 32px
	border-collapse collapse
	input[type=text]
		box-shadow(inset 0 0 10px #aaa)
		box-sizing(border-box)
		border 0
		width 100%
	input[type=text]:focus
		box-shadow(inset 0 0 12px #2C97ED)
	.dropdown
		i
			position relative
			left 5px
	.btn
		color #333
		border 1px solid #aaa
		display table-cell
		border-radius(0)
	.btn.green, .btn.red, .btn.deepblue
		background-color white
	.btn.green:hover, .btn.red:hover, .btn.deepblue:hover
		color white
	.min
		width 1%
		input
			text-align right
	a
		display block
th, td
	border 1px solid #aaa !important
th
	color white
	border-color #222 !important
	background-color #444
	padding 0 12px
td
	position relative
input[type=text], input[type=email], input[type=password]
	padding 6px 12px
	font-size 14px
	line-height 1.42857143
	color #555
	background-color #fff
	border 1px solid #bbb
	position relative
	box-shadow(inset 0 1px 1px rgba(0,0,0,.075))
	transition(unquote('border-color ease-in-out .15s,box-shadow ease-in-out .15s'))
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus
	outline none
	border-color #66afe9
	box-shadow(unquote('inset 0 0 8px rgba(0,0,0,.3),0 0 8px rgba(102,175,233,.6)'))
input[type=text]:disabled
	background-color #eaeaea
input[type=checkbox]
	cursor pointer
	position relative
	top 2px
.association
	padding 20px 30px
	text-align left
	border-bottom 1px solid #ccc
	> p
		font-size 18px
		font-weight bold
		float left
		margin-right 15px
		line-height 34px
		width 240px
	label
		font-size 18px
		font-weight bold
		line-height 34px
		float right
		input
			margin-left 20px
	> div
		display inline-block
		vertical-align top
	.dropdown
		margin-right 40px
		.btn
			height 32px
			line-height 32px
		div p
			line-height 32px
		i
			vertical-align top
			cursor pointer
			position absolute
	.dropdown.active
		.btn:hover
			color white
		div
			margin-top 10px
			p
				height 32px
	.choosed
		font-size 0
		i
			background-color #419EE8
			margin 0 1px 0 10px
			border-radius(4px 0 0 4px)
			transition(.3s)
		i:hover
			background-color #564DDD
		.btn
			border-radius(0 4px 4px 0)
		.btn:hover
			background-color #66afe9
			cursor default
		> div
			display inline-block
	i
		cursor pointer
		color white
		display inline-block
		height 34px
		width 34px
		line-height 34px
		text-align center
	> i
		float right
		background-color #E84141
		margin-left 30px
hr
	border 0
	border-top 1px solid #ccc
.dropdown
	position relative
	color white
	transition(.3s)
	> p
		color #333
		padding 0 12px
		cursor pointer
		transition(.3s)
	> div
		position absolute
		background-color transparent
		z-index 1
		min-width 100%
		border-top 1px solid transparent
		transition(.3s)
		> *
			display block
			padding 0 12px
			cursor pointer
			height 0 !important
			overflow hidden
			border 1px solid #222
			border-width 0 1px
			transition(.3s)
		> *:hover
			background-color #d64535
			box-shadow(0 0 10px #d64535)
		.active
			background-color #d64535			
.dropdown.active
	background-color #d64535
	border-color #222
	> p, > p:hover
		border-color #666
		color white
	> div
		background-color #444
		border-color #222
		box-shadow(0 0 10px #222)
		> *
			height 32px !important
			border-width 0 1px 1px
label.big
	display block
	background-color 
	div
		display inline-block
		padding 0 24px
		background-color #006EFF
		color white
		line-height 32px
		border 1px solid #0048A8
		font-weight bold
		font-size 16px
#dark
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	z-index 999
	display none
	.bg
		position absolute
		height 100%
		width 100%
		background-color rgba(0, 0, 0, 0.3)
		box-shadow(inset 0 0 150px rgba(0, 0, 0, 0.6))
	> div
		display none
		position fixed
		top 50%
		left 50%
		z-index 1000
		box-shadow(0 5px 150px rgba(0, 0, 0, 0.8))
	.ask
		width 400px
		height 200px
		margin-top -100px
		margin-left -200px
		.title
			height 42px
			color white
			font-size 18px
			line-height 44px
			padding-left 20px
			background-color #54BD48
			border 1px solid #3D9333
			border-radius(3px 3px 0 0)
		.text
			background-color white
			height 50px
			border 1px solid #aaa
			border-bottom 0
			font-size 16px
			color #333
			padding 25px
			line-height 25px
			text-align center
		.buttons
			background-color white
			border 1px solid #aaa
			padding 10px
			text-align right
			border-radius(0 0 3px 3px)
			> div
				margin-left 10px
	.images
		width 600px
		height 428px
		margin-top -230px
		margin-left -316px
		background-color #eaeaea
		border 1px solid #aaa
		padding 15px
		.tabs
			height 387px
#dark.show
	display block
	.show
		display block
.edit-model
	.rename, .change, .remove
		display none
.treebox
	background-color white
	width 10%
	position relative
	p
		padding 0 12px
		text-align left
		cursor pointer
	> ul
		position absolute
	ul
		background-color white
		width 100%
		border 1px solid #aaa
		border-width 0 1px
		margin-left -1px
		li
			list-style none
		div
			height 0
			overflow hidden
			transition(.3s)
		p
			padding-left 44px
		p:hover, i:hover
			background-color #2243EC
			color white
		i
			color white
			cursor pointer
			float left
			width 31px
			height 31px
			line-height 31px
			border 1px solid #aaa
			border-width 0 1px 1px 0
			background-color #66afe9
			text-align center
			margin-right 12px
		ul > li
				margin 0 20px
				border 1px solid #aaa
				border-width 0 1px
.treebox.active
	> ul
		border-width 1px
		> li > div, div.active + ul > li > div
			height 32px
		div.active + ul
			border-width 1px
.nav-tabs
	text-align center
	border-bottom 1px solid #d64535
	p
		cursor pointer
		color #333
		display inline-block
		vertical-align top
		font-size 14px
		padding 10px 15px 10px
		border 1px solid transparent
		border-bottom 0
		transition(.3s)
	p:hover
		color black
		background-color #f8f8f8
		border-color #d64535
	.active
		color white !important
		background-color #d64535 !important
.tabs
	background-color white
	border 1px solid #aaa
	border-top 0
	.file
		padding 10px 20px
		display block
		border-bottom 1px solid #aaa
		.btn
			margin-right 10px
	> div
		display none
		form
			> .row, > .checkbox, > .radio
				margin 0 50px
	> .active
		display block
.file
	input
		display none
.image-preview
	overflow auto
	height 333px
	> div
		border-bottom 1px solid #aaa
		display table
		width 100%
		> div
			display table-cell
			vertical-align middle
			font-size 14px
	.image
		width 150px
	img
		max-width 100px
		max-height 100px
		padding 3px
		border 1px solid #aaa
		margin 10px 15px
	p
		line-height 22px
	.buttons
		padding 0 20px
		width 50px
	.btn
		display block
	.btn.green, .btn.yellow
		margin-bottom 10px
	.btn.blue
		width 100px
		text-align left
	.btn.blue + .btn.red
		height 0
		border 0
		padding 0
		overflow hidden
	.btn.red
		float right
.images-controls
	margin-top 20px
	font-size 0
.input-images
	a
		display inline-block
		padding 5px
		border 1px solid #aaa
		margin 10px
		box-shadow(0 0 20px #888)
		border-radius(4px)
	img
		max-width 150px
		max-height 150px
		border 1px solid #aaa
		vertical-align middle
.input-images.many
	background-color #efefef
	border 1px solid #aaa
	padding 10px 0
	overflow auto
	white-space nowrap
	transition(.3s)
.input-images.empty
	border-width 0
	padding 0 0
#admin
	.mce-tinymce
		margin 0
		border 0
	.mce-menubar
		border 0
	.mce-edit-area
		border 1px solid #ddd !important
	.mce-statusbar
		border-width 0 !important
	.mce-panel
		background transparent
	.mce-btn-group
		margin-right 10px
		.mce-btn
			background #fafafa
			margin-left 1px
			border 1px solid #ccc
			border-radius(2px)
			box-shadow(none)
			transition(.3s)
			button
				padding 5px 6px 6px
			.mce-caret
				margin-top 11px
				margin-right 3px
		.mce-btn.mce-active
			background white
			box-shadow(unquote('rgba(0, 0, 0, 0.1) 0px 1px 2px inset'))
			i
				color black
		.mce-btn:first-child
			margin-left 0
	.mce-ico
		padding 2px 3px
		width 16px
		height 17px
	.mce-menubtn
		span
			display inline-block
			height 23px
			line-height 24px
			padding-left 3px
		span:before
			content ''
			display inline-block
			font-family icomoon
			margin-right 3px
	.mce-toolbar-grp
		padding-bottom 15px
	.mce-menu
		border 0
		padding 0
		margin-top -1px
		background-color white
		border-radius(0)
	.mce-menu-item
		margin 0
		border 1px solid #ccc
		border-bottom-color transparent
		transition(.15s)
		.mce-text
			transition(.15s)
			font-size 14px !important
	.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus, .mce-menu-item.mce-active
		background #435cdb
		border-color #2243ec
		box-shadow(inset 0 1px 6px #2243ec)
	.mce-menu-item.mce-active
		border 0
		.mce-text
			color white
	.mce-colorbutton .mce-preview
		left 40%
	.mce-floatpanel.mce-popover.mce-bottom.mce-start
		background-color white
		padding 5px
		height auto !important
	.mce-colorbutton-grid
		margin 0
	.mce-grid td.mce-grid-cell div
		border 0
		width 20px
		height 20px
		margin-bottom 1px
	.mce-grid-cell
		border 0 !important
	.mce-window
		background-color white
	.mce-path, .mce-resizehandle
		background-color #fafafa
		border 1px solid #ccc
		border-top 0
		padding 8px 20px
		margin 0
	.mce-i-resize
		margin-left -3px
	.mce-i-resize:before
		content '\e330'
		font-family icomoon
#welcome
	background-size cover
	background-color white
	font-size 16px
	text-align center
	position relative
	color #333
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	form
		background-color rgba(255, 255, 255, 0.7)
		display inline-block
		width 276px
		height 192px
		position absolute
		top 50%
		left 50%
		margin-top -117px
		margin-left -159px
		padding 20px
		border 1px solid #aaa
		border-radius(3px)
		box-shadow(0 0 30px rgba(255, 255, 255, 0.7))
		p
			line-height 30px
			margin-top 10px
		p:first-child
			margin-top 0
		> div
			margin-top 20px
		input[type=email], input[type=password]
			width 250px
	.checkbox
		float left
	.btn
		float right
label.checkbox
	display inline-block
	height 34px
	line-height 34px
	input
		display none
	> div
		display inline-block
		vertical-align top
		position relative
		top 5px
		width 18px
		height 18px
		background-color rgba(255, 255, 255, 0.8)
		border 1px solid #aaa
		cursor pointer
		margin-right 8px
		font-family 'icomoon'
	> div:after
		content "\e2aa"
		width 16px
		height 18px
		line-height 18px
		position absolute
		left 0
		padding-left 2px
		color transparent
		transition(.1s)
	div.checked:after
		color #333
		box-shadow(inset 0 0 2px #aaa)
h2.textarea
	margin 20px auto 10px
	text-align center
	width 200px
	border 0
	padding 8px 20px 9px
	background-color #fafafa
	border 1px solid #ccc
	text-transform capitalize
	font-size 20px
	border-radius(2px)
#record-index
	position absolute
	top 0
	left 250px
	bottom 0
	right 0
	> .panel
		position relative
		z-index 1
		background-color #eaeaea
		font-size 14px
		padding 15px
		border-bottom 1px solid #aaa
		box-shadow(0 0 30px rgba(0,0,0,0.5))
		.tabs
			padding 15px
			> div
				height 34px
				text-align left
		.dropdown
			display inline-block
			*
				line-height 34px
				i
					top -1px
			.checkbox
				display block
				> div
					margin 3px 8px 0 0
					width 14px
					height 14px
				> div:after
					width 13px
					height 14px
					padding-left 1px
		.submodels
			.icon-arrow-right3
				float right
			.model-wrap
				> .model-options
					display none
					position absolute
					width auto
					height auto
					margin 0
					top -1px
					left 100%
					margin-left -1px
					border 0
					white-space nowrap
					font-size 0
					transition(.3s)
					.dropdown
						font-size 14px
						vertical-align top
					.btn.white
						color white
						height 32px
						line-height 32px
						background-color #444
						border-color #222
						vertical-align top
					> .submodels > p
						border-left 0
				> .model-options:after
					display none
			.model-wrap:hover > .model-options
				display block
#records
	padding 85px 50px 50px
	position absolute
	top 134px
	bottom 0
	right 0
	left 0
	overflow auto
#records
	> .header
		position fixed
		top 134px
		line-height 34px
		display inline-block
		> div
			background-color #444
			position relative
			left -50%
			border-radius(0 0 3px 3px)
			> div
				display table
				width 100%
		p
			display table-cell
			color white
			padding 0 20px
	.record-wrap
		margin-bottom 3px
		.btn-children, .btn-edit, .btn-destroy
			background-color white
			border 1px solid #ccc
			width 34px
			height 34px
			float left
			cursor pointer
			line-height 34px
			border-radius(3px)
			transition(.3s)
		.btn-edit, .btn-destroy
			float right
		.btn-children
			color #83B1E5
		.btn-children:hover
			color #0078FF
		.btn-children:before
			content "\e104"
			font-family 'icomoon'
		.btn-edit:before
			content "\e11e"
			font-family 'icomoon'
		.btn-destroy:before
			content "\e0d7"
			font-family 'icomoon'
		.btn-children.active
			color #E58383
		.btn-children.active:hover
			color #FF0000
		.btn-children.active:before
			content "\e158"
		.btn-children + .btn-destroy + .btn-edit + .record
			margin-left 39px
			.around, form
				left -40px
		.btn-edit
			color #D69D35
			margin-right 3px
		.btn-edit:hover
			color #FFA500
		.btn-destroy:hover
			color #f00
		.btn-destroy
			color #D63535
		.btn-edit + .record
			margin-right 78px
		.record
			border 1px solid #ccc
			display block
			color #333
			position relative
			border-radius(3px)
			> *
				background-color white
				position relative
			.string
				display table
				width 100%
				p
					color #333
					display table-cell
					padding 0 20px
					white-space nowrap
					line-height 34px
					border-right 1px solid #ccc
				p:last-child
					border-right 0
			.text
				border-top 1px solid #ccc
				padding 15px
				text-align left
				line-height 20px
			form
				display none
				position absolute
				left -1px
				right -79px
				background-color rgba(255, 248, 118, 0.6)
				border 1px solid #FFD569
				border-top 0
				padding 20px
				z-index 1
			.around
				background-color rgba(255, 248, 118, 0.6)
				border 1px solid #FFD569
				border-bottom 0
				position absolute
				top -21px
				left -1px
				right -79px
				bottom -1px
				display none
		.edit
			form, .around
				display block
	label
		display block
		margin-top 10px
		p
			display inline-block
			padding-right 20px
			font-weight bold
	.relations
		.record-wrap
			margin 0 39px 3px
		.model-name
			margin 3px 0
			background-color #eee
			border 1px solid #ccc
			display block
			color #333
			width 100%
			line-height 34px
			font-weight bold
	.children, .relations
		margin 3px 39px
	.children, .relation
		display none
	.children.active, .relation.active
		display block
#components
	padding 30px 30px
	text-align left
	> div
		padding 5px 25px
		border-bottom 1px solid #aaa
		.name
			cursor pointer
			font-size 18px
			line-height 34px
			i
				position relative
				top -3px
				font-size 20px
				margin-right 12px
			div
				margin-left 20px
				opacity 0
				transition(.3s)
		.name:hover
			div
				opacity 1
		.setup
			transition(.3s)
			> *
				display block
				height 0
				overflow hidden
				transition(.3s)
			.checkbox div
				margin-right 10px
			.btn
				transition(.3s)
	.active
		.setup
			padding 15px 20px
			> *
				height 34px
				padding 5px 10px
				border-bottom 1px solid #aaa
			> *:last-child
				border 0
	> div:last-child
		border 0
.ace-tabs, .ace-nav-tabs
	margin 0 50px
.ace-tabs
	.checkbox, .radio
		display block
		margin-top 20px !important
.ace-wrap
	height 400px
	margin 0 50px
	position relative
	border 1px solid #aaa
	box-shadow(0 0 30px #aaa)
	*
		font-family monospace
	.editor
		width 100%
		height 100%
		text-align left
label.radio
	display block
	> div:before, > div:after
		content "\e0e1"
		font-family 'icomoon'
		display block
		width 18px
		height 18px
		position absolute
		top 0
		left 0
		font-size 18px
	> div:after
		content "\e0e2"
		color transparent
		transition(.3s)
	div.checked:after
		color #333
	div
		cursor pointer
		width 18px
		height 18px
		position relative
		display inline-block
		margin-right 8px
		position relative
		top 1px
		input
			display none
.labels label
	display block
.buttons-list
	border 1px solid #aaa
	margin 0 30px
	padding 10px
	.btn
		margin 0 2px
.center-row .row
	margin 0 auto 15px
p.error
	display inline-block
	padding 0 15px
	color transparent
	font-size 16px
	line-height 36px
	position absolute
	transition(.3s)
p.error.active
	color #e22