@import "mixins"

#menu
	width 250px
	background-color #3f3f3f
	width 250px
	float left
	color #eee
	font-size 14px
	min-height 100%
	li
		position relative
		transition(.3s)
		> div
			position absolute !important
			right 0
			width 43px
			height 0
			line-height 40px
			text-align center
			cursor pointer
			position relative
			overflow hidden
			transition(.3s)
		> div:hover
			color white
			background-color rgba(0, 0, 0, 0.15)
			box-shadow(unquote('inset 0 0 10px #E02F1B, 0 0 5px #000'))
	li > a, li > p
		height 0
		overflow hidden
		position relative
		display block
		line-height 16px
		transition(.3s)
		> i
			display block
			float left
			margin -1px 10px 0 0
	> li
		> a, > p
			height 16px
			padding 13px 0 14px 13px
			border-bottom 1px solid rgba(0, 0, 0, 0.3)
		> div
			height 43px
			z-index 1
	li:after
		content ''
		display block
		position absolute
		float right
		border-style solid
		border-color transparent #D64535
		border-width 0
		right 0
		top 22px
		transition(.2s)
	li:hover, li.active, li.current
		color white
	li:hover, li.active, li.current, li.open
		> a, > p, > div, .fade
			i
				opacity 1
	li.active, li.current
		> a, > p
			background-color #d64535
	li.current
		> a, > p
			box-shadow(0 0 15px #d64535)
	li.current:after
		border-width 22px 0 22px 23px
		top 0
		right -23px
	ul
		background-color rgba(0, 0, 0, 0.15)
		box-shadow(inset 0 0 15px rgba(0, 0, 0, .5))
	a:before, p:before
		content ''
		display block
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		background-image -webkit-gradient(linear,left top,right top,color-stop(0, #D64535),color-stop(1, #333333))
		background-image -o-linear-gradient(right, #D64535 0%, #333333 100%)
		background-image -moz-linear-gradient(right, #D64535 0%, #333333 100%)
		background-image -webkit-linear-gradient(right, #D64535 0%, #333333 100%)
		background-image -ms-linear-gradient(right, #D64535 0%, #333333 100%)
		background-image linear-gradient(to right, #D64535 0%, #333333 100%)
		opacity 0
		transition(.3s)
	li:hover
		> a:before, > p:before
			opacity 1
	li.active, li.current
		> a:before, > p:before
			opacity 0
	i
		font-size 16px
		opacity .8
		position relative
	.fade i
		transition(.3s)
		opacity 0
	span
		position relative
	li.open > ul > li
		> a, > p
			height 16px
			padding 13px 0 14px 13px
			border-bottom 1px solid rgba(0, 0, 0, 0.3)
		> div
			height 43px
			z-index 1
	li.open > div
		-ms-transform rotate(90deg)
		-webkit-transform rotate(90deg)
		transform rotate(90deg)
	div.icon a
		display block
		width 100%
		height 100%
		line-height 40px
		text-align center