@import "mixins"

table
	line-height 32px
td
	display table-cell !important
	> input[type=text], > input[type=email], > input[type=password]
		height 34px
	label.checkbox
		> div
			margin 0
table.style
	width 100%
	border-spacing 0
	line-height 32px
	border-collapse collapse
	input[type=text]
		box-shadow(inset 0 0 10px #aaa)
		box-sizing(border-box)
		border 0
		width 100%
	input[type=text]:focus
		box-shadow(inset 0 0 12px #2C97ED)
	.min
		width 1%
		input
			text-align right
	tr
		background white
	th, td
		border 1px solid #aaa !important
	th
		color white
		border-color #222 !important
		padding 0 12px
		text-shadow(0 1px 3px black)
		btn-gradient(#444, #777, #555, #333, #444)
	td
		position relative
		a
			display block
	.row
		*
			border 0
		p:first-child
			border-right 1px solid #aaa
#records
	padding 85px 50px 50px
.group
	width 100%
	margin-bottom 5px
	table
		width 100%
		color #444
		line-height 34px
		border-collapse collapse
		td
			border 1px solid #ccc
			background-color white
	.relations
		border 1px solid #ccc
		border-top 0
		margin 0 30px 15px
		padding 5px 10px
		background-color rgba(255, 255, 255, 0.5)
.records-header table
	color white
	line-height 34px
	border-collapse collapse
	td
		background-color #444
		padding 0 20px
.records-header table:last-child
	tr:last-child
		td:first-child
			border-radius(0 0 0 8px)
		td:last-child
			border-radius(0 0 8px 0)
.form table
	width 100%
	border-spacing 20px
	
#table-structure
	line-height 32px
	table
		width 100%
		outline 1px solid #FF5959
		padding 5px
		margin 45px 0 20px
		border-spacing 0
		transition(.3s)
	table:before
		content 'table'
		display block
		margin-top -39px
		padding 0 12px
		position absolute
		z-index 1
		line-height 32px
		cursor pointer
		color white
		border 1px solid #9E1919
		border-bottom-color #8D0F0F
		border-top-color #BE3838
		text-shadow(0 1px 0 #A81111)
		transition(.3s)
		btn-gradient(#DA4A4A, #FF4A4A, #DE2D2D, #B81A1A, #B11818)
	table:hover:before
		box-shadow(inset 0 0 8px #FF4A4A)
	table.active
		outline-color red
		box-shadow(0 0 12px red)
	table.active:before
		background-color #FF4949
		box-shadow(inset 0 0 12px red)
	tr
		outline 1px solid #9FFF6F
		position relative
		transition(.3s)
	tr:before
		content 'строка'
		display block
		margin-top -1px
		margin-left -62px
		width 60px
		position relative
		z-index 1
		cursor pointer
		color white
		border 1px solid #509e19
		border-bottom-color #198d0f
		border-top-color #6dbe38
		font 700 13px sans-serif
		line-height 32px
		user-select(none)
		transition(.3s)
		border-radius(3px 0 0 3px)
		btn-gradient(#7ada4a, #b2ff4a, #6bde2d, #43b81a, #3bb118)
		transition(.3s)
	tr:hover:before
		box-shadow(inset 0 0 8px #b2ff4a)
	tr.active
		outline-color green
	tr.active:before
		background-color #0f0
		box-shadow(inset 0 0 12px green)
	td
		cursor pointer
		white-space nowrap
	td:first-child > div, td.hidden:first-child + td > div
		margin-left 10px
	td:last-child > div
		border-right 1px solid #bbb
		margin-right 10px
	td > div
		background-color white
		border 1px solid #ccc
		border-right 0
		margin 5px 0
		transition(.3s)
	td.active > div, td:hover > div
		border-color #aaa
		box-shadow(inset 0 0 12px #aaa)
	td.table-wrap
		padding 20px
	td.table-wrap:before
		content 'td'
		margin-left -20px
		display inline-block
		padding 0 12px
		position absolute
		z-index 1
		line-height 32px
		cursor pointer
		color white
		border 1px solid #0034ff
		border-bottom-color #0034FF
		border-top-color #3F7CFF
		text-shadow(0 1px 0 #00f)
		transition(.3s)
		btn-gradient(#4B76FD, #84ABFF, #4B76FD, #0003FF, #0A4EFF)
	td.table-wrap:hover:before
		box-shadow(inset 0 0 8px #84ABFF)