<li>
	<div><%= prsize.name %></div>
	<div><%= number_to_currency(prsize.price) %></div>
	<div>
		<%= link_to 'Удалить', prsize, :confirm => 'Вы уверены?', :method => :delete %> | 
		<%= link_to 'Редактировать', edit_prsize_path(prsize) %>
	</div>
</li>