<h3>Новый отзыв на сайте <a href="http://www.parra-shop.ru/">www.parra-shop.ru</a></h3>

<p><b>Автор</b>: <%= @comment.author %></p>
<p><b>Заглавие</b>: <%= @comment.title %></p>
<p><b>Город</b>: <%= @comment.city %></p>
<p><b>Сообщение:</b></p>
<p><%= @comment.body %></p>