<h3>Заказ кредита на сайте <a href="http://www.parra-shop.ru/">www.parra-shop.ru</a></h3>

<p><b>ФИО</b>: <%= @data[:name] %></p>
<p><b>Email</b>: <%= @data[:email] %></p>
<p><b>Телефон</b>: <%= @data[:phone] %></p>