/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'mixins';

$menu-height: 450px;

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

* {
	font-family: 'Droid Sans', sans-serif;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.hidden {
	display: none !important;
}

.logo {
	width: 251px;
	height: 84px;
	margin: 0 0 5px 19px;
	float: left;
}

nav {
	font-size: 13px;
	color: #58585A;
	font-weight: bold;
	float: right;
	margin: 52px 40px 0 0;

	> ul {		

		li {
			list-style-type: none;
			text-align: center;
		}

		> li {					
			display: inline-block;

			> a {
				margin: 13px 18px 6px;
				display: block;
				text-transform: uppercase;
				white-space: nowrap;
				@include transition(0.3s);

				b {
					margin-left: 8px;
				}
			}

			> a:hover {
				color: #52B84A;
			}

			ul {
				position: absolute;
				height: 0;
				background-color: rgba(255, 255, 255, 0.8);
				padding: 0 0 0;
				width: 100px;
				overflow: hidden;
				z-index: 3;
				@include transition(0.3s);

				:first-child {
					margin-top: 20px;
				}

				li {
					line-height: 25px;
					@include transition(0.3s);
				}

				li:hover {
					color: #52B84A;
				}
			}

			> div {
				height: 0;
				position: absolute;
				left: 0;
				right: 0;				
				overflow: hidden;
				z-index: 2;
				@include transition(0.3s);

				div	{
					position: absolute;
					width: 100%;
					height: $menu-height;
					position: absolute;
					top: 0;
					left: -2000px;
					background-repeat: no-repeat;
					background-size: 100% 450px;
					z-index: 2;
				}	
			}
		}

		> li:hover {
			ul {
				height: $menu-height;
			}

			> div {
				height: $menu-height;
			}
		}

		> .submenu {
			a {
				cursor: pointer;
			}	

			div {
				display: block;
				margin-top: 1px;
				height: 0;
				width: auto;
				background-color: #E6E6E6;
				position: absolute;
				left: 0;
				width: 100%;
				z-index: 1;
				overflow: hidden;
				@include transition(0.3s);

				ul {
					height: 100%;
					padding-top: 0;
					background-color: transparent;
					width: auto;
					position: absolute;
					margin-right: 43px;
					right: 0;

					li {
						display: inline-block;
						margin: 0 15px;
						line-height: 40px;
					}
				}
			}
		}

		.submenu:hover {
			div {
				height: 40px;
				border-bottom: 1px solid black;
			}
		}
	}
}

#alert {
	display: none;

	> :first-child {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
	}

	> :last-child {
		position: fixed;
		width: 400px;
		height: 300px;
		background-color: white;
		@include box-shadow(0 0 60px 0 rgba(0,0,0,0.7));
		text-align: center;

		p {
			margin-top: 50px;
		}

		a {
			text-decoration: underline;
		}

		.continue {
			position: absolute;
			bottom: 30px;
			width: 100%;
			left: 0;			
			cursor: pointer;
		}

		> div {
			height: 25px;
			width: 100%;
			background-color: #eee;

			div {
				background: url(http://www.centrsvet.ru/_img/amiPopup_close_btn.gif);
				width: 25px;
				height: 25px;
				float: right;
				cursor: pointer;
			}
		}
	}
}

.show {
	margin-left: 30px;
	
	h2 {
		font-size: 20px;
		font-weight: normal;
		line-height: 20px;
		margin: 30px 0 0 0px;
		width: 100%;
	}

	.main {
		height: 450px;

		> div, > :first-child {
			height: 100%;
			width: 50%;
			float: left;
		}

		> div {
			position: relative;

			> :first-child {
				padding-top: 60px;
				font-size: 16px;
				color: black;
				margin-bottom: 35px;
				font-weight: bold;
				color: black;
			}

			> p {
				margin-left: 50px;
				color: #58585A;
				font-size: 13px;

				b {
					margin-right: 5px;
					color: black;
				}
			}

			> :last-child {
				margin-left: 50px;
				position: absolute;
				bottom: 25px;
				color: black;
				font-weight: bold;
				font-size: 15px;

				p {
					float: left;
				}

				div {
					float: right;
					margin: -2px 0 0 30px;
					border: 1px solid #A6A6A6;
					font-size: 12px;
					line-height: 16px;
					padding: 0 8px;
					@include border-radius(3px);
					@include linear-gradient((white, #F6F6F6 50%, #eee 100%));
				}
			}
		}

		> :first-child {

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.options {
		margin-top: 30px;
		border-top: 1px solid black;
	}

	.others {
		height: 300px;		
		border-top: 1px solid black;
		border-bottom: 1px solid black;

		> p {
			color: #575759;
			font-size: 16px;
			line-height: 46px;
			position: absolute;
			padding-left: 16px;
		}

		> :nth-child(1) {
			margin-left: 2px;
		}

		> div {
			height: 100%;
			width: 150px;
			float: left;
			margin-right: 37px;

			:first-child {
				height: 150px;
				margin: 40px 0 15px;
				background-size: 100% 100%;
			}

			p {
				width: 100%;
				text-align: center;
				color: #575759;
				font-size: 13px;
				line-height: 1;
			}

			:last-child {
				margin-top: 7px;
				color: black;
			}
		}

		:last-child {
			margin-right: 0;
		}
	}
}

body > .main {
	border-top: 1px solid black;
	position: absolute;
	width: 100%;
	top: 86px;
	bottom: 40px;
	overflow: auto;
	z-index: 0;

	> div {
		width: 1100px;
		margin: 0 auto;

		> .index {
			font-size: 0;

			> div {
				width: 300px;
				height: 400px;
				display: inline-block;
				vertical-align: top;

				img {
					width: 280px;
					height: 280px;
					margin: 10px;
				}

				div {
					color: #59595B;
					margin-left: 50px;
					font-size: 14px;
					line-height: 25px;
				}

				:nth-child(3) {
					font-weight: bold;
				}

				:nth-child(3), :last-child {
					color: black;
				}
			}
		}
	}

	form {
		.images {
			font-size: 0;

			li {
				display: inline-block;

				img {
					width: 150px;
					height: 100px;
					margin: 20px;		
				}

				p {
					font-size: 14px;
					cursor: pointer;
				}
			}			
		}
	}
}

#cart {
	width: 100%;
	border: 1px solid black;

	> ul {
		height: 25px;
		background-image: url(http://mebel-litva.ru/images/HeaderSlice.jpg);

		:last-child {
			background: none !important;
		}
	}

	div ul {
		height: 25px;
	}

	ul {
		:first-child {
			width: 17%;
		}

		> li {
			width: 15%;
		}

		:nth-child(2) {

			span {
				color: transparent;
				cursor: pointer;
				-moz-user-select: -moz-none;
				-o-user-select: none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				user-select: none
			}

			:first-child {
				background: url(http://mebel-litva.ru/images/Minus.png) 3px 3px;				
			}

			:last-child {
				background-image: url(http://mebel-litva.ru/images/Plus.png);				
			}

			.invis {
				background: none;
			}

			b {
				font-weight: normal;
			}
		}

		:last-child {
			width: 8%;
			cursor: pointer;
			background: url(http://mebel-litva.ru/images/Delete.png?1330460074) 46% no-repeat;
		}

		li {
			float: left;
			line-height: 25px;
			height: 25px;
			text-align: center;
			outline: 1px solid black
		}
	}
}

.offer {
	h3 {
		text-align: center;
		margin: 20px;
	}

	form {
		display: inline-block;
		width: 100%;
		margin: 0 auto;
    	text-align: center;

    	input, textarea {
    		margin-bottom: 10px;
    	}
	}
}

#addImages {
	img {
		width: 100px;
		height: 100px;
		margin: 10px;
	}
}

.page {
	padding: 20px 30px;

	p {
		.abzac {
			width: 30px;
			float: left;
			height: 15px;
			display: block;
		}
	}

	h3 {
		text-align: center;
		line-height: 45px;
		padding-top: 5px;
	}

	> ul {
		margin: 10px 0 10px;

		> li {
			list-style-type: disc;
			line-height: 30px;
			margin-left: 40px;
		}
	}

	.table {
		margin-top: 20px;
		text-align: center;		
		margin-bottom: 40px;

		li {
			font-size: 0;			
			line-height: inherit;
			margin-left: 0;

			div {
				display: inline-block;
				width: 24%;
				font-size: 15px;
				line-height: 24px;				
			}

			> :first-child {
				width: 52%;
			}
		}

		> :first-child {
			border-left: 0;

			div {
				border: 0;
				line-height: 36px;
				font-size: 16px;
				font-weight: bold;
			}
		}
	}

	.stores {
		li {			

			div {
				width: 44%;
				line-height: 36px;
				font-size: 16px		
			}

			:first-child {
				text-align: left;
				width: 36%;

				img {
					width: auto;
					height: auto;
					position: relative;
					top: 2px;
				}
			}

			:last-child {
				width: 20%;				
			}
		}

		> :first-child :first-child {
			text-align: center
		}
	}

	.tborder {
		border-bottom: 1px solid black;

		li {
			border-left: 1px solid black;			

			div {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				border-right: 1px solid black;
				border-top: 1px solid black;
			}
		}
	}

	.accordion {
		margin-top: 30px;
		border-bottom: solid 1px #4c3b4c;

		h3 {
			background: url(/assets/arrow-square.gif) no-repeat right -51px;
			padding: 0 5px;
			line-height: 30px;
			font-size: 17px;
			border: 1px solid #4c3b4c;
			border-bottom: 0;
			cursor: pointer;
			color: #4D3B4B;
		}

		h3:hover {
			background-color: #e3e2e2;
		}

		a {
			text-decoration: underline;
		}

		a:hover {
			color: #FFFFFF;
		}

		h3.active {
			background-position: right 5px;
		}

		.panel {
			display: none;
			text-align:justify;
			margin: 0;
			padding:  10px 15px 20px;
			border-left: solid 1px #4c3b4c;
			border-right: solid 1px #4c3b4c;
		}

		.panel:nth-child(2) {
			display: block;
		}
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #E6E6E6;

	ul {
		li {
			margin: 0 15px;
			line-height: 40px;

			a {
				margin: 0;
				text-transform: inherit;
			}
		}
	}
}