/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$menu-height: 450px;

@mixin transition($s) {
  -webkit-transition: $s;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: $s;  /* Firefox 4-15 */
       -o-transition: $s;  /* Opera 10.50–12.00 */
          transition: $s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

<<<<<<< HEAD
@import "http://webfonts.ru/import/alegreya.css";

* {
	font-family: 'Alegreya SC';
=======
@import "http://webfonts.ru/import/b20sans.css";

* {
	font-family: 'B20 Sans';
	padding: 0;
	margin: 0;
>>>>>>> rominbranch
}

a {
	color: inherit;
	text-decoration: none;
}

<<<<<<< HEAD
nav {
	font-size: 15px;
	color: #58585A;
	font-weight: bold;
	float: right;
	margin: 52px 60px 0 0;
=======
.logo {
	width: 117px;
	height: 84px;
	margin: 0 0 5px 19px;
	position: absolute;
}

nav {
	font-size: 14px;
	color: #58585A;
	font-weight: bold;
	float: right;
	margin: 52px 40px 0 0;
>>>>>>> rominbranch

	> ul {		

		li {
			list-style-type: none;
			text-align: center;
		}

		> li {					
			display: inline-block;
<<<<<<< HEAD
			width: 100px;

			> a {
				margin-bottom: 17px;
				display: block;
				text-transform: uppercase;
=======

			> a {
				margin: 13px 18px 6px;
				display: block;
				text-transform: uppercase;
				white-space: nowrap;
>>>>>>> rominbranch
			}

			ul {
				position: absolute;
				height: 0;
				background-color: rgba(255, 255, 255, 0.8);
<<<<<<< HEAD
				padding: 20px 0 0;
=======
				padding: 0 0 0;
>>>>>>> rominbranch
				width: 100px;
				overflow: hidden;
				margin-top: 1px;
				@include transition(0.3s);

				li {
					line-height: 25px;
					@include transition(0.3s);
				}

				li:hover {
					color: #52B84A;
				}
			}

			> div {
				height: 0;
				position: absolute;
				left: 0;
				right: 0;
				border-top: 1px solid #54585B;
				overflow: hidden;
				@include transition(0.3s);

				div	{
					width: 100%;
					height: $menu-height;
					position: absolute;
					top: 0;
					left: -2000px;
				}	
			}
		}

		> li:hover {
			ul {
				height: $menu-height;
<<<<<<< HEAD
=======
				padding-top: 20px;
>>>>>>> rominbranch
			}

			> div {
				height: $menu-height;
			}
		}
	}
<<<<<<< HEAD
=======
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #E6E6E6;

	ul {
		li {
			margin: 0 15px;
			line-height: 40px;
		}
	}
>>>>>>> rominbranch
}