#img{position:absolute;z-index:-10;}

*html #img {position:absolute !important; top:0; left:0}

*:focus {outline:none; }

body 
{ 
  background-color: Black;
}

div.page 
{
  width:100%;
  height:100%;
  /* background:url(/images/Background.png) no-repeat;  */
  /* background-color: White; */
  margin: -1px auto 0 auto;
}

div.leftblock 
{
  height:100%;
  width:250px;
  margin-top:0px; 
  margin-left:0px
  position:relarive;
  float: left;
  padding-top:30px;
}

div.block 
{
  height:100%; 
  margin-top:0px; 
  margin-left:250px; 
  margin-right:30px;
  margin-bottom:30px;  
  background-color:#ffffff;
/* Internet Explorer */
filter:alpha(opacity=90);
/* CSS3 standard */
  opacity:0.9;
}

#centercol h2 a { color: #666666;}
#centercol h2 a:visited { color: #666666;}
#centercol h2 a:hover { color: #666666;}

#mainmenutable a { color: White;font-size:  14px; font-weight: bold;}
#mainmenutable a:visited { color: White;font-size:  14px; font-weight: bold;}
#mainmenutable a:hover { color: White;font-size:  14px; font-weight: bold;}

#footermenutable a { color: #666666; font-weight: bold; text-decoration:none;}
#footermenutable a:visited { color: #666666; font-weight: bold; text-decoration:none;}
#footermenutable a:hover { color: #666666; font-weight: bold; text-decoration:none;}

#MainDiv
{
  margin-left:15px;
  margin-right:15px;
  height:100%;
}

#navitable
{
  margin-top:10px;
}

#navitable tr td
{
  text-align:left;
}

.navTdCol1
{
  background-color: #0490dd;
  color: White;
}

.navTdCol2
{
  background-color: #d0f4f0;
}

.navTdCol3
{
  background-color: #023a77;
  color: #bed3d8;
}

.navTdCol4
{
  background-color: #77cff3;
  color: #013b60;
}

.navTdCol5
{
  background-color: #f6d43f;
}

.navTdCol6
{
  background-color: #fdf8e4;
}

.navTdCol7
{
  background-color: #faf6db;
}

a img
{
  border:0px;
}

#Header2TD
{
	height: 25px;
	background: White url(/images/Header2.jpg) no-repeat left;	
}

#centercol
{
	margin-top:10px;
  margin-left:0px;
	margin-right:0px;
}

#centercol h2
{
	color: Black;
	margin-bottom:0px;
}

#centercol h3
{
	margin-bottom:5px;
}

.category_name
{
	color: #699abf;
}

#centercol h4
{
	margin-bottom:7px;
	margin-top:5px;
}

.products2 a {color: #2474B5;}
.products2 a:visited {color: #2474B5;}
.products2 a:hover {color: #2474B5;}

.admin_navigation a {color: #2474B5;font-size:  14px;}
.admin_navigation a:visited {color: #2474B5;font-size:  14px;}
.admin_navigation a:hover {color: #2474B5;font-size:  14px;}


#productBests a img {border:1px solid #35ADD2;}
#productAction a img {border:1px solid #35ADD2;}

#products a { color: #666666;font-size:  14px;}
#products a:visited { color: #666666;font-size:  14px;}
#products a:hover { color: #666666;font-size:  14px;}

.product_details {font-size:10px;}

#products p {margin:0;}

#cart
{
		margin-top:20px;
		margin-bottom:20px;
		width: 204px;
		text-align:center;
		font-family: arial;
		font-size:14px;
}

#cart p {font-size:14px;}
#cart a img {border:0;}

#cart a { color: #699abf;font-size:  14px;}
#cart a:visited { color: #699abf;font-size:  14px;}
#cart a:hover { color: #699abf;font-size:  14px;}

#cart_big
{
	text-align:left;
}


.login
{
		margin-top:20px;
		margin-bottom:20px;
		width: 204px;
		text-align:center;
		
		font-family: arial;
		font-size:   12px;
		color: #699abf;
}

.login a { color: #699abf;}
.login a:visited { color: #699abf;}
.login a:hover { color: #699abf;}

#login_buttons
{
	width:100%;
	text-align:left;
}

#remember_me
{
	margin-left:0px;
}

#reg_link
{
	margin-right:30px;
}

.login form
{
	text-align:left;
	margin-left:27px;
}


.login  p
{
	margin-top:0px;
	margin-bottom:10px;
	padding:0px;
}

.usertext
{
	width:150px;
}

body, p, ol, ul, td {
  font-family: arial;
  font-size:   12px;
}

#leftMenu
{
	text-align:left;
}

#leftMenu ul
{
	font-size: 14px;
  font-weight: bold;
  padding-left:25px;
}

li.root
{
	margin-left: 40px;
	line-height: 20px;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#Header2TD a { color: #676565; text-decoration:none; margin-right:60px;}
#Header2TD a:visited { color: #676565; }
#Header2TD a:hover { color: #676565; }

#leftMenu a { color: White;}
#leftMenu a:visited { color: White; }
#leftMenu a:hover { color: White; }

#itogo
{
	border: 1px solid #699abf;
	background-color: #cbfebe;
	height: 26px;
	font: bold 14px Arial;
}

#cart_actions
{
	width: 100%;
	padding-top:15px;
	
}

#cart_actions img
{
	border: 0;
	vertical-align:middle;
}

#cart_actions a { color: #699abf;font: normal 14px Arial;}
#cart_actions a:visited { color: #699abf;font: normal 14px Arial;}
#cart_actions a:hover { color: #699abf;font: normal 14px Arial;}

#content { float: left; width: 100%; display: inline; margin-left:0px; padding-bottom:20px; color: black; }
#content p { margin-bottom:5px; font: normal 12px Arial; line-height:15px; }
#content p a   { font: normal 12px Arial; }
#content .attach { margin:5px 0 15px }
#content .attach dt { font: normal 12px Arial; color: black; text-decoration: underline; cursor: pointer; }
#content .attach dd { display: none; font: normal 12px Arial; color: black; }
#content .data 
{ 
	width: 100%; 
	margin-bottom:10px; 
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
}
#content .data img
{ 
	border: 0;
	vertical-align:middle;
}
#content .data2 { width: 100%; margin-bottom:10px; }
#content .data th 
{ 
	height: 25px;
	background:url(/images/HeaderSlice.jpg) left repeat-x; 
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666; 
	font: normal 12px Arial; 
	color: black; 
}
#content .data td { height: 26px; padding:0 5px 0 5px; border-right: 1px solid #666666; font: normal 12px Arial; color: black; cursor: default; }
#content .data td.itogo { height: 26px; padding:0 5px 0 5px; border-right: 1px solid #666666;  border-top: 1px solid #105101; font: bold 12px Arial; color: black; cursor: default; }
#content .data td .plus { color:#379875 }
#content .data td .minus { color:#DE2302 }
#content .data td a { font: normal 12px Arial; }

table.data tr.dark td {
	background-color: #cbfebe;
}


table.data tr.light td {
	background-color: #FFFFFF;
}

ul li 
{ 
	list-style: none; 
	color: White;
}

li .handle {
  font-size: 12px;
  cursor: move;
  color: #777;
}



#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.prImage {
 float: left;
 margin-right: 10px;
 margin-bottom: 10px;
}

.prImage2 {
 display:none;
}

.prImage3 {
 border: 1px solid #666666;
 background-color: #FFFFFF;
 margin-right: 0px;
 margin-bottom: 10px;
 margin-top: 10px;
 background-color: rgba(255, 204, 51, 0.5);
}

table.pricetable td, th
{
	border: 1px solid #000000;
	text-align:center;
}

table.pricetable td
{
	border: 1px solid #000000;
}

table.pricetable
{
	width:100%;
	border-collapse:collapse;
	font-size:13px;
}

table.pricetable caption
{
	font-weight:bold;
}

div#rotator {position:relative; height:505px;margin-left:50px;margin-top:0px;}
div#rotator ul li {float:left; position:absolute; list-style: none;}
div#rotator ul li.show {z-index:500;}

