/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'mixins';

$menu-height: 450px;

@import url(http://fonts.googleapis.com/css?family=Exo+2);

* {
	font-family: Verdana;
	font-style: normal;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	background-color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.hidden {
	display: none !important;
}

.logo {
	width: 200px;
	height: 84px;
	margin: 0 0 5px 19px;
	position: absolute;
}

#search {
	position: absolute;
	right: 300px;
	top: 18px;
	font-size: 0;
	input[type=text] {
		width: 200px;
		font-size: 13px;
		border: 1px solid #C6C6C6;
		border-width: 1px 0 1px 1px;
		padding: 5px 0 5px 10px;
		@include border-radius(5px 0 0 5px);
	}
	input[type=text]:focus {
		border-color: #4FB859;
		outline: 0;
	}
	input[type=submit] {
		font-size: 13px;
		border: 1px solid #4FB859;
		padding: 5px 10px;
		background-image: url("/assets/buyButton.png");
		color: white;
		@include border-radius(0 5px 5px 0);
	}
}

.shopPhone {
	position: absolute;
	right: 60px;
	top: 12px;

	p {
		color: #5A585B;
		font-size: 23px;
	}

	ins {
		font-size: 13px;
		color: #4EBA6F;
		margin-top: -4px;
		margin-left: 2px;
		display: block;
		text-decoration: none;
		border-bottom: 1px solid #5AC67B;
		float: left;
	}
}

.fancyButton {
	border: 1px solid #A6A6A6;
	font-size: 12px;
	line-height: 16px;
	padding: 0 8px;
	cursor: pointer;
	float: left;
	@include border-radius(3px);
	@include linear-gradient((white, #F6F6F6 50%, #eee 100%));
}

nav {
	font-size: 13px;
	color: #58585A;
	float: right;
	margin: 52px 40px 0 0;

	> ul {

		li {
			list-style-type: none;
			text-align: center;
		}

		> li {					
			display: inline-block;

			> a {
				margin: 13px 18px 6px;
				display: block;
				text-transform: uppercase;
				white-space: nowrap;
				position: relative;
				height: 16px;
				line-height: 16px;
				@include transition(0.3s);

				b {
					margin-left: 8px;
				}
			}

			> a:hover {
				color: #52B84A;
				text-decoration: underline;
			}

			ul {
				position: absolute;
				height: 0;
				background-color: rgba(255, 255, 255, 0.8);
				padding: 0 0 0;
				width: 100px;
				overflow: hidden;
				z-index: 3;
				@include transition(0.3s);

				:first-child {
					margin-top: 20px;
				}

				li {
					line-height: 25px;
					@include transition(0.3s);
				}

				li:hover {
					color: #52B84A;
				}
			}

			> div {
				height: 0;
				position: absolute;
				left: 0;
				right: 0;				
				overflow: hidden;
				z-index: 2;
				@include transition(0.3s);

				div	{
					position: absolute;
					width: 100%;
					height: $menu-height;
					position: absolute;
					top: 0;
					left: -2000px;
					background-repeat: no-repeat;
					background-size: 100% 450px;
					z-index: 2;
				}	
			}
		}

		> li:hover {
			ul {
				height: $menu-height;
			}

			> div {
				height: $menu-height;
			}
		}		

		.wherebuy:hover span {
			height: 475px;
			border-bottom: 1px solid #C6C6C6;
		}

		.submenu:hover {
			div {
				height: 40px;
				border-top: 1px solid #C6C6C6;
				border-bottom: 1px solid #C6C6C6;
			}
		}

		.allProducts div {
			background-color: #E6E6E6;			
			overflow: hidden;

			a {
				display: inline-block;
				margin: 15px 30px;
				vertical-align: top;
				font-size: 15px;
				font-weight: normal;
				border-left: 4px solid #58575C;
				padding-left: 10px;
				width: 85px;
				@include transition(0.3s);
			}

			a:hover {
				color: #52B84A;
			}
		}

		.allProducts:hover div {
			height: 94px;
			border-top: 1px solid #C6C6C6;
			border-bottom: 1px solid #C6C6C6;
		}

		.cart > span {
			display: block;
			width: 350px;
			background-color: white;
			border-right: 1px solid #C6C6C6;
			border-left: 1px solid #C6C6C6;
			position: absolute;
			z-index: 1;
			right: 20px;
			margin-top: 1px;
			padding-left: 10px;
			max-height: 0;
			overflow: hidden;
			@include transition(0.3s);

			h2 {
				color: #198900;
				line-height: 36px;
				margin: 0 14px 0 4px;
				font-weight: normal;
				font-size: 16px;
				text-align: right;
				float: right;

				b {
					color: #198800;
					font-size: 17px;
				}
			}

			> span {
				margin-left: -10px;
				display: block;
				height: 36px;
				border-top: 1px solid #C6C6C6;
				border-bottom: 1px solid #C6C6C6;
			}

			> div {
				margin-top: 10px;
				max-height: 460px;
				overflow: auto;
				> a {
					height: 100px;
					margin-bottom: 15px;
					display: block;

					img {
						width: 100px;
						height: 100px;
						float: left;
					}

					> div {
						display: table;
						height: 100px;
						width: 210px;
						margin-left: 115px;
						text-align: left;
						text-decoration: underline;

						> div {
							display: table-cell;
							vertical-align: middle;					
							font-size: 13px;
							line-height: 20px;

							div {
								float: right;
								color: #198800;
							}

							ins {
								font-size: 14px;
								color: #030000;
							}
						}
					}
				}
			}
		}

		.cart:hover > span {
			max-height: 509px;
		}
	}
}

.wherebuy span {
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		background-color: #E6E6E6;				
		z-index: 3;
		height: 0;
		overflow: hidden;
		@include transition(0.3s);
}
.wherebuy span > div, .wherebuyinner {
	height: 100%;
    div {
    	height: 100%;
		margin-top: 35px;
		padding-left: 30px;
		text-align: center;
		a {
			display: inline-block;
			height: 170px;
			vertical-align: top;
			width: 165px;
			margin: 0 0 55px 0;
			font-size: 14px;
			line-height: 26px;
			padding: 0 30px;
			font-weight: normal;
			position: relative;
			color: #535356;
			text-align: left;
			@include transition(0.3s);
		}
		a:hover {
			color: black;
		}
		a:before {
			position: absolute;
			left: 0;
			top: 5px;
			display: block;
			content: "";
			height: 100%;
			width: 5px;
			background-color: #E01902;
			@include border-radius(2px);
		}
		:nth-child(3):before {
			background-color: #737E76;
		}
		:nth-child(4):before {
			background-color: #F88800;
		}
		:nth-child(5):before {
			background-color: #06450C
		}
		:nth-child(6):before {
			background-color: #07298A;
		}
		:nth-child(7):before {
			background-color: #FEDD02;
		}
		:nth-child(8):before {
			background-color: #737E76;
		}
		:nth-child(9):before {
			background-color: #737E76;
		}
	}
}

#orderWindow form {
	padding: 15px 10px 0 !important;
	.col-md-5 {
		width: 45%;
		float: left;
	}
}

#alert, #orderWindow {
	display: none;
	@include transition(0.3s);

	> :first-child {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
	}

	> :last-child {
		position: fixed;
		width: 434px;
		padding: 16px 18px;
		background-color: white;
		@include box-shadow(0 0 60px 0 rgba(0,0,0,0.7));
		text-align: center;

		p {
			margin-top: 50px;
		}

		a {
			text-decoration: underline;
		}

		.items {
			border-top: 1px solid #6C6B6B;			
			padding: 15px 0 0;
			color: #5D5D5C;
			font-size: 14px;
			max-height: 350px;
			overflow: auto;

			p {
				margin: 0;
				text-align: left;
			}

			> div {
				height: 100px;

				a {
					float: left;
					width: 334px;

					img {
						height: 100px;
						width: 100px;
						float: left;
						margin: 0 15px;
					}

					> div {
						display: table;
						height: 100px;

						> div {
							display: table-cell;
							vertical-align: middle;

							ins {
								color: black;
								font-size: 15px;
							}

							s {
								text-decoration: none;
							}
						}
					}
				}

				> div {
					display: table-cell;
					vertical-align: middle;
					height: 100px;

					> div {
						display: table-cell;
						vertical-align: middle;

						> div {
							margin-top: 5px;

							.left, .right {
								font-size: 0;
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 7px 7px 7px 0;
								border-color: transparent #52B84A transparent #52B84A;
								position: relative;
								top: -5px;
								cursor: pointer;
								@include transition(0.3s);
								left: -5px;
							}

							.right {
								left: 5px;
								border-width: 7px 0 7px 7px;
							}

							.left:hover, .right:hover {
								border-color: transparent black transparent black;
							}

							.invis {
								border-color: transparent #aaa transparent #aaa !important;
							}
						}
					}
				}
			}			
		}

		.itogo {
			margin: 0;
			padding: 10px 14px 20px 220px;
			border-top: 1px solid black;
			width: 200px;
			color: #12880A;
		}

		.continue {		
			cursor: pointer;
			float: left;
			line-height: 34px;
			color: #12880A;
			text-decoration: none;
		}

		.continue:hover {
			text-decoration: underline;
		}

		
		.gotoCart {
			float: right;
			padding: 0 15px;
			text-decoration: none;
			height: 31px;
			border: 1px solid #4FB859;
			line-height: 30px;
			color: white;
			font-size: 17px;
			text-shadow: -1px 1px 0 #3B9E44;
			text-align: center;
			cursor: pointer;
			background-image: url('/assets/buyButton.png');
			@include border-radius(5px);
		}

		.gotoCart:hover {
			text-decoration: underline;
		}


		.header {
			font-size: 15px;
			line-height: 15px;
			padding-bottom: 15px;
			width: 424px;
			position: relative;

			div {
				width: 25px;
				height: 25px;
				cursor: pointer;
				position: absolute;
				top: -5px;
				right: 0;
			}
		}

		form {
			border-top: 1px solid black;
			padding: 15px 10px 20px;

			p, label {
				margin: 0;
				line-height: 26px;
				text-align: left;
			}

			label {
				cursor: pointer;
			}

			input[type=text] {
				margin-left: 15px;
			}

			input[type=checkbox] {
				margin-right: 8px;
				position: relative;
				top: 2px;
			}

			#otherInputs {
				height: 0;
				overflow: hidden;
				margin-left: 0;
				.row, h4 {
					margin: 5px 0;
				}				
			}
		}
	}
}

.show {
	margin-left: 30px;
	
	h2 {
		font-size: 20px;
		font-weight: normal;
		line-height: 20px;
		margin: 10px;
		vertical-align: middle;
		display: inline-block;

		img {
			position: relative;
			top: 2px;
			width: 58px;
			height: 17px;
		}
	}

	.main {
		font-size: 0;

		> div {			
			width: 50%;
			display: inline-block;
			vertical-align: top;
		}

		> :first-child {
			.mini {
				margin: 10px;
				img {
					border: 1px solid #ccc;
					width: 40px;
					height: 40px;
					margin: 1px;
					cursor: pointer;
				}
				.active {
					border-color: #f60;
				}
			}
			.photoes {
				img {
					display: none;
					width: 100%;
				}
				.showPhoto img {
					display: block;
				}
			}
		}

		> .productContent {
			position: relative;
			padding-bottom: 150px;		

			h1 {
				padding-top: 60px;
				font-size: 16px;
				color: black;
				margin-bottom: 35px;
				font-weight: bold;
				color: black;
				margin-left: 50px;
			}

			> p {
				margin-left: 50px;
				color: #58585A;
				font-size: 13px;

				b {
					margin-right: 5px;
					color: black;
				}
			}

			> div {
				margin-left: 50px;
				a {
					cursor: pointer;
					font-size: 13px;
					color: black;
					font-weight: bold;
					display: block;
					line-height: 25px;
					height: 25px;
					padding-right: 32px;
					@include transition(0.3s);
					img {
						position: relative;
						top: 4px;
						left: 10px;
					}
				}
				a:hover {
					color: #52B84A;
				}
				> .option {
					display: none;
					label {
						display: block;
						margin-top: 10px;
						min-height: 26px;
						input, a, span {
							display: inline-block;
							vertical-align: middle;
							cursor: pointer;
						}
						a {
							margin-left: 10px;
							height: 100%;
							padding: 0;
						}
						img {
							top: 0; left: 0;
							height: 100%;
						}
						span {
							width: 202px;
							margin: -3px 0 0 22px;
							color: #575759;
							vertical-align: top;
							font-size: 15px;
						}
					}

					.color {
						height: 66px;
					}

					.catalog {
						margin: 10px 0;
						.header {
							height: 58px;
							.heading {
								height: 52px;
								float: left;
								margin-right: 16px;
								background-size: 100% 100%;
								padding: 5px 8px 0 8px;
								width: 140px;

								p {
									display: block;
									width: 100%;
									font-size: 15px;
									color: white;
									font-weight: bold;
									line-height: 22px;
								}
							}
							.fancyButton {
								margin-top: 40px;
							}
						}
						.textures {
							font-size: 10px;
							overflow: hidden;
							label {
								width: 96px;
								height: 115px;
								margin-top: 16px;
								display: inline-block;
								margin-right: 10px;
								p {
									width: 100%;
									white-space: nowrap;
									text-align: center;
								}
								a {
									display: block;
									margin: 10px 17px;
									width: 62px;
									height: 62px;
									padding: 0;
								}
								img {
									margin: 0;
									top: 0; left: 0;
									width: 100%;
									height: 100%;
									@include border-radius(31px);
								}
								input {
									width: 100%;
									margin-top: 4px;
								}
							}
						}
					}				
				}
			}

			> :last-child {
				margin-left: 50px;
				position: absolute;
				bottom: 25px;
				color: black;
				font-weight: bold;
				font-size: 15px;
			}
		}
	}

	.options {
		margin-top: 20px;
		border-top: 1px solid black;
	}

	.others {
		border-top: 1px solid black;
		padding-bottom: 40px;
		border-bottom: 1px solid black;

		> p {
			color: #59595B;
			font-size: 16px;
			line-height: 46px;
			position: absolute;
			padding-left: 5px;
			z-index: 1;
		}

		> div {
			color: #59595B;
			text-align: center;
			height: 100%;
			width: 150px;
			display: inline-block;
			margin-right: 37px;
			margin-top: 10px;
			position: relative;
			border: 1px solid transparent;
			vertical-align: top;
			@include transition(0.3s);
			.appear {
				margin: 0;
				div {
					height: 0;
					overflow: hidden;
					@include transition(0.3s);
				}
				.fancyButton {
					float: none;
					display: inline-block;
					border: 0 solid #A6A6A6;
				}
			}
			.left, .right {
				top: 62px;
				margin: 0;
				position: absolute;
				display: none;
				cursor: pointer;
			}
			.left {
				width: 28px;
				height: 28px;
				background-image: url(/assets/left.png);
			}
			.right {
				right: 0;
				width: 28px;
				height: 28px;
				background-image: url(/assets/right.png);
			}
			.left.inactive {
				background-image: url(/assets/leftInactive.png);
			}
			.right.inactive {
				background-image: url(/assets/rightInactive.png);
			}
			.photoes {
				margin: 0;
				a {
					width: 150px;
					height: 150px;
					background-size: 100% 100%;
					display: none;
				}
				.showPhoto {
					display: block;
				}
			}
			div {
				a {
					display: block;
					width: 100%;
					font-size: 14px;
				}
				b, span {
					font-size: 12px;
				}
			}
		}
		> div:hover {
			border-color: #ccc;
			@include box-shadow(0 0 10px 0 #aaa);
			.appear{
				div {
					height: 25px;
				}
				.fancyButton {
					height: 19px;
					border-width: 1px;
					margin: 3px 0 5px;
				}
			}
			.left, .right {
				display: block;
			}
		}
	}
}

body > .main {
	border-top: 1px solid #C6C6C6;
	position: absolute;
	width: 100%;
	top: 86px;
	bottom: 40px;
	overflow: auto;
	z-index: 0;

	> div {
		width: 1100px;
		margin: 0 auto;
		height: 100%;

		#WebGL-output {
			height: 100%;
		}

		> .index {
			font-size: 0;

			> div {
				width: 300px;
				height: 400px;
				display: inline-block;
				vertical-align: top;

				img {
					width: 280px;
					height: 280px;
					margin: 10px;
				}

				div {
					color: #59595B;
					margin-left: 50px;
					font-size: 12px;
					line-height: 25px;
				}

				:nth-child(3) {
					
				}

				:nth-child(3), :last-child {
				}
			}
		}
	}

	
	.images {
		font-size: 0;

		li {
			display: inline-block;

			img {
				width: 150px;
				height: 100px;
				margin: 20px;		
			}

			p {
				font-size: 14px;
				cursor: pointer;
			}
		}			
	}
}

#products {
	width: 100%;
	height: auto;
	margin-right: -50px;
	> div {
		width: 302px;
		height: 452px;
		position: relative;
		margin-top: 10px;
		display: inline-block;
		height:  450px;
		@include transition(0.3s);
		> div {
			border: 1px solid transparent;
			position: absolute;
			background-color: white;
			.appear {
				text-align: center;
				margin: 0;
				div {
					height: 0;
					overflow: hidden;
					text-align: left;
					@include transition(0.3s);
				}
				.fancyButton {
					float: none;
					display: inline-block;
					color: white !important;
					text-shadow: -1px 1px 0 #3B9E44;
					text-align: center;
					border: 0 solid #4FB859 !important;
					font-size: 14px;
					line-height: 20px;
					padding: 0 12px;
					cursor: pointer;
					background-image: url('/assets/buyButton.png');
					margin: 5px auto !important;
					@include border-radius(5px);
					@include transition(0.3s);
				}
				.fancyButton:hover {
					padding: 0 17px;
					@include box-shadow(0 0 15px 0 #4FB859);
				}
			}
			.left, .right {
				top: 146px;
				margin: 0;
				position: absolute;
				display: none;
				cursor: pointer;
			}
			.left {
				width: 28px;
				height: 28px;
				background-image: url(/assets/left.png);
			}
			.right {
				right: 0;
				width: 28px;
				height: 28px;
				background-image: url(/assets/right.png);
			}
			.left.inactive {
				background-image: url(/assets/leftInactive.png);
			}
			.right.inactive {
				background-image: url(/assets/rightInactive.png);
			}
			.photoes {
				margin: 0;
				a {
					margin: 10px;
					width: 280px;
					height: 280px;
					background-size: 100% 100%;
					display: none;
				}
				.showPhoto {
					display: block;
				}
			}
		}
	}
	> div:hover {
		> div {
			border: 1px solid #ccc;
			@include box-shadow(0 0 10px 0 #aaa);
			z-index: 1;
			.appear {
				div {
					height: 25px;
				}
				.fancyButton {
					border-width: 1px !important;
					height: 20px;
					margin-bottom: 5px;
				}
			}
			.left, .right {
				display: block;
			}
		}
	}
}

h2.cart {
	line-height: 50px;
	color: #5D5D5C;
	margin: 10px 0 0 0;
}

a.cart {
	float: right;
	text-transform: none;
	line-height: auto;
	margin-top: 10px;
}

#cart {
	width: 100%;
	border-top: 1px solid #5D5D5C;
	border-bottom: 1px solid #5D5D5C;
	color: #5D5D5C;

	> div {
		padding: 15px;
		height: 100px;

		> span {
			height: 100%;
			display: inline-block;
			width: 450px;
			float: left;

			img {
				width: 100px;
				height: 100%;
				border: 1px solid #5D5D5C;
				float: left;
				margin-right: 15px;
			}

			> div {
				display: table;
				height: 100%;

				> div {
					display: table-cell;
					vertical-align: middle;					
					font-size: 12px;
					line-height: 20px;

					ins {
						font-size: 13px;
					}

					s {
						text-decoration: none;
					}
				}
			}
		}

		> div {
			float: left;
			line-height: 100px;
		}

		> :nth-child(2) {
			width: 275px;
		}

		> :nth-child(3) {
			width: 200px;
		}

		.left, .right {
			font-size: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 7px 7px 0;
			border-color: transparent #52B84A transparent #52B84A;
			position: relative;
			top: -5px;
			cursor: pointer;
			@include transition(0.3s);
			left: -5px;
		}

		.right {
			left: 5px;
			border-width: 7px 0 7px 7px;
		}

		.left:hover, .right:hover {
			border-color: transparent black transparent black;
		}

		.invis {
			border-color: transparent #aaa transparent #aaa !important;
		}

		> :last-child {
			line-height: 1;
			cursor: pointer;
			padding-top: 36px;
			span {
				vertical-align: top;
				margin-right: 5px;
				font-size: 0;
				display: inline-block;
				width: 15px;
				height: 15px;
				background-color: #52B84A;
				background-image: url(http://www.urbanika.ru/images/basket_del.png);
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
		}
	}
}

.offer {
	h3 {
		text-align: center;
		margin: 20px;
	}

	form {
		display: inline-block;
		width: 100%;
		margin: 0 auto;
    	text-align: center;

    	input, textarea {
    		margin-bottom: 10px;
    	}
	}
}

#addImages {
	position: relative;
	img {
		width: 100px;
		height: 100px;
		margin: 10px;
		margin-bottom: 0;
		display: block;
	}
	> img {
		display: inline-block;
	}
	input {
		position: relative;
		z-index: 2;
	}
	iframe {
		z-index: 1;
		position: absolute;
		top: 25px;
		left: 50%;
		width: 300px;
		margin-left: -150px;
		border: 0;
		@include box-shadow(0px 5px 20px 0 #aaa);
		background-color: #eee;
	}
	> div > div {
		display: inline-block;
		margin-bottom: 10px;
		small {
			cursor: pointer;
			line-height: 12px;
		}
	}
}

.page {
	padding: 30px;

	p {
		.abzac {
			width: 30px;
			float: left;
			height: 15px;
			display: block;
		}
	}

	h3 {
		font-size: 16px;
		text-align: left;
		height: 74px;
		background-color: #E6E6E6;
		border: 1px solid #929292;
		line-height: 76px;
		padding: 0 0 0 25px;
		margin-bottom: 20px;
		img {
			float: right;
			margin: 13px 30px 0 0;
		}
	}

	h4 {
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		background-color: #4FB859;
		margin: 20px 0 10px;
	}

	> ul {
		margin: 10px 0 10px;

		> li {
			list-style-type: disc;
			line-height: 30px;
			margin-left: 40px;
		}
	}

	.greenTable, .tableStores {
		margin-top: 20px;
		text-align: center;		
		margin-bottom: 40px;
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
		th {
			line-height: 36px;
		}
		td {
			line-height: 24px;
		}		
	}

	.greenTable {
		tr:nth-child(odd) td {
			background-color: #4FB859;
		}
		th {
			font-size: 15px;
		}
		td {
			border: 1px solid black;
		}
	}

	.tableStores {
		border-bottom: 1px solid #aaa;
		td {
			line-height: 36px;
		}
		td:first-child {
			text-align: left;
		}
	}

	.table {
		margin-top: 20px;
		text-align: center;		
		margin-bottom: 40px;

		li {
			font-size: 0;			
			line-height: inherit;
			margin-left: 0;

			div {
				display: inline-block;
				width: 24%;
				font-size: 15px;
				line-height: 24px;				
			}

			> :first-child {
				width: 52%;
			}
		}

		> :first-child {
			border-left: 0;

			div {
				border: 0;
				line-height: 36px;
				font-size: 16px;
				font-weight: bold;
			}
		}
	}

	.stores {
		li {			

			div {
				width: 44%;
				line-height: 36px;
				font-size: 16px		
			}

			:first-child {
				text-align: left;
				width: 36%;

				img {
					width: auto;
					height: auto;
					position: relative;
					top: 2px;
				}
			}

			:last-child {
				width: 20%;				
			}
		}

		> :first-child :first-child {
			text-align: center
		}
	}

	.tborder {
		border-bottom: 1px solid black;

		li {
			border-left: 1px solid black;			

			div {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				border-right: 1px solid black;
				border-top: 1px solid black;
			}
		}
	}

	.accordion {
		margin-top: 30px;
		border-bottom: solid 1px #4c3b4c;

		h3 {
			background: url(/assets/arrow-square.gif) no-repeat right -51px;
			padding: 0 5px;
			line-height: 30px;
			font-size: 17px;
			border: 1px solid #4c3b4c;
			border-bottom: 0;
			cursor: pointer;
			color: #4D3B4B;
			text-align: center;
			height: auto;
			margin: 0;
		}

		h3:hover {
			background-color: #e3e2e2;
		}

		a {
			text-decoration: underline;
		}

		a:hover {
			color: #FFFFFF;
		}

		h3.active {
			background-position: right 5px;
		}

		.panel {
			display: none;
			text-align:justify;
			margin: 0;
			padding:  10px 15px 20px;
			border-left: solid 1px #4c3b4c;
			border-right: solid 1px #4c3b4c;
		}

		.panel:nth-child(2) {
			display: block;
		}
	}
}

.delivery {
	p {
		font-size: 15px;
	} .table > :first-child div {
		font-size: 15px;
	} .table > :nth-child(3) div {
		background-color: #4FB859;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #E6E6E6;

	ul {
		li {
			margin: 0 15px;
			line-height: 40px;

			a {
				margin: 0;
				text-transform: inherit;
				height: 40px;
				line-height: 40px;
			}
		}
	}
}

#createTextures {
	h2 {
		cursor: pointer;
		margin: 20px 0;
	}
}

.optionsTable {
	.btn {
		line-height: 9px;
	}
	.catalog {
		cursor: pointer;
		@include transition(0.3s);
	}
	.catalog:hover {
		background-color: #e3e2e2;
	}
	.showHide {
		display: none;
		.tableOuter {
			width: 100%;
			border: 0;
			padding: 0;			
		}
	}
	table {
		margin: 0 !important;
	}
}

.opacity img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.opacity img:hover {
	cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -khtml-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
  @include transition(.3s);
}

.home {
	margin-top:30px;
	margin-left:50px;
	> table {
		td {
			div {
				@include transition(.3s);
			}		
			span {
				display: block;
			}
			div {
				filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
				-moz-opacity: 0;
				-khtml-opacity: 0;
				opacity: 0;
				position: absolute;				
				height: 328px;
				width: 650px;
				background-color: #FFFFFF;
				table {
					position: relative;
					height: 329px;
					width: 100%;
					border-spacing: 0;
					border-top: 1px solid #DCDBDB;
					border-right: 1px solid #DCDBDB;
					tr {
						height: 50%;
						width: 100%;
						td {
							height: 50%;
							width: 33.33%;
							border-left: 1px solid #DCDBDB;
							border-bottom: 1px solid #DCDBDB;
							a {
								display: block;
								height: 100%;
								color: #59595B;
								text-align: center;
								position: relative;
								background-repeat: no-repeat;
								background-size: auto 105px;
								background-position: center;
								h2 {
									font-size: 15px;
									padding: 12px 0;
								}
								p {
									position: absolute;
									bottom: 8px;
									width: 100%;
								}
							}
							.showAll {
								color: #469134;
								text-decoration: underline;
								padding-top: 26%;
								font-size: 15px;
								line-height: 20px;
								b {
									text-decoration: underline;
									color: white;
								}
							}
						}
					}
				}			
			}
			.margin {
				margin-top: 30px;
				margin-left: 25px;
			}
			.marginTop {
				margin-top: 30px;
				height: 363px;
				width: 1000px;
				td {
					width: 20%;
				}
				.showAll {
					padding-top: 34%;
				}
			}
		}
		td:hover {
			div, a img {
				@include box-shadow(0 0 10px 0 #aaa);
			}
			div {				
				filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
				filter: alpha(opacity=100);
				-moz-opacity: 1;
				-khtml-opacity: 1;
				opacity: 1;
			}
		}
	}
}

.colorFields {
	> a {
		cursor: pointer;
	}
	> .active {
		font-weight: bold;
	}
	#copyColor {
		#categories {
			padding-left: 30px;
			margin-right: -38px;
		}
		div > ul > li {
			a {
				line-height: 26px;
				cursor: pointer;
				color: #333;
				float: none;
			}
			> span .btn-default {
				width: 100%;
				overflow: hidden;
			}
			a:hover {
				text-decoration: underline;
			}
			> .active {
				font-weight: bold;
			}
			.btn.btn-success {
				position: absolute;
				color: white;
				display: none;
				margin-left: 25px;
				right: -13px;
			}
			> span {
				display: block;
				margin-bottom: 5px;
				padding: 0 13px;
				position: relative;
			}
			> span:hover .btn.btn-success, > .active .btn.btn-success {
				display: inline-block;
			}
			ul {
				display: none;
			}
			li {
				margin-left: 30px;				
				.color {
					width: 126px;
					height: 52px;
					margin: 16px 16px 0 0;
					background-size: 100% 100%;
					padding: 5px 8px 0 8px;
					display: inline-block;
					p {
						display: block;
						width: 100%;
						font-size: 15px;
						color: white;
						font-weight: bold;
						line-height: 22px;
					}
				}
				.fancyButton {
					float: none;
					display: inline-block;
					vertical-align: bottom;
				}
				label {
					width: 96px;
					height: 115px;
					margin-top: 16px;
					display: inline-block;
					margin-right: 10px;
					p {
						width: 100%;
						white-space: nowrap;
						text-align: center;
						font-size: 10px;
					}
					a {
						display: block;
						margin: 10px 17px;
						width: 62px;
						height: 62px;
						padding: 0;
					}
					img {
						margin: 0;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						@include border-radius(31px);
					}
				}
				.textures {
					height: 0;
					overflow: hidden;
				}
			}
		} 
	}
}

.copyProduct {
	a {
		line-height: 26px;
		cursor: pointer;
		color: #333;
		float: none;
	}
	> span .btn-default {
		width: 100%;
		overflow: hidden;
	}
	a:hover {
		text-decoration: underline;
	}
	> .active {
		font-weight: bold;
	}
	.btn.btn-success {
		position: absolute;
		color: white;
		display: none;
		margin-left: 25px;
		right: -13px;
	}
	> span {
		display: block;
		margin-bottom: 5px;
		padding: 0 13px;
		position: relative;
	}
	> span:hover .btn.btn-success, > .active .btn.btn-success {
		display: inline-block;
	}
	ul {
		display: none;
	}
	li {
		margin-left: 30px;				
		.color {
			width: 126px;
			height: 52px;
			margin: 16px 16px 0 0;
			background-size: 100% 100%;
			padding: 5px 8px 0 8px;
			display: inline-block;
			p {
				display: block;
				width: 100%;
				font-size: 15px;
				color: white;
				font-weight: bold;
				line-height: 22px;
			}
		}
		.fancyButton {
			float: none;
			display: inline-block;
			vertical-align: bottom;
		}
		label {
			width: 96px;
			height: 115px;
			margin-top: 16px;
			display: inline-block;
			margin-right: 10px;
			p {
				width: 100%;
				white-space: nowrap;
				text-align: center;
				font-size: 10px;
			}
			a {
				display: block;
				margin: 10px 17px;
				width: 62px;
				height: 62px;
				padding: 0;
			}
			img {
				margin: 0;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include border-radius(31px);
			}
		}
		.textures {
			height: 0;
			overflow: hidden;
		}
	}
}

.categoryLogo {
	margin: 30px 80px 20px;
	font-size: 20px;
	font-weight: normal;
	line-height: 27px;
	img {
		position: relative;
		top: 3px;
		float: left;
	}
}

.squareButton {
	margin: 3px 0 0 8px;
	cursor: pointer;
	float: left;
	text-transform: lowercase;
	line-height: 30px;
	padding: 0 10px;
	color: #efefef;
	background-color: #52B84A;
	background: -webkit-linear-gradient(top, #a2f89A 0%, #5abc55 50%, #52B84A 50%, #42a638 100%);
	@include transition(0.3s);
}

div.mce-edit-area {
	margin-right: 1px;
}

input[type=text].form-control, input[type=password].form-control, .wrath-content-box {
	padding: 0 15px;
}

ul#categories > li {
	margin-bottom: 5px;
	ul {
		margin: 17px 68px 34px 34px;
		li {
			margin-bottom: 5px;
		}
	}
	.products {
		display: none;
		margin-right: 70px;
	}
}

th {
	text-align: center;
}
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
	background-color: white;
}
#productsSortable th b {
	float: left;
	line-height: 34px;
}
#productsSortable img {
	height: 100px;
	width: 100px;
}
.admin-nav {
	position: absolute;
	left: 250px;
	top: 10px;
	font-size: 13px;
	text-transform: uppercase;
	div {
		border: 1px solid #aaa;
		font-weight: bold;
		line-height: 32px;
		padding: 0 15px;
		width: 130px;
		text-align: center;
		@include transition(.3s);
	}
	ul {
		border: 1px solid #aaa;
		border-width: 0 1px;
		display: none;
		position: absolute;
		width: 160px;
		z-index: 1000;
		background-color: white;
	}
	li {
		line-height: 26px;
		border-bottom: 1px solid #aaa;
		text-align: center;
		@include transition(.3s);
	}
	li:hover {
		background-color: #eee;
	}
}
.admin-nav:hover {
	div {
		background-color: #eee;
	}
	ul {
		display: block;
	}
}
.order-items {
	.quantity {
		width: 16px;
		height: 16px;
		padding: 0;
		line-height: 1;
		margin: 0 10px;
	}
	img {
		width: 100px;
		height: 100px;
	}
	td {
		vertical-align: middle !important;
	}
}
.jimmi {
	tr:nth-child(2) {
		td {
			float: left;
		}
	}
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 2000;
	font-size: 32px;
	color: white;
	p {
		position: absolute;
		top: 50%;
		margin-top: -19px;
		width: 100%;
		text-align: center;
	}
}


#orderSave {
	width: 350px;
	height: 100px;
	background-color: white;
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 20px;
	@include box-shadow(0 0 50px #333);
	font-size: 17px;
	text-align: center;
	line-height: 24px;
	margin-top: -50px;
	margin-left: -175px;
	.btn-s {
		margin-top: 20px;
		padding: 5px 30px;
		font-size: 13px;
		font-weight: bold;
		color: white;
		cursor: pointer;
		display: inline-block;
		border: 1px solid #68AF2B;
		background: -moz-linear-gradient(top, #68AF2B 0%, #44800E 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68AF2B), color-stop(100%,#44800E)) ;
		background: -webkit-linear-gradient(top, #68AF2B 0%,#44800E 100%);
		background: -o-linear-gradient(top, #68AF2B 0%,#44800E 100%);
		background: -ms-linear-gradient(top, #68AF2B 0%,#44800E 100%) ;
		background: linear-gradient(to bottom, #68AF2B 0%,#44800E 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#68AF2B", endColorstr="#44800E",GradientType=0);
	}
}

.seo_text {
	width: auto !important;
	height: auto !important;
	display: block !important;
	font-size: 12px;
	margin-top: 30px;
	padding: 15px;
	margin-bottom: 30px;
	color: #58585a;
	p {
		margin: 16px 0;
	}
	ul {
		margin: inherit;
		padding: inherit;
		li {
			list-style-type: inherit;
		}
	}
}

.fixed-buttons {
	position: fixed;
	bottom: 18px;
	right: 0;
	left: 0;
	z-index: 2000;
	.btn-default {
		float: left;
	}
	.btn-success {
		height: 32px;
		line-height: 20px;
	}
}
.absolute {
  position: absolute;
}
.treebox {
  position: relative;
  color: #555;
  .choosed {
    font-weight: bold;
  }
  .choose, > div p {
    padding-left: 15px;
    cursor: pointer;
    text-align: left;
  }
  > .choose {
    background-color: white;
    position: relative;
    z-index: 1001;
    line-height: 40px;
    border: 1px solid #ccc;
    @include border-radius(4px);
  }
  .arrow {
    position: absolute;
    right: 15px;
    top: 18px;
    z-index: 1002;
    border-width: 5px 4px 0;
    border-style: solid;
    border-color: #555 transparent;
  }
  > div {
    background-color: white;
    height: 500px;
    display: none;
    position: absolute;
    left: 4px;
    right: 4px;
    z-index: 1000;
    overflow: auto;
    border: 1px solid #aaa;
    border-width: 0 1px;
    @include box-shadow(0 0 8px #aaa);
    @include border-radius(0 0 4px 4px);
    .cat {
      position: relative;
      line-height: 36px;
      p, label {
        position: relative;
        z-index: 1;
      }
    }
  }
  .wrap {
    padding: 0 30px 10px;
    .cat p, label {
      position: relative;
      z-index: 0;
    }
  }
  .enable {
    @include transition(0.3s);
    input {
      margin-right: 10px;
    }
  }
  .enable:hover {
    color: #5588ee;
  }
}
.treebox.front {
	> .choose {
		z-index: 1004;
	}
	.arrow{
		z-index: 1005;
	}
	> div {
		z-index: 1003;
	}
}
.treebox.active {
  > p {
    border-color: #66afe9;
   	@include box-shadow(0 0 8px rgba(102,175,233,.6));
  }
  > div {
    display: block;
  }
}
.buyButton {
	width: 273px;
	height: 31px;
	border: 1px solid #4FB859;
	line-height: 30px;
	color: white;
	font-size: 17px;
	text-shadow: -1px 1px 0 #3B9E44;
	text-align: center;
	cursor: pointer;
	background-image: url('/assets/buyButton.png');
	@include border-radius(5px);
}
.price-block {
	border: 1px solid #58585A;
	border-width: 1px 0;
	margin-bottom: 15px;
	padding: 12px 0 12px 1px;
	.old_price {
		color: #58585A;
		font-weight: bold;
	}
	.main {
		font-size: 26px;
		line-height: 36px;
		color: black;
	}
	.difference {
		color: #58585A;
	}
}
.bootstrap-margin {
	margin: 50px 40px 0 -40px;
}
.order-input {
	width: 150px;
	margin: 0 auto;
}
.input-discount {
	width: 25px !important;
	display: inline-block;
}
.table-lh-34 td {
	line-height: 34px !important;
	.form-control {
		width: 100px;
		margin: 0 auto;
	}
}
.form-control-90 {
	width: 90%;
	margin: 0 auto;
}
.setStatus {
	position: relative;
	div {
		display: none;
		width: 198px;
		border: 1px solid #aaa;
		border-bottom: 0;
		background-color: white;
		position: absolute;
		left: 50%;
		top: 40px;
		margin-left: -100px;
		ul {
			border-width: 0 1px;
			li {
				height: 34px;
				line-height: 34px;
				font-size: 16px;
				border-bottom: 1px solid #aaa;
				color: #333;
				cursor: pointer;
				@include transition(.3s);
			}
			li:hover {
				background-color: #5cb85c;
				color: white;
			}
		}
	}
}
.setStatus.open div {
	display: block;
}
.img200 {
	max-width: 200px;
	max-height: 200px;
}
.banners {
	width: 95%;
	border: 1px solid #D9D9D9;
	margin-bottom: 43px;
	position: relative;
}
#slider {
	height: 328px;
	padding: 0 25px;
	.prev, .next {
		position: absolute;
		left: 8px;
		top: 156px;
		cursor: pointer;
		background-image: url('/assets/arrowLeft.png');
		width: 12px;
		height: 22px;
	}
	.next {
		left: auto;
		right: 8px;
		background-image: url('/assets/arrowRight.png');
	}
	.wrap {
		overflow: hidden;
		position: relative;
		height: 300px;
		a {
			display: inline-block;
			position: absolute;
			left: 100%;
			right: -100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
		a:first-child {
			left: 0;
			right: 0;
		}
	}
	.buttons {
		position: absolute;
		bottom: 9px;
		width: 100%;
		text-align: center;
		font-size: 0;
		div {
			display: inline-block;
			width: 8px;
			height: 8px;
			@include border-radius(4px);
			background-color: #aaa;
			@include box-shadow(inset 0 0 4px black);
			margin: 0 4px;
			cursor: pointer;
			@include transition(.5s);
		}
		div:hover, .active {
			background-color: #81C0EB;
		}
	}
}
#mainMenuCompact {
	display: none;
}
body.small-size {
	#mainMenu {
		display: none;
	}
	.admin-nav {
		position: absolute;
		top: -1px;
		left: 50%;
		margin-left: -81px;
		z-index: 1;
		div {
			height: 22px;
			line-height: 22px;
			border-bottom: 0;
		}
		ul {
			border-top: 1px solid #aaa;
		}
	}
	#search {
		top: 22px;
		left: 50%;
		right: auto;
		margin-left: -139px;
	}
	#mainMenuCompact {
		display: block;
	}
}

#mainMenuCompact {
	color: #58585A;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	li {
		cursor: pointer;
		line-height: 40px;
		position: relative;
		border-bottom: 1px solid #C6C6C6;
		> p {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 22px;
			height: 20px;
			background-image: url('/assets/miniMenuArrow.png');
			background-size: cover;
		}
	}
	a {
		display: block;
		height: 0;
		line-height: 0;
		overflow: hidden;
	}
	img {
		margin: 1.5px 0;
		width: 100%;
	}
	.open {
		div {
			border-top: 1px solid #C6C6C6;
		}
		> p {
			background-image: url('/assets/miniMenuArrowDown.png');
		}
	}
	.allProducts {
		text-align: center;
		a {
			display: inline-block;
			margin: 15px 1%;
			vertical-align: top;
			font-size: 15px;
			border-left: 4px solid #58575C;
			padding-left: 1%;
			width: 20%;
			height: 18px;
			line-height: 18px;
			text-transform: none;
			@include transition(.3s);
		}
		a:hover {
			color: #52B84A;
		}
		div {
			height: 0;
			background-color: #E6E6E6;
			overflow: hidden;
			@include transition(.3s);
		}
	}
	.allProducts.open {
		div {
			height: 94px;
		}
	}
	.whereCanBuy {
		a {
			display: inline-block;
			vertical-align: top;
			width: 165px;
			margin: 0 auto;
			line-height: 26px;
			font-size: 15px;
			padding: 0 30px;
			color: #535356;
			text-align: left;
			position: relative;
			overflow: visible;
			text-transform: none;
			overflow: hidden;
			height: 0;
			@include transition(.3s);			
		}
		a:hover {
			color: black;
		}
		a:before {
			position: absolute;
			left: 0;
			top: 5px;
			display: block;
			content: "";
			height: 100%;
			width: 5px;
			background-color: #E01902;
			@include border-radius(2px);
		}
		:nth-child(3):before {
			background-color: #737E76;
		}
		:nth-child(4):before {
			background-color: #F88800;
		}
		:nth-child(5):before {
			background-color: #06450C
		}
		:nth-child(6):before {
			background-color: #07298A;
		}
		:nth-child(7):before {
			background-color: #FEDD02;
		}
		:nth-child(8):before {
			background-color: #737E76;
		}
		:nth-child(9):before {
			background-color: #737E76;
		}
		div {
			background-color: #E6E6E6;
			line-height: 0;
			text-align: center;
		}
	}
	.whereCanBuy.open {
		div {
			padding-bottom: 1px;
			height: auto;
		}
		a {
			margin: 25px auto 55px;
			height: 170px;
		}
	}
	.miniMenuCart a {
		height: 40px;
		line-height: 40px;
	}
}
#choosedChars {
	border-top: 1px solid black;
	padding: 6px 0 0;
	margin-top: 10px;
	display: none;
	line-height: 26px;
	h5 {
		font-size: 15px;
		margin-bottom: 2px;
	}
	p {
		font-size: 13px;
		font-weight: bold;
	}
	b {
		font-weight: normal;
	}
}
#choosedChars.open {
	display: block;
}
.table-order-edit {
	
}