#cart {
	width: 100%;
	border: 1px solid black;

	> ul {
		height: 25px;
		background-image: url(http://mebel-litva.ru/images/HeaderSlice.jpg);

		:last-child {
			background: none !important;
		}
	}

	ul {
		:first-child {
			width: 37%;
		}

		:nth-child(2) {
			width: 26%;

			span {
				color: transparent;
				cursor: pointer;
				-moz-user-select: -moz-none;
				-o-user-select: none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				user-select: none
			}

			:first-child {
				background: url(http://mebel-litva.ru/images/Minus.png) 3px 3px;				
			}

			:last-child {
				background-image: url(http://mebel-litva.ru/images/Plus.png);				
			}

			.invis {
				background: none;
			}

			b {
				font-weight: normal;
			}
		}

		:nth-child(3) {
			width: 29%;
		}

		:last-child {
			width: 8%;
			cursor: pointer;
			background: url(http://mebel-litva.ru/images/Delete.png?1330460074) 46% no-repeat;
		}

		li {
			float: left;
			line-height: 25px;
			height: 25px;
			text-align: center;
			outline: 1px solid black
		}
	}
}