#cartNav
	display flex
	margin 0 3%
	border 1px solid #9b9b9b
	height 31px
	line-height 31px
	background linear-gradient(white, #efefef)
	text-align center
	div
		flex-grow 1
		position relative
		&:after
			content ''
			position absolute
			display block
			right -13px
			top 0
			width 13px
			height 31px
			background url('/assets/cart/nav-triangle.png')
		&:last-child:after
			display none
	.active
		background #c4c4c4
		text-shadow 1px 1px 1px rgba(255, 255, 255, .5)
		&:after
			width 0
			height 0
			right -10px
			top 0
			border-style solid
			border-color transparent #c4c4c4
			border-width 15.5px 0 15.5px 11px
			background none
			
.cart-pages
	> div
		display none
	> .active
		display block
	#cartList
		margin 59px 3% 0
		position relative
		overflow visible
		max-height none
		.item:first-child
			&:before, &:after, .counter:before
				display block
				position absolute
				top -25px
				color black
				font-size 15px
				line-height 1
				font-weight bold
			&:before
				content 'Товары'
				left 66px
			&:after
				content 'Стоимость'
				right 28px
			.counter:before
				content 'Количество'
				margin-left 3px
	.total
		line-height 1
		padding 31px 28px 2px
		font-size 15px
		font-weight bold
		text-align right
		white-space nowrap
		margin 0 3%
		img
			position relative
			top 2px
		i
			font-style normal
			color #979797
			padding-right 18px
			font-weight normal
	.buttons
		display flex
		justify-content space-between
		margin 31px 3% 38px
		.btn
			text-align center
			line-height 31px
			height 31px
			border 1px solid
			border-radius 4px
			font-size 15px
			padding 0 80px
			transition .3s
			&:hover
				box-shadow 0 1px 7px rgba(0, 0, 0, .2)
			&.green
				text-shadow 1px 1px 2px rgba(0, 0, 0, .3)
				color white
				background #7ab652 linear-gradient(#85d248, #7ab652)
				border-color #79b551
			&.white
				color black
				background #f0f0f0 linear-gradient(#fff, #f0f0f0)
				border-color #9a9a9a
	.columns
		display flex
		flex-wrap wrap
		margin 0 3%
		font-size 14px
		border-bottom 1px solid #cecece
		> div
			width 33.3%
		> :nth-child(2)
			padding 0 10px
			box-sizing border-box
		> :last-child
			text-align right
		.title
			font-weight bold
			color black
			padding 20px 0 10px
			text-align center
	.field
		display block
		.name
			color #636363
			padding 10px 0
		input
			height 31px
			line-height 31px
			color black
			border 1px solid #a2a2a2
			padding 0 12px
			border-radius 3px
			box-sizing border-box
			width 100%
		.error
			font-size 12px
			color red
			padding-top 3px
			display none
	.row
		.field
			display inline-block
			width 43%
			&:first-child
				margin-right 14%
	.hint
		padding 30px 0 20px
		color #636363
	.total-info
		line-height 18px
		color #363636
		background #e8e8e8
		border 1px solid #a0a0a0
		padding 25px 28px
		display inline-block
		text-align left
		position relative
		margin-top 88px
		border-radius 3px
		box-sizing border-bottom
		max-width 100%
		span, b
			padding-left 23px
			white-space nowrap
		&:before
			content 'Инфорормация о заказе'
			display block
			position absolute
			font-weight bold
			color black
			padding 25px 0 15px
			text-align center
			top -88px
			left 0
			right 0
			text-align center
	.radios
		padding-top 35px
		text-align left
		.info
			margin 12px 0 21px 82px
			padding-left 25px
			color #979797
			cursor pointer
			height 18px
			line-height 1
			background url('/assets/icon/info.png') top left no-repeat
			a
				border-bottom 1px dashed #979797
	.radio
		display block
		position relative
		margin-left 36px
		cursor pointer
		& + .radio
			margin-top 33px
		input
			margin-right 10px
	blockquote
		margin 6px 3% 47px
		border-left 6px solid #c4c4c4
		color #343434
		padding 0 18px
		font-size 15px
		color black
		
@media (max-width 1000px)
	.cart-pages
		.columns
			> div
				width 50%
			> :last-child
				order -1
				width 100%
				text-align center
		.total-info
			margin-top 50px
			&:before
				top -50px
		> :nth-child(4) .columns
			> :first-child
				display none
			> :last-child
				order 1
				width 50%
				text-align right
		
@media (max-width 800px)
	#cartNav
		font-size 0
		:nth-child(1):before
			content 'Товары'
			font-size 15px
		:nth-child(2):before
			content 'Контакты'
			font-size 15px
		:nth-child(3):before
			content 'Доставка'
			font-size 15px
		:nth-child(4):before
			content 'Оплата'
			font-size 15px
	.cart-pages #cartList .item:first-child:after
		right 0
		
@media (max-width 700px)
	.cart-pages
		#cartList
			.item:first-child
				.counter:before, &:after
					display none
				&:before
					display block
					width 100%
					left 0
					text-align center
		.radio
			margin-left 0
			input
				margin-right 0
		.buttons .btn
			padding 0 30px