#catalogFilter
	display table
	width 100%
	border-collapse collapse
	margin-top 31px
	white-space nowrap
	> div
		display table-cell
		width 193px
		border 1px solid #d3d3d3
		height 33px
		line-height 33px
		position relative
		background #f2f2f2
		> b
			display block
			text-align center
			cursor pointer
			transition .3s
			font-size 14px
			position relative
			z-index 1000
			padding 0 15px
		> div
			position absolute
			left 0
			top 100%
			background white
			z-index 1001
			color #59595b
			min-width 100%
		.checkboxes
			padding 0 13px
			transition .3s
			label
				display block
				transition .3s
				line-height 33px
				height 0
				overflow hidden
				font-size 14px
				input
					margin 10px 12px 0 0
					float none
					display inline-block
		.range
			padding 0 13px
			height 0
			overflow hidden
			transition .3s
			.inputs
				display table
				width 100%
				color #7a7a7c
			label
				display table-cell
				vertical-align top
				width 50%
				padding 0 17px 0 0
				font-size 14px
				& + label
					padding 0 0 0 17px
				span
					display block
					line-height 1
				input
					width 100%
					box-sizing border-box
					padding 0 0 0 5px
					border 1px solid #d5d5d5
					line-height 23px
					border-radius 3px
					margin 10px 0 18px
		.btn
			background #726658
			border 1px solid #615650
			border-width 0 1px
			line-height 33px
			color white
			text-align center
			margin 0
			display block
			padding 0
			border-radius 0
			height 0
			overflow hidden
			transition .3s
		&.active
			border-bottom-color white
			> b
				background white
				z-index 1002
			> div
				outline 1px solid #d4d4d4
			.checkboxes
				padding 12px 13px
				label
					height 33px
			.range
				padding 19px 13px 12px
				height 107px
			.btn
				height 33px
				margin 5px 0 0
				border-width 1px
	> .clear
		background #726658
		color white
		text-align center
		cursor pointer
		img
			display inline-block
			margin-right 10px
			position relative
			top 3px
			
#catalogFilterClose
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	z-index 1000
	display none
	
@media (max-width 875px)
	#catalogFilter
		margin-top 26px
		display flex
		flex-wrap wrap
		justify-content center
		> div
			margin 5px