@import 'mixins'

.footer
	font-size 13px
	color #58585A
	float right
	position absolute
	bottom 0
	width 100%
	text-align center
	background-image url('/assets/footer-bg.png')
	ul
		li
			margin 0 15px
			line-height 40px
			display inline-block
			a
				margin 0
				text-transform inherit
				height 40px
				line-height 40px
				display block
				white-space nowrap
				position relative
				font-weight bold
	.appear
		height 0
		color #545559
		text-align left
		overflow hidden
		position relative
		> div
			width 1000px
			margin 0 auto
			font-size 0
			position relative
			> img
				display block
				float left
				margin-top 10px
		.copy
			font-size 13px
			text-align center
			padding-top 14px
		.addresses
			font-size 13px
			line-height 18px
			margin-left 293px
			p
				margin 8px 0 0
		.sale
			position absolute
			top 127px
			left 0
			cursor pointer
			display block
			img
				position absolute
			.red
				transition(.3s)
			&:hover
				.red
					opacity 0