@import 'mixins'

.footer
	font-size 13px
	color #f1f1f1
	width 100%
	text-align center
	background #2b2b2b
	*
		font-family PT Sans
	ul
		font-weight bold
		li
			margin 0 15px
			display inline-block
			a
				margin 0
				height 60px
				line-height 60px
				display block
				white-space nowrap
				position relative
				text-transform uppercase
	.content
		font-size 14px
		line-height 18px
		width 100%
		display table
		padding-top 15px
		> div
			display table-cell
			vertical-align top
			width 33.3%
		.title
			text-transform uppercase
		.left
			padding-left 50px
			text-align left
			p
				margin 10px 0 72px
			img
				display block
				margin 20px 0 29px
			a
				display inline-block
				font-size 22px
				font-weight bold
				color #2c2c2c
				background white
				height 35px
				line-height 35px
				padding 0 13px
				text-transform uppercase
				border-radius(4px)
				transition(.3s)
				&:hover
					box-shadow(0 0 10px white)
		.center
			text-align center
			.borders
				border 1px solid #626262
				border-width 0 1px
				margin-top 11px
				line-height 28px
				> a
					display block
					&:last-child
						margin-top 8px
				.credit, .social
					white-space nowrap
				.credit
					margin 14px 0 4px
					a
						vertical-align top
						display inline-block
						& + a
							margin-left 23px
							position relative
							top -3px
				.social
					margin 12px 0 3px
					img
						width 33px
		.right
			padding-right 50px
			text-align right
			.addresses
				line-height 17px
				margin-top 15px
	.copy
		height 48px
		line-height 70px
		font-size 12px