@import 'mixins'

#footer
	a:hover
		color #52b84a
	.top
		background #a0a0a0
		color #1f1f1f
		line-height 25px
		padding 13px 0
		text-align center
		font-size .8rem
	.content
		background #4d4d4d
		color white
		padding 0 73px
	.columns
		display table
		width 100%
	.half
		display table-cell
		vertical-align top
		width 50%
	.column
		display table-cell
		vertical-align top
		width 50%
		.title
			line-height 1
			font-size 12px
			padding 30px 0 23px
			font-weight bold
			text-transform uppercase
			border-bottom 1px solid white
			margin-bottom 20px
		a
			white-space nowrap
			cursor pointer
			display block
			line-height 21px
			font-size 13px
			padding 4px 0
			& + .title
				padding 48px 0 24px
	.logo
		padding 0
		margin-top 37px
		img
			width 172px
	.social
		white-space nowrap
		a
			padding 5px 0 0
			display inline-block
			vertical-align top
			margin-right 18px
			img
				width 34px
	.half, .column
		&:first-child
			padding-right 46px
		&:last-child
			padding-left 46px
	.bottom
		margin-top 6px
		border-top 1px solid white
		padding 14px 0
		text-align justify
		font-size 11px
		&:after
			content ''
			display inline-block
			width 100%
		> div
			display inline-block
			vertical-align top
		.left
			span
				display block
				margin-top 10px
	.apps
		margin-top 10px
		a
			display inline-block
			vertical-align top
			margin-right 21px
	.credits
		display block
		margin-top 11px
		img
			display inline-block
			vertical-align bottom
			& + img
				margin-left 34px
				
	@media (max-width 1160px)
		.half:first-child, .column:first-child
			padding-right 10px
		.half:last-child, .column:last-child
			padding-left 10px
		.social
			a
				padding-top 0
				margin-right 10px
				img
					width 28px
				
	@media (max-width 900px)
		.logo
			margin-top 10px
		> .content > .columns > .half
			display block
			padding-left 0
			padding-right 0
			width auto
		.column:first-child
			padding-right 46px
		.column:last-child
			padding-left 46px
				
	@media (max-width 640px)
		.column:first-child
			padding-right 10px
		.column:last-child
			padding-left 10px
				
	@media (max-width 570px)
		.half:last-child .columns
			display block
			.column
				display block
				width auto
				&:first-child
					padding-right 0
				&:last-child
					padding-left 0