@import 'mixins'

#header
	background-color white
	height 99px
	> .wrap
		margin 0 3%
	.logo
		display block
		position absolute
		top 0
		z-index 1
		img
			display block
			width 202px
			height 93px
	.right
		text-align right
		font-size 0
		min-height 53px
	.search
		margin-right 38px
		margin-top 14px
		display inline-block !important
		position relative
		z-index 1
		form
			display inline-block
		input[type=text]
			vertical-align top
			width 184px
			font-size 13px
			border 1px solid #a0a0a0
			border-width 1px 0 1px 1px
			padding 5px 0 5px 10px
			height 19px
			border-radius(5px 0 0 5px)
			&:focus
				outline 0
		label
			display inline-block
			vertical-align top
			font-size 13px
			border 1px solid #a0a0a0
			padding 5px 18px 6px
			color white
			background #847d6d
			border-radius(0 5px 5px 0)
			input
				display none
	.phone
		margin-top 12px
		float right
		line-height 1
		p
			color #00d922
			font-size 25px
			font-weight bold
		ins
			font-size 14px
			color #8d8578
			margin-top -1px
			display block
			text-decoration none
			border-bottom 1px solid #8d8578
			float right
	.cart
		position absolute
		top 64px
		right 3%
		a
			padding 0 0 0 10px
		img
			position relative
			top 3px
		&:hover
			#menuCart
				max-height 509px
	.menu
		color #58585A
		background white
		margin 11px 40px 0
		font-size 0
		text-align right
		a
			color inherit
			cursor pointer
			&:hover
				text-decoration underline
		.item
			display inline-block
			text-align center
			font-size 13px
			> a, > span
				padding 0 13px
				display block
				text-transform uppercase
				white-space nowrap
				position relative
				height 35px
				line-height 35px
				font-size 14px
				transition(.3s)
			&:hover
				> a, > span
					color #52B84A
					text-decoration underline
				.background, .list
					height 450px
				& + .dark
					bottom 0
					background-color rgba(0,0,0,0.5)
				.all
					height 192px
					padding 10px 0
					border-top 1px solid #C6C6C6
					border-bottom 1px solid #C6C6C6
				.where-buy
					padding-top 35px
					padding-bottom 35px
					border-bottom 1px solid #C6C6C6
					a
						height 170px
						margin-bottom 55px
				.submenu
					height auto
					a
						height 25px
		.background, .list
			height 0
			overflow hidden
			transition(.3s)
		.background
			position absolute
			left 0
			right 0
			z-index 7
			background-color white
			> div
				position absolute
				top 0
				left 0
				width 100%
				bottom 0
				opacity 0
				background-size cover
				transition(.3s)
				&.active
					opacity 1
		.list
			width 100px
			position absolute
			background-color rgba(255,255,255,0.8)
			z-index 8
			a
				display block
				line-height 25px
				height 25px
				&:first-child
					margin-top 25px
				&:last-child
					margin-bottom 15px
				&:hover
					color black
			&.submenu
				width auto
				background white
				white-space nowrap
				margin-left -40px
				border-top 1px solid #c6c6c6
				border-radius(0 0 5px 5px)
				a
					padding 0 20px
					height 0
					transition(.3s)
		.dark
			position fixed
			left 0
			right 0
			top 100px
			z-index 6
			transition(.3s)
		.all
			background-color white
			position absolute
			left 0
			right 0
			z-index 7
			height 0
			overflow hidden
			transition(.3s)
			> div
				width 1000px
				margin 0 auto
				> div
					display table
					table-layout fixed
					width 100%
					padding 15px 0
			a
				white-space nowrap
				display table-cell
				vertical-align top
				font-size 15px
				font-weight normal
				border-left 4px solid #58575C
				transition(.3s)
				&:last-child
					border-right 4px solid #58575C
	.where-buy
		position absolute
		background-color white
		padding-top 0
		padding-bottom 0
		border-bottom 0
		border-top 1px solid #c6c6c6
		z-index 7
		a
			height 0
			margin-bottom 0
.where-buy
	padding 35px 0 35px 30px
	left 0
	right 0
	z-index 2
	font-size 0
	border-bottom 1px solid #C6C6C6
	transition(.3s)
	a
		display inline-block
		vertical-align top
		height 170px
		margin-bottom 55px
		overflow hidden
		width 165px
		font-size 14px
		font-weight normal
		line-height 26px
		padding 0 30px
		position relative
		color #535356
		text-align left
		transition(.3s)
		&:hover
			color black
		&:before
			position absolute
			left 0
			top 5px
			display block
			content ""
			height 100%
			width 5px
			background-color #E01902
			border-radius(2px)
		&.red
			color #1b8625 !important
			white-space nowrap
			line-height 20px
			height auto
			font-weight bold
			font-size 12px
			width 249px
			padding 0
			transition(.3s)
			span
				display block
				margin-left 30px
			&:before
				display none
			img
				position absolute
				left 0
				margin-top 5px
				display block
			.green
				transition(.3s)
			&:hover
				color #D61C1C !important
				.green
					opacity 0
		&.gray:before
			background-color #737E76
		&.green:before
			background-color #06450C
		&.blue:before
			background-color #07298A
		&.orange:before
			background-color #F88800
		
#cartCounter
	width 20px
	height 20px
	background #79b761
	position absolute
	top -6px
	right 2px
	line-height 20px
	display none
	color white
	font-weight normal
	text-align center
	border-radius(50%)
	
#menuCart
	display block
	width 350px
	background-color white
	border-right 1px solid #C6C6C6
	border-left 1px solid #C6C6C6
	z-index 1
	right 0
	margin-top 1px
	padding-left 10px
	max-height 0
	overflow hidden
	position absolute
	transition(0.3s)
	.sum
		color #198900
		line-height 36px
		margin 0 14px 0 4px
		font-weight normal
		font-size 16px
		text-align right
		float right
		b
			color #198800
			font-size 17px
	.actions
		margin-left -10px
		display block
		height 36px
		border-top 1px solid #C6C6C6
		border-bottom 1px solid #C6C6C6
		a
			color #efefef
			padding 0 10px
	.cart-list
		margin-top 10px
		max-height 460px
		overflow auto
		> a
			height 100px
			margin-bottom 15px
			display block
			img
				width 100px
				height 100px
				float left
			> div
				display table
				height 100px
				width 210px
				margin-left 115px
				text-align left
				text-decoration underline
				> div
					display table-cell
					vertical-align middle
					font-size 13px
					line-height 20px
					div
						float right
						color #198800
						margin-left 10px
					ins
						font-size 14px
						color #030000
						
.admin-nav
	position absolute
	left 280px
	top 10px
	font-size 13px
	text-transform uppercase
	div
		border 1px solid #aaa
		font-weight bold
		line-height 32px
		padding 0 15px
		width 130px
		text-align center
		transition(.3s)
	ul
		border 1px solid #aaa
		border-width 0 1px
		display none
		position absolute
		width 160px
		z-index 1000
		background-color white
	li
		padding 5px 0
		line-height 16px
		border-bottom 1px solid #aaa
		text-align center
		transition(.3s)
		&:hover
			background-color #eee
	&:hover
		div
			background-color #eee
		ul
			display block

#compactMenuToggle
	display none
	width 28px
	border 4px solid #363636
	border-width 4px 0
	padding 4px 0
	position absolute
	top 26px
	right 26px
	div
		height 4px
		background #363636
		
#mainMenuCompact
	display none
	color #58585A
	text-align center
	font-size 18px
	text-transform uppercase
	width 100%
	background-color white
	position absolute
	z-index 100
	top 128px
	left 0
	right 0
	max-height 60%
	overflow auto
	a
		display block
		line-height 40px
		border-bottom 1px solid #c6c6c6
		transition .3s
		&:hover
			color #847d6d
		
@media(max-width 1330px)
	#header
		.wrap
			margin 0 1%
		.menu .item
			> a, > span
				font-size 13px
				padding 0 10px
@media(max-width 1165px)
	#header
		.menu .item
			> a, > span
				font-size 12px
				padding 0 8px
@media(max-width 1065px)
	#header
		.menu .item
			> a, > span
				font-size 11px
				padding 0 5px
@media(max-width 950px)
	.admin-nav
		left 130px
		top 65px
	#header
		height 127px
		.logo
			left 16px
		.wrap
			margin 0
		.menu
			display none
		.cart
			right 26px
			top 80px
			> a
				padding 0
		.phone
			position absolute
			top 20px
			right 109px
			margin 0
			padding-left 30px
			background url('/assets/phone-header.png') no-repeat
			background-position 0 2px
			p
				font-size 31px
			ins
				display none
		.search
			position absolute
			margin 0
			right 108px
			top 78px
	#blur > .main
		top 127px
	#compactMenuToggle
		display block
@media(max-width 978px)
	#jivo-iframe-container
		bottom 80px !important
@media(max-width 640px)
	#header
		.logo
			left 10px
		#compactMenuToggle, .cart
			right 10px
		.phone, .search
			right 70px
@media(max-width 575px)
	#header
		.phone, .search
			right 60px
		.phone
			background-position 0
			background-size 24px 24px
			top 24px
			p
				font-size 24px
		.search
			input[type=text]
				width 158px
			label
				font-size 12px
				padding 6px 3px 6px
@media(max-width 510px)
	#header
		.logo
			left 5px
			img
				width 170px
@media(max-width 465px)
	#header
		.logo img
			width 150px
		.phone, .search
			right 50px
@media(max-width 445px)
	#header
		.logo img
			width 150px
@media(max-width 435px)
	#header
		.logo img
			width 130px
		.phone
			background-size 18px 18px
			p
				font-size 18px
@media(max-width 370px)
	#header
		.logo img
			width 100px