border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n
transition(n)
	-webkit-transition n
	-moz-transition n
	-o-transition n
	transition n
box-shadow(n)
	-webkit-box-shadow n
	-moz-box-shadow n
	box-shadow n
text-shadow(n)
	-webkit-text-shadow n
	-moz-text-shadow n
	text-shadow n
transform(n)
	-webkit-transform n
	-moz-transform n
	-ms-transform n
	-o-transform n
	transform n
user-select(n)
	-webkit-user-select n
	-moz-user-select n
	-ms-user-select n
	user-select n