@import 'mixins'

.product-wrap
	display table
	max-width 1235px
	width 100%
	border-bottom 1px solid #cecece
	> div
		display table-cell
		vertical-align top
		position relative
	.mini
		max-width 472px
		margin 20px auto
		@media (max-width 505px)
			max-width 325px
		@media (max-width 360px)
			max-width 147px
		.item:focus
			outline 0
		img
			width 145px
			height 145px
			border 1px solid #ccc
			&.active
				border-color #f60
		.slick-arrow
			font-size 0
			position absolute
			top 50%
			width 8px
			height 14px
			margin-top -7px
			border 0
			padding 0
			cursor pointer
			&:focus
				outline 0
		.slick-prev
			left 0
			background-image url("/assets/productMiniPrev.png")
		.slick-next
			right 0
			background-image url("/assets/productMiniNext.png")
	.photoes
		position relative
		border 1px solid #cfcfcf
		div
			display none
		.active
			display block
		img
			width 492px
			display block
		a
			display block
			width 31px
			height 32px
			position absolute
			right 8px
			bottom 8px
			background url('/assets/product/zoom.png')

.productContent
	width 100%
	position relative
	padding-left 32px
	h1
		font-size 24px
		color black
		margin-bottom 21px
		font-weight bold
		color black
		position relative
		top -8px
	> p
		color #58585A
		font-size 13px
		b
			margin-right 5px
			color black
	> :last-child
		color black
		font-weight bold
		font-size 15px
		margin-bottom 20px
	.presence
		margin 6px 0 21px
		border 1px solid #cecece
		padding 0 19px 0 10px
		line-height 28px
		height 28px
		font-size 14px
		color #5a5a5a
		display inline-block
		border-radius 2px
		.round
			display inline-block
			vertical-align middle
			margin-right 11px
			width 14px
			height 14px
			border-radius 50%
	.buttons
		display table
		> div
			display table-cell
			vertical-align top
			&:first-child
				width 382px
		.btn
			text-align center
			line-height 31px
			height 31px
			border 1px solid
			border-radius 4px
			width 273px
			font-size 15px
			padding 0
			transition(.3s)
			img
				vertical-align middle
				position relative
				top -1px
				display inline-block
				margin-right 10px
			&:hover
				box-shadow(0 1px 7px rgba(0, 0, 0, .2))
			&.green
				text-shadow(1px 1px 2px rgba(0, 0, 0, .3))
				color white
				background #7ab652 linear-gradient(#85d248, #7ab652)
				border-color #79b551
			&.white
				color black
				background #f0f0f0 linear-gradient(#fff, #f0f0f0)
				border-color #9a9a9a
		@media (max-width 1200px) and (min-width 1000px), (max-width 675px)
			display block
			> div
				display block
			.green
				margin-bottom 15px
	.links
		margin 54px 0 0
		a
			display inline-block
			vertical-align top
			color #363636
			img
				margin-right 16px
			> *
				display inline-block
				vertical-align middle
			& + a
				margin-left 94px
			span
				text-decoration underline
		@media (max-width 1340px) and (min-width 1000px), (max-width 815px)
			a + a
				margin-left 30px
		@media (max-width 1210px) and (min-width 1000px), (max-width 685px)
			a:last-child
				display block
				margin 15px 0 0
		@media (max-width 1040px) and (min-width 1000px)
			a:nth-child(2)
				display block
				margin 15px 0 0
	.rounds
		margin-top 16px
		.half
			display inline-block
			vertical-align top
			padding 10px 0
			&:first-child
				margin-right 60px
		a
			display inline-block
			vertical-align top
			text-align center
			img
				display inline-block
				margin-bottom 5px
				width 68px
				height 67px
			& + a
				margin-left 60px
			p
				font-weight normal
		@media (max-width 1180px) and (min-width 1000px), (max-width 655px)
			.half
				display block
				& + .half
					margin 20px 0 0
			a
				width 130px
				&:nth-child(3)
					margin-left 0
					margin-top 20px
					display block

.others
	.header
		border-bottom 1px solid #cecece
		font-size 24px
		padding 14px 0 28px
	.wrap
		overflow auto
		padding 20px 0 80px
		margin-bottom -30px
		.table
			width 100%
			font-size 0
			.articul, .price-row
				height 20px
				font-size 12px
			> div
				display inline-block
				width 18%
				min-width 150px
				color #59595B
				text-align center
				height 100%
				position relative
				border 1px solid transparent
				vertical-align top
				padding 10px 10px 0
				line-height 20px
				margin-bottom 10px
				.appear
					margin 0
					position absolute
					background white
					border 1px solid transparent
					border-top 0
					left -1px
					right -1px
					padding 0 10px
					div
						height 0
						overflow hidden
						transition(.3s)
					.fancyButton
						float none
						display inline-block
						border 0 solid #A6A6A6
						transition(.3s)
				.left, .right
					top 62px
					margin 0
					position absolute
					display none
					cursor pointer
					z-index 5
				.left
					left 20px
					width 28px
					height 28px
					background-image url(/assets/left.png)
				.right
					right 20px
					width 28px
					height 28px
					background-image url(/assets/right.png)
				.left.inactive
					background-image url(/assets/leftInactive.png)
				.right.inactive
					background-image url(/assets/rightInactive.png)
				.photoes
					margin 0
					a
						display none
						img
							width 150px
							height 150px
					.showPhoto
						display block
				div
					a
						display block
						width 100%
						font-size 14px
					b, span
						font-size 12px
			> div:hover
				border-color #ccc
				z-index 10
				.appear
					border-color #ccc
					div
						height 20px
					.fancyButton
						height 19px
						border-width 1px
						margin 10px 0 5px
				.left, .right
					display block
		
@media (max-width 1000px)
	.product-wrap
		> div
			display block
		.productContent
			padding 20px 0 0 0
			width auto
		.photoes
			img
				margin 0 auto
				width auto
				max-width 100%
				
#product-page
	.header
		color black
		padding 20px 0 22px
		font-size 26px
		font-weight bold
	.tabs
		border 1px solid #C3C3C4
		font-size 0
		div
			border-right 1px solid #C3C3C4
			width 187px
			background-color #E8E8E8
			font-size 13px
			color #292929
			line-height 36px
			font-weight bold
			text-align center
			display inline-block
			cursor pointer
			@media (max-width 625px)
				width auto
				padding 0 20px
		.active
			background-color white
	.tabs-pages
		margin-bottom 10px
		user-select(none)
		> div
			padding 4px 15px 3px
			margin-top -1px
			border 1px solid #C3C3C4
			display none
		> div.active
			display block
		.textures
			width 100%
			font-size 0
			transition(.3s)
			> div
				height 0
				overflow hidden
				width 120px
				display inline-block
				transition(.3s)
				p
					font-size 11px
					color black
					margin 0 0 10px
					text-align center
					white-space nowrap
				.texture-image
					display block
					width 100%
					height 60px
					> img
						display block
						width 60px
						height 100%
						margin 0 auto
						border-radius(30px)
		.checkbox
			display block
			width 14px
			height 14px
			background-image url('checkbox.png')
			background-size 100% 100%
			cursor pointer
			margin 7px 0 0 13px
			min-height auto
			padding-left 0
		.color .checkbox
			display inline-block
			margin-top 22px
		.color i
			display inline-block
			margin-top 22px
		.checked
			background-image url('checkbox-checked.png')
		.color, .catalog
			margin 11px 0 12px
		.color, .catalog > div
			> *
				display inline-block
				vertical-align top
			a img
				height 57px
				margin-right 16px
			> p
				line-height 57px
				font-size 13px
				font-weight bold
				color #292929
			.color-down, .color-up
				background-image url('color-down.png')
				width 14px
				height 12px
				background-repeat no-repeat
				background-position 3px 3px
				border 1px solid #7B7B7B
				margin 23px 0 0 8px
			.color-up
				background-image url('color-up.png')
				background-position 4px 3px
		.catalog
			> div
				cursor pointer
			.open + .textures
				margin 11px 0 7px
				> div
					margin 5px 0
					height 107px
		.prsizes, .proptions
			padding 30px 0 5px 30px
			.checkbox
				display inline-block
				position relative
				top 1px
				margin 0 13px 0 0
			> div
				font-size 13px
				color black
				font-weight bold
				margin-bottom 18px
		.size
			display none
		.cur
			display block
			.hint
				padding 20px
				
#pricePanel
	border 1px solid #cecece
	background #f8f8f8
	display table
	width 100%
	box-sizing border-box
	margin-bottom 34px
	&.without-old
		.old img, .save, .round
			display none !important
		.price
			color black !important
			.purple
				display none !important
			.black
				display inline-block !important
	> div
		display table-cell
		vertical-align top
	> .left
		white-space nowrap
		padding 22px 18px 15px 24px
		min-width 321px
		.columns
			display table
			width 100%
			font-weight bold
			> div
				display table-cell
				vertical-align top
			.round
				width 70px
				height 70px
				line-height 70px
				border-radius 50%
				background #c30599
				font-size 26px
				text-align center
				color white
				position relative
				top 3px
		.old
			padding-bottom 2px
		.save
			padding-top 3px
		.price
			font-size 24px
			color #c20699
			.black
				display none
	> .right
		padding 20px 12px 20px 18px
		width 99%
		font-size 14px
		u
			font-weight bold
		p + p
			margin-top 11px
	@media (max-width 1230px) and (min-width 1000px), (max-width 700px)
		display block
		> div
			display block
		> .left
			min-width 0
		> .right
			width auto