@import 'mixins'

@font-face
  font-family 'PT Sans'
  font-style normal
  font-weight 400
  src local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2')
  unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
@font-face
  font-family 'PT Sans'
  font-style normal
  font-weight 400
  src local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
@font-face
  font-family 'PT Sans'
  font-style normal
  font-weight 700
  src local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format('woff2')
  unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
@font-face
  font-family 'PT Sans'
  font-style normal
  font-weight 700
  src local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000


#blur
	-webkit-filter blur(0px)
	filter blur(0px)
	transition(1s)
	&.active
		-webkit-filter blur(3px)
		filter blur(3px)

#dark
	position fixed
	top 0
	left 0
	height 100%
	width 100%
	z-index 100
	display none
	color #333
	.bg
		display block
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		background -webkit-radial-gradient(transparent, rgba(0, 0, 0, .6));
		background radial-gradient(transparent, rgba(0, 0, 0, .6));
	> div
		display none
		position absolute
		top 50%
		left 50%
		background-color white
		box-shadow(2px 4px 16px #333)
		.header
			line-height 32px
			border 1px solid #aaa
			border-width 1px 0
			background-color #fffdad
			font-weight bold
			text-align center
	.otzyv
		margin-top -225px
		margin-left -225px
		width 450px
		height 450px
		.title
			font-size 24px
			color #4FB859
			line-height 48px
			font-weight bold
			text-align center
			margin-bottom 5px
		label
			display block
			margin-bottom 10px
			height 36px
			p
				position absolute
				left 30px
				line-height 36px
			input
				position absolute
				height 34px
				border 1px solid #4FB859
				padding-left 16px
				right 30px
				border-radius(4px)
		> p
			text-align center
			line-height 36px
		textarea
			width 340px
			height 140px
			margin 0 auto
			display block
			padding 10px
			
.notice
	width 450px
	padding 20px 40px
	border 1px solid #aaa
	text-align center
	color #2EA039
	margin-top 20px !important
	background-color #fafafa
	position relative
	.close
		position absolute
		top 5px
		right 10px
		color #333
		
.product-description
	margin-bottom 10px
	color #333 !important
	p
		margin-bottom 5px
		padding-left 0 !important
	*
		font-size 14px !important
	strong
		padding-right 5px
		
.seo-text
	font-size 12px
	color #333
	h2
		margin 20px 0 10px
		text-align center
	p
		margin 0 0 10px
		line-height 22px
	b
		color #29981F

.seo_text
	width auto !important
	height auto !important
	display block !important
	font-size 12px
	margin-top 100px
	padding 15px
	margin-bottom 30px
	color #58585a
	p
		margin 16px 0
	ul
		padding inherit
		li
			list-style-type inherit
			
#comments
	.otzyv, .response
		margin-bottom 46px
		color #444
		.header
			border 1px solid #AFAFAF
			border-width 1px 1px 0
			font-style italic
			font-size 17px
			padding 16px
			background-color #E8E8E8
			font-weight bold
			border-radius(8px 8px 0 0)
		.body
			border 1px solid #AFAFAF
			border-width 0 1px 1px
			padding 0 16px 16px
			font-size 15px
			line-height 21px
			background-color #E8E8E8
			border-radius(0 0 8px 8px)
		.bottom
			color #4DB865
			*
				font-style italic
		.name
			position relative
			margin-left 15px
			margin-top -1px
			padding 10px 0 0 15px
			float left
		.date
			float right
			padding 9px 3px 0 0
		.quote
			width 12px
			height 18px
			position absolute
			top 0
			left 0
			background-image url('/assets/otzyv.png')
	.response
		position relative
		margin 60px 46px 46px
		.quote
			background-image url('/assets/otzyv-up.png')
			left 15px
			top -17px
			
.show
	.page-title
		font-size 20px
		font-weight normal
		line-height 20px
		margin 10px
		vertical-align middle
		display inline-block
		img
			position relative
			top 2px
			width 58px
			height 17px
	.options
		margin-top 20px
		border-top 1px solid black
				

#blur
	height 100%
	> .main
		border-top 1px solid #C6C6C6
		position absolute
		width 100%
		top 99px
		bottom 0
		overflow auto
		z-index 0
		#content-wrap > div
			margin 0 auto
			height 100%
		.images
			font-size 0
			li
				display inline-block
				img
					width 150px
					height 100px
					margin 20px
				p
					font-size 14px
					cursor pointer