<br><h2 class="text-center">Список Категорий</h2><br>

<%= sanitize(PaintTree(true)) %>
<br />
<div class="text-center">
<%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
</div>