<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто то запросил смену вашего пароля на сайте интернет магазина www.DreamMag.ru. Что бы сменить пароль, пройдите по ссылке.</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали смену пароля, просто проигнорируйте это письмо.</p>

--- <br/>
С уважением, <br/>
администрация сайта <%= link_to "parra-shop.ru", "http://www.parra-shop.ru" %><br/>
Тел: +7 (495) 728-20-90<br/>
e-mail: orders@parra-shop.ru<br/>
