<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ваш аккаунт на сайте интернет магазина www.DreamMag.ru ,из за многократных попыток входа под неверным паролем</p>

<p>Щелкните по ссылке что бы разблокировать ваш аккаунт:</p>

<p><%= link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token) %></p>

--- <br/>
С уважением, <br/>
администрация сайта <%= link_to "parra-shop.ru", "http://www.parra-shop.ru" %><br/>
Тел: +7 (495) 728-20-90<br/>
e-mail: orders@parra-shop.ru<br/>