<br><h2 class="text-center">Редактировать продукт</h2><br>

<%= render :partial => 'form' %>

<%= link_to 'Показать', @product %> |
<%= link_to 'Список Продуктов', if(@product.category) then @product.category else products_path end %>