<p>
  <strong>category_id:</strong>
  <%= @product.category_id %>
</p>

<p>
  <strong>scode:</strong>
  <%= @product.scode %>
</p>
 
<p>
  <strong>name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Images:</strong>
  <%= @product.images %>
</p>