<link href="/assets/bootstrap.min.css" media="all" rel="stylesheet">
<%= form_tag '/images', method: :post, multipart: true do %>
  	<div class="text-center" style="margin: 30px 25px">
  		<%= file_field_tag "file" %>
  	</div>
  	<div class="text-center" style="margin: 30px 0">
		<input class="btn btn-success" type="submit" value="ДОБАВИТЬ">
	</div>
<% end %>