<%= form_tag '/images', method: :post, multipart: true do %>
	<p class="modal-form-title">Добавить изображение</p>
  	<%= file_field_tag "file" %><br>
	<input type="submit" value="ДОБАВИТЬ">
<% end %>